[2016-02-09 09:45] kollp commented on #973
hat leider nicht geklappt, problem bleibt bestehen.

[2016-02-09 10:05] xantippe commented on #973
welche DCG-Version? siehe https://community.contao.org/de/showthread.php?61190-Datens%E4tze-lassen-sich-nicht-erstellen-bearbeiten&p=398440&viewfull=1#post398440

[2016-02-09 10:15] kollp commented on #973
DCG steht auf beta33

![bildschirmfoto 2016-02-09 um 11 14 53](https://cloud.githubusercontent.com/assets/17084821/12913345/69fbede6-cf1e-11e5-85b0-9c9bed4cd0f4.png)

[2016-02-09 10:26] xantippe commented on #973
und was steht in dem Community-Posting..?

[2016-02-09 11:41] discordier commented on #973
Ist gefixt in https://github.com/contao-community-alliance/dc-general/commit/b0cbecd0cb1ec0ef7c3b24988b55d3e3a148e99a

[2016-02-09 11:42] #973 closed

[2016-02-09 11:43] discordier commented on #971
Genauer: wurde mit https://github.com/contao-community-alliance/dc-general/commit/b0cbecd0cb1ec0ef7c3b24988b55d3e3a148e99a gefixt.

[2016-02-09 16:14] transopticmedia opened #974 "Felder sind unsichtbar im BE Eingabe Formular"
Für mich sind Felder in der Eingabe Formular nur sichtbar wenn "Pflichtfeld" gecheckt ist. Sonst, ist das Fieldset mit dem CSS-Class "collapsed" versteckt. Auch, wenn ich einen Beitrag aus der liste von bestehenden Beitrage bearbeiten möchte, ist den auch mit CSS versteckt, egal ob die Felder "Pflichtfeld" waren oder nicht. Ich weiss nicht ob das ein Bug ist, oder "user error". Danke!

<img width=

[2016-02-09 16:30] xantippe commented on #974
dürfte hierzu passen - siehe auch "fixing"

https://community.contao.org/de/showthread.php?61190-Datens%E4tze-lassen-sich-nicht-erstellen-bearbeiten

[2016-02-09 16:45] transopticmedia commented on #974
Danke! Hat geklappt.

[2016-02-09 16:45] #974 closed

[2016-02-09 18:38] xantippe commented on #967
Dank!

[2016-02-09 20:29] stefanheimes commented on #957
@xantippe I take a look into the flow of the data. At the end of the trail you where in the "searchFor" of the attribute and there we have for all simple attributes one function https://github.com/MetaModels/core/blob/master/src/MetaModels/Attribute/BaseSimple.php#L154.

Maybe here is the problem? We searched with a "like".

[2016-02-09 21:09] xantippe commented on #957
wo müsste man ansetzen für ein eigenes Query?
hier https://github.com/MetaModels/core/blob/fa305c9d3ce55fa0a7c92b37599e09b5c46161a1/src/MetaModels/Filter/Rules/SearchAttribute.php#L74-L81

[2016-02-09 23:53] stefanheimes commented on #954
Should be solved with https://github.com/contao-community-alliance/dc-general/commit/3be9c7e06325c9be3322513ff22d6e413a7306d4.

Should be available with the new version of the DCG 2.0.0-beta34.

[2016-02-10 06:55] xantippe commented on #954
@asaage kannst Du das mal testen?

[2016-02-10 07:59] asaage commented on #954
Frühestens zum Monatsende - sorry.

[2016-02-10 11:11] JLBA commented on #968
One of the problems is probably here ;-)) Even if translate.google.com is a help…
The second one is I'm not developer (htm, css but not php, sql…)

In my actual case, I got 3 MM :
- Seasons (one at a time, defined by a checkbox)
--- Events (many events by season)
----- Dates (one or many dates by event).

What do i need exactly ?

1. In FE, I have to list events but only the one linked to the actu

[2016-02-10 11:22] JLBA commented on #969
Yes I know it but this could be more simpler if there is a text field under the url one to define the word or sentence wanted instead of "see details".

[2016-02-10 11:35] xantippe commented on #968
Have every Event a Date (mandantory)? in this case, may be we "connect" the dates with the seasons...

e.g.
Season 1: 01.01. to 30.06.
Season 2: 01.07. to 31.12.

if we have date with 03.04. the event is in season 1 or date 01.09. in season 2

[2016-02-10 12:10] discordier commented on #969
This would be many text boxes, as it would need to be available and defined for every language. That's the reason why you can override it via language file.

[2016-02-10 13:15] JLBA commented on #969
No more than in other parts of MM which is natively multilingual.

Another problem is that one could need different words depending on what the module is listing. How can  I specify for which module in langconfig.php ?

[2016-02-10 13:33] xantippe commented on #969
you can make your own nodes

use this in different templates
[code]
[code]

if you use FE-MM-List as FE-Module, you can retrive the Module ID and change link text

[2016-02-10 13:56] JLBA commented on #969
Thanks.

[2016-02-10 14:00] xantippe commented on #969
that´s all? ... you can close the issue ;-)

[2016-02-10 14:03] JLBA commented on #969
I close.

[2016-02-10 14:03] #969 closed

[2016-02-10 14:07] xantippe commented on #954
Test:
dcaconfig.php:
[code]
=>

![shot95](https://cloud.githubusercontent.com/assets/1045318/12949430/0dc7f93a-d008-11e5-9cce-f9e5bcacd840.jpg)

[2016-02-10 14:21] JLBA commented on #968
Perhaps but I got 3 problems :

- seasons are across two years from september to june ;
- user must be able to decide when to display the new season's datas and events ;
- let's rename Dates by Meetings (and mm_Dates by mm_Meetings) ; events have no specific dates but many meetings about ; for example, a writer is coming and we can meet him in 3 occasions ;

So I prefer having a checkbox ; when it

[2016-02-10 14:48] xantippe commented on #968
may be it´s bette we change to contao community forum
https://community.contao.org/de/forumdisplay.php?149-MetaModels
- imho is your question not a bug or feature request...

...you can write in english ;-)

and: have you a test or live website?

[2016-02-10 14:58] JLBA commented on #968
My question _is really_ a feature request : in one MM, is it possible to have access to data from linked MM :
- in filter by using a specific filter attribut (and without having to create a sql request)
- in rendersetting, by using a specific "linked list" or "sub-list" attribute (so without having to create a personnalized template) ?

The example I gave was just for the example.

[2016-02-10 15:06] xantippe commented on #968
you can test with ""Mein erstes MetaModel" V2" http://www.e-spin.de/contao-metamodels.html

look at "abteilung" - ist a related MM per [select] attribute
[code]

[2016-02-10 15:32] JLBA commented on #968
I've downloaded it but how to use it ? I'm on Mac with MAMP.

Otherwise, how did you insert the sublist in the rendersettings (or in the personalized template) ?

[2016-02-10 17:04] JLBA commented on #968
I�ve installed and tested it but this doesn�t exactly what I�m looking for. What if there are many Abeilung for one Name ?
Or, reported to my case have a list with a sublist within :
- Event 1 : Meeting 1, meeting 2, meeting 3
- Event 2 : Meeting 1
- Event 3 : meeting 1, meeting 2
- and so on�

So my firstrequest to MM devs is for a rendersetting attribute �sub-list from linked mm� which would cre

[2016-02-10 22:38] stefanheimes commented on #946
Ich weiß was der Fehler ist, ich kann es aber nicht nachstellen. Ich lege ein MM an und gehe ohne ein Eingabe auf den Zurück-Button, aber es passiert nichts.

[2016-02-10 22:56] stefanheimes commented on #939
Sollte mit der nächsten MM und DCG behoben sein.

[2016-02-10 23:22] stefanheimes commented on #954
Für das neue Select muss die ID als String angegeben werden dann geht das auch.

[2016-02-11 06:08] xantippe commented on #946
sihe auch https://community.contao.org/de/showthread.php?61220-Fatal-Error-Problem-mit-MySQL-Server-Version-bei-Aufruf-von-Metamodel

[2016-02-11 06:14] xantippe commented on #954
* welche Version soll/kann ich testen?
* bei Tags dann im Array auch IDs?

[2016-02-11 15:15] JLBA opened #975 "BE : losing inputscreen attributes if adding new attribute(s) when MM has some records"
Hi,

I got this problem for the second time with Contao 3.5.4 / Composer / MM/bundle_all 2.0.0 (bugfix release).

I've created some records in a MM. Then I add some new attributes (longtext in this case) and add them to the corresponding rendersetting and inputscreen.

Then, if I go to the MM in the BE, the list is ok (rendersetting) but if I edit one record, the inputscreen is totally empty.

If

[2016-02-11 15:29] xantippe commented on #975
I hope Google can translate it...
https://community.contao.org/de/showthread.php?61234-Achtung!-wenn-nach-Update-Eingabemasken-nicht-mehr-zu-sehen-sind
https://community.contao.org/de/showthread.php?61190-Datens%E4tze-lassen-sich-nicht-erstellen-bearbeiten
https://github.com/MetaModels/core/issues/974

[2016-02-11 15:33] xantippe commented on #967
die Vorgabeparameter der Attribute in den  Eingabemasken sind in Arbeit... für die Beeinflussung der ganzen EIngabemasken oder Items fehlen (aktuell) die entsprechenden Funktionen im DCG... der ist bei MM dafür zuständig und nicht "Contao-Core"

[2016-02-11 16:09] JLBA commented on #975
Thanks xantippe,
your going to become my new best friend on the web ;-))

I have deleted my MM, my tables and MM itself. Reinstalled MM, recreated the MM… and the pb is still here !! Will I have to restart all my website from scratch to suppress it ?

It effectively seems to work if I add an activated legend before like said in the 1st discussion (and perhaps at the end of the second one but I hav

[2016-02-11 16:46] stefanheimes commented on #946
Wie gesagt ich weiß wo der Fehler sitzt und auch warum, ich weiß nur nicht wie es überhaupt soweit kommen kann. Wenn ein leres MM angelegt wird, also die Grundeinstellungen, ich nicht speicher und zurück gehe, hab ich auch keine Leiche in der DB. Das ist mein Hauptproblem. Ich weiß nicht wie ich diese Leiche in der Datenbank hinbekommen soll. Das System versucht alle MM Tabellen auszulesen, da es

[2016-02-11 16:49] xantippe commented on #975
you can use a workariund: add a legend at your input screen - see https://community.contao.org/de/showthread.php?61190-Datens%E4tze-lassen-sich-nicht-erstellen-bearbeiten&p=398526&viewfull=1#post398526

or you can update https://community.contao.org/de/showthread.php?61190-Datens%E4tze-lassen-sich-nicht-erstellen-bearbeiten&p=398514&viewfull=1#post398514
pls read http://metamodels.readthedocs.org/

[2016-02-11 16:52] xantippe commented on #970
any questions or can close it - look at #969 ?

[2016-02-11 17:08] JLBA commented on #970
yes, we ca&n ;-) Thanks

[2016-02-11 17:08] #970 closed

[2016-02-11 17:26] xantippe commented on #946
wenn ich an der Stelle bin

![shot97](https://cloud.githubusercontent.com/assets/1045318/12984006/267e6d30-d0ec-11e5-9f1f-dc9856729e67.jpg)

wird bei mir in der DB schon ein Datensatz angelegt

![shot98](https://cloud.githubusercontent.com/assets/1045318/12984049/52de9472-d0ec-11e5-825f-02fdc3271d33.jpg)

... wenn ich nichts speichere bzw. während des Zustandes in einem anderen Browser-Tab auf MM

[2016-02-11 17:51] asaage commented on #967
Danke für das Statusupdate. Dass das über den DCG geht ist mir schon bewusst. Ich hab allerdings noch nie so recht Begriffen, warum man darauf aufbaut, wo DCG doch ziemlich viele Dinge teilweise buggy imitiert, die DC_Table schon mitbringt - zumindest ist das manchmal mein Eindruck.

[2016-02-11 18:42] xantippe commented on #967
bezüglich DCG kann ich nur mir "zusammengehörtem Halbwissen" aufwarten... der DC_Table ist wohl recht "monolitisch" aufgebaut und aus div. Gründen nicht unbedingt "zukunftsfähig" - der DCG ist von der Struktur anders und kann aufgrund des "neueren Datums" (noch) nicht alles, was DC_Table kann...

Soweit ich informiert bin, soll es in Kürze ein Entwicklertreffen geben, um das Thema bezüglich pro&co

[2016-02-11 18:45] xantippe commented on #968
hmmm... sorry, I don't understand your description unfortunately... may be, you can send me a link to your project per PN at Forum (nickname "zonky")

[2016-02-11 18:52] asaage commented on #967
Ja "zusammengehörtes Halbwissen" trifft's bei mir auch ganz gut :)

[2016-02-11 18:54] xantippe commented on #967
... das können wir ja morgen beim Stammtisch zusammen werfen ;-)

[2016-02-11 20:46] xantippe commented on #926
@MoniqueHahnefeld ist die Sache nun damit gefixt?

[2016-02-11 20:47] xantippe commented on #929
und, wie siehts aus?!

[2016-02-11 20:49] xantippe commented on #939
uff... zum Testen habe ich mit dem Label nur 5 Tage - welche Version(en) soll ich ziehen?

[2016-02-11 22:01] cliffparnitzky commented on #929
ich warte eigentlich auf Zugriff ...

[2016-02-12 06:03] xantippe commented on #929
vielleicht können wir das zum nächsten MM-Call (abschließend) klären... aber einen PR könnte man aber schon (vorher) machen... ;-)

[2016-02-12 07:03] zonky2 opened #976 "erste Render-Einstellung per Default als Standard"
da es die Maßgabe gibt, eine Render-Einstellung soll als Standard definiert sein, wäre es gut, die erste Render-Einstellung per Default auf Standard zu setzen

[2016-02-12 10:02] discordier commented on #976
Das myssen wir diskutieren.
Ich wollte die Standard Checkboxen entfernen.
Wir haben ja seit langem die combinations

[2016-02-12 10:13] discordier commented on #946
Das ist es eben. Der Dc General legt eben normalerweise keinen Datensatz an. Deshalb koennen wir es auch nicht nachstellen.
Bei mir passiert wie bei Stefan auch nix.

[2016-02-12 10:36] MacKP commented on #946
Hmm ich kann das auch nachstellen: MM anlegen.. Formular nicht ausfüllen, sondern einfach zurück gehen. Fertig. Schon hab ich auch das Problem. Ich frage mich gerade wie ihr es nicht schafft das nachzustellen xD

[2016-02-12 10:36] blackbee commented on #807
Hi everybody,

can you explain, which file and which line in the core is producing this issue? So maybe I can takie a look at the line and may be put a fix for me inside. I need the Cron Jobs and the automator functions.

Background:
I wondered why several Cron Job Tasks not working anymore. So i tried to deactivate all extensions and tried to locate the problem, which results this redirect. And i

[2016-02-12 10:37] xantippe commented on #946
welchen DCG habt "Ihr", den "wir" nicht haben ;-)

[2016-02-12 12:10] xantippe commented on #946
btw: ich habe das mit dem Verhalten vom Contao-Core verglichen: z.B. Seite anlegen: hat man die Eingabemaske für die Einstellungen einer neuen Seite, wird auch hier gleichzeitig ein DB-Eintrag angelegt - wir die Webseite geschlossen/Browser gekillt, ist der Eintrag in der DB wieder weg..!?? MySQL-Trigger?

[2016-02-12 15:17] stefanheimes commented on #946
ICh wandere zwischen leter Version und den nächsten Version des DCG und MM her, ich werde das nochmal prüfen mit den alten und den neuen.

[2016-02-14 09:01] MiniModel commented on #954
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@xantippe could you please have a final look at this and tell if your iss

[2016-02-14 09:01] Teetrinker commented on #954
Sehr geehrte Damen und Herren

Danke für Ihre Nachricht. Bis zum 22. Februar lese ich E-Mails unregelmässig.

Ihre Nachricht wird nicht weitergeleitet. Gerne kümmert sich Peter Oberhänsli um Ihr Anliegen:
p.oberhaensli@webbaumeister.ch

In Fällen die dringend und wichtig sind, können Sie mir eine SMS auf 079 530 25 24 schreiben um auf ihr E-Mail hinzuweisen.

Mit freundlichen Grüssen
David Bopp

[2016-02-14 17:30] xantippe commented on #954
kann man @Teetrinker nicht mal raus werfen - mit den ständigen Auto-Antworten ist das nervig!

[2016-02-14 18:44] discordier commented on #954
Koennen wir nicht. Zumindest nicht ohne ihn komplett von allen unseren repos auszuschliessen

[2016-02-14 21:01] MiniModel commented on #939
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@xantippe could you please have a final look at this and tell if your iss

[2016-02-15 07:53] xantippe commented on #968
@JLBA I have sent you a reply in the forum..

[2016-02-15 10:00] HRP2016 opened #977 "Select/Auswahl-Feld nicht korrekt auswählbar"
Bei den aktuellen Nightly Builds ist die Zuweisung eines Select/Auswahl-Feldes nicht möglich. Mehrfachauswahl geht. (Stand 13.02.2016) Contao Installation 3.5.6, MM Core dev-master @ d4ba65 mit dc-general dev-develop @ 93cc98.

Div Fehlermedlungen:

Unbekanntes Attribut! []
Erweiterung fehlt? Der Attributtyp "" ist nicht installiert.

sowie

Warning: Illegal offset type in system/modules/metamodel

[2016-02-15 14:09] JLBA commented on #968
I saw. I answered to you.

[2016-02-16 22:56] Teetrinker commented on #954
Sorry Leute, bin in den Ferien...
on a sidenote: Gibt es denn keinen Weg Auto-Antworten und Git-Hub-Abos zu vereinen?

[2016-02-17 08:31] xantippe commented on #977
Workaround: https://github.com/MetaModels/attribute_select/issues/48#issuecomment-185084637

[2016-02-17 17:35] discordier commented on #954
Das musst du deinen autoresponder fragen. Normalerweise sollte man da eine Blacklist eintragen koennen.
Der Sinn der autoresponder erschliesst sich mir jedoch allgemein nicht, oder schicken deine Kollegen bei Briefpost auch eine Antwort raus, dass du gerade nicht da bist und daher der Brief aktuell nicht bearbeitet wird? ;)

[2016-02-17 20:02] xantippe opened #978 "Error bei Bearbeiten einer Ansichtsbedingung"
Habe eine Ansichtsbedingung eingefügt (nach Fehlermeldung und "zurück" ist diese dennoch da - siehe https://github.com/contao-community-alliance/dc-general/issues/188#issuecomment-185377707) - bei Klick auf Stift der Ansichtsbedingung kommt:

MM alpha10
DCG beta34

[code]

[2016-02-17 20:42] xantippe commented on #978
wenn die Exception übergangen wird, kann man die Ansichtsbedingung bearbeiten und der Fehler ist weg

[2016-02-17 20:46] xantippe opened #979 "FR: Ansichtsbedingung neben "Sichtbar" optional readonly bzw. disabled"
bei bestimmten Abhängigkeiten ist es für den Benutzer übersichtlicher die "kommenden" Eingabefelder schon vorher zu sehen und die nach den eingegeben Regeln auf "bearbeitbar" zu schalten (je nach Eingabetyp: readonly/disabbled)

z.B. abhängige Select-Felder mit Land > Bundesland > Stadt - die könnte man in der Auswahlhierarchie einblenden - besser wäre es, diese schon anzuzeigen und nur die Bearbe

[2016-02-19 02:43] discordier commented on #807
The problem lies within `\BackendUser::authenticate()`. That one is redirecting to the login screen when no user is authenticated.

[2016-02-19 08:05] xantippe commented on #651
Test MM alpha10 DCG beta34

* Checkboxmenü: funktioniert
* Checkbox-Wizard: funktioniert soweit - man darf aber die Reihenfolge nicht mit den Hamburgern verändern
* Pickup-Popup: mit schon vorhandenen Werten kommt
[code]
wenn vorher keine Werte vorhanden waren, kann Picker geöffnet werder - nach Auswahl+Anwenden+Speichern+neu öffnen des Picker kommt
[code]
* Tag-Liste: funktioniert

ein Feld mit e

[2016-02-19 08:08] xantippe commented on #977
ist mit hotfix-2.0.0-alpha11 https://github.com/MetaModels/attribute_select/branches gefixt

[2016-02-19 15:22] #977 closed

[2016-02-19 15:24] discordier commented on #651
See https://github.com/contao-community-alliance/dc-general/commit/d169f0dbcf4ccef8cc6c6ea643b5282a1bc3f3f2

[2016-02-19 15:24] #651 closed

[2016-02-19 22:00] xantippe commented on #952
Hallo @030media und @denniserdmann, ich glaube, hier überschneiden sich die Begrifflichkeiten und für mögliche Bugs möchte ich versuchen, dass hier zu trennen.

Der Begriff "Hierarchie" inkl. "Eltern-Kind" wird ab und an an verschiedenen Stellen gleich gebraucht aber was unterschiedliches gemeint.

Zu unterscheiden wäre
* **a)** eine Hierarchie innerhalb einer Tabelle, d.h. die pid bezieht sich im

[2016-02-19 22:07] xantippe commented on #838
@Messa1 ... und?

[2016-02-19 22:09] #831 closed

[2016-02-19 22:12] xantippe commented on #667
mit MM 2.0.0a10 und DCG 2.0.0b34 tritt das Verhalten nicht mehr auf

[2016-02-19 22:12] #667 closed

[2016-02-19 23:53] Teetrinker commented on #954
Mein Anbieter bietet leider keine Möglichkeit zum Nicht-Versand des Autoresponders an bestimmte Adressen.

Sinn und Zweck? Kunden erwarten Antwort auf eine E-Mai innert 1-2 Tagen, man möchte aber mal für 1-2 Wochen offline sein können - diese Lücke füllt der Autoresponder.

Ich werde mal schauen ob ich meine Github-Mails auf eine andere Adresse leiten kann.

[2016-02-21 08:35] xantippe commented on #968
@JLBA o.k. "we" found a solution... and now, we can close the ticket?

[2016-02-21 13:56] xantippe commented on #883
ist mit https://github.com/xantippe/dc-general/commit/1ef3684e5c04795a09625f21d8bfd34ff05f218c gefixt - sowohl für Select als auch Tags

[2016-02-21 23:02] stefanheimes opened #980 "Wrong var-group when duplicate a entry"
See: https://github.com/contao-community-alliance/DC-general/issues/197 for the first error and this
https://github.com/MetaModels/core/blob/master/src/MetaModels/DcGeneral/Events/MetaModel/DuplicateModel.php#L41 for the other problem.

This is the main problem and we are using the wrong event to manipulate the data. We should use the PreDuplicateModelEvent when copy a varbase.

[2016-02-22 07:52] JLBA commented on #968
Yes we can… Thank. Otherwise, I'm still thinking of it as a feature request.

[2016-02-23 09:59] Olli opened #981 "Fehler bzw fehlende Editmaske beim Editieren eines Datensatzes"
Das kommt als Fehlermeldung bzw "Warnung" im Log. Irgendwelche Parameter fehlen im Array
https://gist.github.com/Olli/dafaacc4507b94511c6c
Ich habe gestern ein Update der Metamodels durchgeführt. Verschiedene Module sind auf verschiedenen Alpha Versionen. Welche Version von welchem Paket wird benötigt für eine Fehleranalyse?

[2016-02-23 10:12] xantippe commented on #981
mit dem Suchbegriff "array_key_exists" wird man sowohl hier als auch im Forum fündig...

=> mit Wechsel auf DCG beat34 und MM core alpha10 ist die Sache gefixt

[2016-02-23 11:09] Olli commented on #981
Ich bekomme DCG nicht installiert und mm core alpha10 auch nicht - da spacken die filter und attribute rum.
Ich habe aber gelesen, dass es "nur" eine gesetzte CSS Klasse ist - bis das ins nächste Update einfließt, kann man die auch per Entwicklerwerkzeug on-demand ausschalten.
Danke für den Hinweis.

[2016-02-23 11:09] #981 closed

[2016-02-23 11:15] xantippe commented on #981
hast Du das beachtet?
http://metamodels.readthedocs.org/de/latest/manual/install.html#test-von-speziellen-bundles-via-composer

[2016-02-23 11:18] #975 closed

[2016-02-23 11:26] Olli commented on #981
Nicht ganz - ich habe es mit Clickibunti probiert weil ich dachte "muss auch so gehen". Es macht am Ende nix - ich habe über die Modelle, wie im Thread beschrieben, eine Legende über die Eingabemasken gemacht.
Jetzt geht das übergangsweise :)

[2016-02-23 15:09] zonky2 opened #983 "FR: in Attribut-Templates die Werte deep und url von jumpTo "durchreichen""
In den Attribut-Templates wie z.B. `mm_attr_text` hat man keinen Zugriff auf die Werte deep und url um den Detaillink mit einzubauen z.B. um ein Bild oder ein Textattribut zus. zu verlinken

aktuell geht das nur über das Template `metamodels_prerendered` - hier muss man aber das Attribut anhand des Namens raus fischen und umschreiben

[2016-02-24 07:02] xantippe commented on #978
ist/wird mit https://github.com/contao-community-alliance/dc-general/pull/195 gefixt

[2016-02-24 07:59] xantippe commented on #936
der "Fehler" liegt eher an dem bei der Anzeigekombination ausgewählten Template - ```dcbe_general_grouping``` in https://github.com/contao-community-alliance/dc-general/blob/develop/src/ContaoCommunityAlliance/DcGeneral/Contao/View/Contao2BackendView/ListView.php#L276 welches mit der Tabellenansicht nicht zurecht kommt.

In dem Screenshot nochmal eine Zusammenstellung welche Anzeigenkombination mö

[2016-02-24 21:50] cliffparnitzky commented on #929
Ist gefixt und wird demnächst released.

[2016-02-25 06:10] xantippe commented on #929
prima!

[2016-02-25 12:22] xantippe commented on #624
News: https://now.metamodel.me/de/aktuelles/details/2016-februar-infos

[2016-02-26 01:39] discordier commented on #957
Fixed in
https://github.com/MetaModels/attribute_decimal/commit/27071dd274ce696e578eb66862126fd21c926d6b
https://github.com/MetaModels/attribute_numeric/commit/071e919d2da5d62570f18d45126c87976261181e

[2016-02-26 06:16] xantippe commented on #957
WOW!

[2016-02-28 07:01] MiniModel commented on #929
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@cliffparnitzky could you please have a final look at this and tell if yo

[2016-02-28 07:01] #929 closed

[2016-02-28 14:39] cliffparnitzky commented on #929
@stefanheimes ReadyToMerge :wink:

[2016-02-29 07:01] MiniModel commented on #957
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@xantippe could you please have a final look at this and tell if your iss

[2016-02-29 07:01] #957 closed

[2016-02-29 07:14] xantippe commented on #957
getestet => o.k.!

https://github.com/MetaModels/attribute_decimal/pull/10#issuecomment-189480096

[2016-02-29 08:09] xantippe commented on #898
gefixt mit https://github.com/MetaModels/attribute_decimal/commit/126f8194385c4e4172872a8db0d7b221c1e998c8

[2016-02-29 08:09] #898 closed

[2016-03-02 16:20] discordier commented on #946
@xantippe kann das zu? contao-community-alliance/dc-general#183 ist ja fixed

[2016-03-02 17:21] xantippe commented on #946
muss ich nochmal testen

[2016-03-03 04:47] discordier commented on #939
Works for me.
Every new rendersetting is defaulting to the prerendered template.

[2016-03-03 04:47] #939 closed

[2016-03-03 04:52] #926 closed

[2016-03-03 05:28] #952 closed

[2016-03-03 05:30] discordier commented on #883
Fixed in contao-community-alliance/dc-general@d169f0dbcf4ccef8cc6c6ea643b5282a1bc3f3f2

[2016-03-03 05:30] #883 closed

[2016-03-03 05:37] #978 closed

[2016-03-03 06:03] discordier commented on #942
Gemerged in contao-community-alliance/dc-general@8ca62c97ad78020e447d3876ba003d6653b7f529

[2016-03-03 06:03] #942 closed

[2016-03-03 06:08] #618 closed

[2016-03-03 06:11] discordier commented on #851
@xantippe das schrieb ich doch schon oben, es geht aber darum nun zu identifizieren welche Attribute eine "falsche" Sortierung haben (mit dem "normalen" ORDER BY).
Alle die ok sind kann man oben abhaken

[2016-03-03 06:36] discordier commented on #708
Core wird es da auch nix geben, da es einfach zu unhandlich ist... Man mysste da einen bugfixing listener bauen... :(

[2016-03-03 06:44] discordier commented on #620
Dupe of #405

[2016-03-03 06:44] #620 closed

[2016-03-03 06:51] xantippe commented on #618
als Hinweis zur Vervollständigung des Tickets: https://github.com/contao-community-alliance/dc-general/issues/170#issuecomment-187676056

[2016-03-03 06:56] discordier commented on #676
Shouldn't this have been fixed a long time ago? I mean, this reads like a duplicate of #47 which has been closed in f7d2bd9bdb65783b7dcd9f6f227944ab4c3a4788

[2016-03-03 06:57] discordier commented on #618
Der wurde ja angenommen, daher hier zu. :)

[2016-03-03 07:00] xantippe commented on #708
o.k. - lassen wir das Ticket a) als 'enhancement' stehen oder b) ganz zu? ich wäre für a

[2016-03-03 07:01] discordier commented on #708
Wir lassen es als bug stehen wie es ist, denn es ist ein bug und kein enhancement

[2016-03-03 07:18] xantippe commented on #708
o.k.

[2016-03-03 07:31] #711 closed

[2016-03-03 07:49] discordier commented on #729
@xantippe should be fixed in dcg, shouldn't it?

[2016-03-03 07:50] discordier commented on #580
@xantippe should be fixed in dcg, shouldn't it?

[2016-03-03 07:51] discordier commented on #580
Ref #550

[2016-03-03 08:22] discordier commented on #644
@stefanheimes can we safely remove them from the templates?

[2016-03-03 08:27] discordier commented on #649
dcg

[2016-03-03 08:34] #507 closed

[2016-03-03 10:05] xantippe commented on #580
getestet mit
* DCG dev-hotfix/2.0.0-beta34 (bb67abb3)
* MM core dev-hotfix-2.0.0-alpha10 (759c9997)

=> o.k.

[2016-03-03 10:05] #580 closed

[2016-03-03 10:43] xantippe commented on #649
Alt:
![shot140](https://cloud.githubusercontent.com/assets/1045318/13491838/09afebf8-e135-11e5-8a0e-e70d6a1268ac.jpg)

NEU:
![shot141](https://cloud.githubusercontent.com/assets/1045318/13491846/11789c7c-e135-11e5-999c-e08d36d30b19.jpg)

=> gefixt

[2016-03-03 10:43] #649 closed

[2016-03-03 11:13] xantippe commented on #915
getestet mit DCG dev-hotfix/2.0.0-beta34 (bb67abb3) => gefixt

es werden nur aktivierte Attribute angezeigt - und wenn kein Attribut für Suche aktiv, wird Suchefeld (Select) ganz ausgeblendet

![shot143](https://cloud.githubusercontent.com/assets/1045318/13492600/48cdc716-e139-11e5-9ee3-cf3c3c56812c.jpg)

[2016-03-03 11:13] #915 closed

[2016-03-03 12:33] stefanheimes commented on #980
Fixed in 3b72eafcd0c22e15c35e6c5744e98bd9628c95ad

[2016-03-03 12:53] xantippe commented on #676
nach Test: FE und BE zeigen unterschiedliches Verhalten
es wurde ein eigenes Template gewählt, welches nur als HTML5 angelegt wurde (metamodels_pr_my_template.html5) und als Ausgabe wurde Text gewält...

* FE: kommt "Template not found (it is maybe...).
* BE: wechselt automatisch zum HTML5-Template

[2016-03-03 16:44] #838 closed

[2016-03-03 17:08] discordier commented on #382
Das geht btw. nur bei stand alone MetaModels... ich glaube wir lassen es daher lieber.
Die Backend integration hat man so ja eigentlich schon sauber, oder?

[2016-03-03 17:28] xantippe commented on #382
ich habe immer noch keinen Plan, wo, welches Icon erscheinen soll - da nach 2 Jahren niemand weiter an dem Problem sich "gerieben" hat, kann das Ticket auch erstmal zu...

[2016-03-03 17:33] xantippe commented on #946
nein

DCG: dev-hotfix/2.0.0-beta34 (bb67abb3)

[code]

[2016-03-03 17:35] #382 closed

[2016-03-04 07:36] xantippe commented on #980
der Bug beim Anlegen des Parent ist weg; einen Eintrag kann man kopieren...

...um Items an anderer Stelle zu verfrachten oder Hinzufügen an bestimmter Stelle, muss man eine manuelle Sortierung als Standard definieren (da per se kommt *keiner* drauf..) - zudem kann man wenn das aktiviert ist, tiefer als einer Kinderebene gehen (was lt. @discordier) bei Varianten nicht sein sollte...  es gibt auch

[2016-03-04 10:57] michelbalzer commented on #959
Also beide *_src.css auf SCSS umschreiben, wenn ich das jetzt richtig verstanden habe.

[2016-03-04 11:25] xantippe commented on #959
genau...

[2016-03-04 12:44] xantippe commented on #723
getestet => o.k.

Übersetzungen fehlen noch...

![shot155](https://cloud.githubusercontent.com/assets/1045318/13527436/35fc3cae-e20f-11e5-99e9-e85d5b693fe5.jpg)

[2016-03-04 12:44] #723 closed

[2016-03-04 15:47] #922 closed

[2016-03-04 15:49] xantippe commented on #729
gefixt in DCG beta 34

[2016-03-04 15:49] #729 closed

[2016-03-05 15:18] JLBA commented on #968
Just a word to say this feature request existed in Catalog as Reference module. I'm still thinking this could be useful in MM too.

[2016-03-06 07:01] MiniModel commented on #232
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@Hendriks could you please have a final look at this and tell if your iss

[2016-03-06 07:01] #232 closed

[2016-03-06 13:01] MiniModel commented on #676
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@cboelter could you please have a final look at this and tell if your iss

[2016-03-07 08:01] MiniModel commented on #980
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@stefanheimes could you please have a final look at this and tell if your

[2016-03-07 08:01] #980 closed

[2016-03-07 10:28] amenk opened #985 "Filtern nach Feldern ohne Namen (in einer Sprache) funktioniert nicht"
_Unser Issue: 13403_

Folgender Fall: Wir haben ein `translatedalias` Attribut welches beispielsweise in der Sprache EN keinen Namen eingetragen hat.

Nun greift der `auto_item`Filter in EN nicht mehr - in DE geht es.

Problem scheint zu sein, dass in [ItemList.php](https://github.com/MetaModels/core/blob/e0921c16814f86be390c019677165e77850c4b91/src/MetaModels/ItemList.php#L427) die Parameter aus

[2016-03-08 22:02] JLBA opened #986 "How to list linked MM datas in a detail page ?"
Hi everyone,

My problem should be very simple to solve but I don't find the right way to get it…

I got 2 MM :
- mm_events
- mm_meetings
- mm_meetings is linked to mm_events by select attribute mm_meetings::linkToEvent.
So there could be many meetings for one event.

In a first FE page, a ce_MM_list for all events. When clicking on an event, I go to the details page.
On this details page, I got t

[2016-03-09 06:17] xantippe commented on #986
Hi @JLBA,

yu should use the community forum (DE or EN) for your question(s) - this is the area for bugs...

[2016-03-09 06:17] #986 closed

[2016-03-09 12:55] JLBA commented on #986
Ok. Sorry. I was just expecting this could be a bug.

[2016-03-10 08:25] xantippe commented on #385
beim Kopieren sollte das neue Filterset den Zusatz "Kopie" erhalten - siehe https://github.com/contao-community-alliance/dc-general/issues/109

[2016-03-10 10:20] xantippe commented on #962
mit dem Bugfix #987 kann der Parameter auch "Leer" sein

Test:

Einstellung Filter
![shot157](https://cloud.githubusercontent.com/assets/1045318/13666430/d2623610-e6b1-11e5-8c8a-25e0449747d2.jpg)

Einstellung Liste
![shot158](https://cloud.githubusercontent.com/assets/1045318/13666400/ab333012-e6b1-11e5-8b61-301e4850f282.jpg)

Ausgabe
![shot159](https://cloud.githubusercontent.com/assets/1045318/1

[2016-03-11 07:14] discordier commented on #676
@xantippe Was ist denn bitte `metamodels_pr_my_template.html5` fyr ein Template? Und wo hast du es ausgewaehlt und wo wird es angezeigt?
Das passt in kein Namensschema:
* `metamodel_` fyr die pre und unrendered listen,
* `ce_metamodel_` fyr die content elemente
* `mod_metamodel_` fyr die module.
* `mm_filter_` fyr die clearall und filter container
* `mm_filteritem_` fyr die einzelnen Filter.

[2016-03-11 07:22] xantippe commented on #676
das ist ein "Ableger" von ```metamodels_prerendered.*``` aus dem "prerendered" wird bei mir ein "pr" da mir sonst die Bezeichnungen zu lang werden (siehe #661)

Ausgewählt ist das in den Render-Einstellungen (Template*) - zum Test einmal im/für BE und einmal im/für FE

[2016-03-11 09:02] xantippe commented on #962
mit https://github.com/MetaModels/core/commit/c54d60b4ff6599363c29c0cbfec3fe95d4f6cf16 gefixt

[2016-03-11 09:02] #962 closed

[2016-03-11 14:10] discordier commented on #676
Das kann nicht sein, in then template options der render settings ist die Basis als `metamodel_` definiert, du hast jedoch ein suffix `s` dran, welches eigentlich allgemein NIE auswaehlbar und somit ladbar sein dyrfte. Da scheint also noch irgend ein anderes Problem zu bestehen.

[2016-03-11 14:39] xantippe commented on #676
sorry - Schreibfehler => ```metamodel_prerendered.*```

[2016-03-11 14:52] discordier commented on #676
Ok, allgemein ist es so, dass im Backend nur html5 verfygbar ist, siehe [hier](https://github.com/MetaModels/core/blob/1b40b02efbe9015768f21967d2e368a23304bc0d/src/MetaModels/DcGeneral/Events/MetaModel/RenderItem.php#L105) und [hier](https://github.com/MetaModels/core/blob/1b40b02efbe9015768f21967d2e368a23304bc0d/src/MetaModels/DcGeneral/Events/MetaModel/RenderItem.php#L125).

Das hat den Grund, d

[2016-03-11 15:06] discordier opened #988 "PHP7 compatibility"
We have to check the code base for PHP7 incompatibilities.
See the following slides for information of what has changed (if you do not know already): http://de.slideshare.net/jpauli/php7-is-coming

[2016-03-11 15:09] xantippe commented on #676
ich denke auch, das ist eher eine "philosophische Fragestellung" - im Prinzip kann ich mit der Fehlermeldung im FE leben... man könnte, um es "rund" zu machen, die Ausgabe der Fehler-Meldung an die Contao Systemeinstellung "Fehlermeldungen ausgeben" koppeln...

[2016-03-13 09:01] MiniModel commented on #930
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@cliffparnitzky could you please have a final look at this and tell if yo

[2016-03-13 09:01] #930 closed

[2016-03-13 17:24] fabian-ibr commented on #805
Auch bei mir erscheint dieses Problem, wenn ich auf tl_page verweise.

[2016-03-14 21:51] AgentCT opened #990 "Eigene Templates werden im FE als nicht mehr gefunden angezeigt"
Bei der Verwendung eigener Template mit der aktuellen Alpha 10 kann man diese im BE auswählen aber im FE erscheint ausschließlich die Fehlermeldung "Template not found (it is maybe within a unreachable theme folder?)"

Die eigenen Templates liegen im Ordner "Templates", es wurde kein Unterordner verwendet.

Fehlerfrei funktionieren nur die Standard-Templates.

Verwendet wird:

Contao 3.5.8
metamod

[2016-03-15 06:09] xantippe commented on #990
hast Du aus speziellem Grund die core-a10 installiert? wenn nicht, kannst Du diese löschen, da über bundle_all mit an bei

wie sind die Templates benannt?

[2016-03-15 06:42] xantippe commented on #910
@stefanheimes can you change the title to (e.g.) "Filter bug at alias with special character like +" ?

[2016-03-15 10:05] AgentCT commented on #990
Ich dachte ich brauche den Core noch extra, habe ihn jetzt aber entfernt. Danke für den Tipp.

**Lösung:**
Ich hatte im Seitenlayout .xhmtl als Ausgabeformat ausgewählt, dadurch wurden im BE die .html5 Templates nicht mehr angezeigt. Nachdem ändern der Einstellung geht alles perfekt.

Viele Dank für deine Unterstützung

[2016-03-15 10:05] #990 closed

[2016-03-15 10:12] zonky2 opened #991 "Custom SQL: Fehler im DCA: codeMirror zu ACE wechseln"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have checked existing issues for duplicates and found none @ https://github.com/MetaModels/core/issues?q=is%3Aissue

## My environment is:

| Key                                 | Value    | Comments                         |
| ----------------------------------- | ---

[2016-03-15 13:22] xantippe commented on #991
PR gemacht: https://github.com/MetaModels/core/pull/992
abhängig von DCG - PR https://github.com/contao-community-alliance/dc-general/pull/206

[2016-03-16 15:00] asaage opened #993 "delete data that is orphaned"
how about recursive-deletions?
under present conditions the deletion of items in hirarchical and parented views leafes their child-nodes orphaned. There is no chance of deleting them afterwards by hand nor to reattach them to other nodes. They are simply not accesible in the BackEnd but still might show up in the FrontEnd.
And again: I'm not shure whether to put this here or into the dcg issues..

[2016-03-16 16:16] transopticmedia commented on #977
Hallo alle! Ich habe Metamodels "Bundle_all" mit dem Composer installiert. Ist es möglich diesen Hotfix-Branch durch Composer zu installieren? Ich habe zurzeit keinen FTP-Zugang . Danke im Voraus.

[2016-03-16 16:41] xantippe commented on #977
aktualisiere per Composer - dann sollte auch das neue select bei Dir ankommen

[2016-03-16 16:50] transopticmedia commented on #977
danke, hat geklappt!

[2016-03-16 19:43] discordier commented on #993
Appears to be a dupe of contao-community-alliance/dc-general#61, therefore I guess it is better off at dcg.

[2016-03-16 20:09] asaage commented on #993
jepp

[2016-03-16 20:09] #993 closed

[2016-03-17 09:16] JLBA opened #994 "Contract metamodels by mm in the name of the templates"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
But found no reference to that
- [x] I have checked the Contao community forums for references https://community.contao.org/
but found no reference to that
- [ ] I

[2016-03-17 09:32] xantippe commented on #994
... i have "update" your checklist => use ```- [x]``` to check the checkbox

[2016-03-17 09:37] xantippe commented on #994
Contao should longer names of templates - https://github.com/contao/core/commit/09d672f71b5af484687dcc49e42cddccf689d861
and at the future, we have shorter names (may be..) https://github.com/MetaModels/core/issues/661

[2016-03-17 09:43] JLBA commented on #994
Ok. Thanks.

Le 17 mars 2016 à 10:37, xantippe <notifications@github.com> a écrit :

[2016-03-17 09:52] #994 closed

[2016-03-18 16:51] discordier commented on #935
@stefanheimes shouln't this now be possible to avoid as you have implemented support for fallback in dc-general?

[2016-03-18 16:52] discordier commented on #892
The `IFactory` has been fixed. `IMetaModel` is still open.

[2016-03-19 12:48] zonky2 opened #996 "Error bei Zuweisung als Kindtabelle in MM zu bestimmten Contao-Tabellen"
## Checklist before I submit this issue report

I confirm that:
- [ ] I have tested this with the latest version available
- [ ] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h

[2016-03-23 08:13] xantippe commented on #624
News: https://now.metamodel.me/de/aktuelles/details/2016-maerz-infos

[2016-03-23 11:40] stefanheimes opened #997 "Extend attributes Select / Tags"
I have a problem with the filter. If i using a select or Tag the system used the attributes settings to know which field should be used for the GET-Parameter and which attribute should be used for the displaying value.

Now i have the problem that for the filter i want to use another setup. In the backend i want the attribute with the short name but for the frontend and filter i want another attri

[2016-03-24 20:55] zonky2 commented on #925
der "Fehler" liegt beim DCG - speziell beim Filter-Widget => In der Select-Option wird als value der entsprechende Wert, d.h. inkl. Anführungszeichen eingetragen; das führt zu dem Fehlverhalten.

Zur Lösung gibt es m.E. zwei Möglichkeiten:

1) Workaround: Anpassung des Filter-Templates (sofern bei dem Werten nicht auch noch Hochkommata vorkommen:

https://github.com/contao-community-alliance/dc-ge

[2016-03-25 07:42] zonky2 commented on #956
@cliffparnitzky kannst Du den "FR" übernehmen?

[2016-03-25 14:35] zonky2 commented on #905
add PR: https://github.com/MetaModels/core/pull/999

[2016-03-25 14:44] zonky2 commented on #935
add PR: https://github.com/MetaModels/core/pull/1001

[2016-03-25 15:39] zonky2 commented on #885
add PR: https://github.com/contao-community-alliance/dc-general/pull/217

[2016-03-26 08:23] zonky2 commented on #946
im DCG brauchts eine Funktion analog ```reviseTable()``` https://github.com/contao/core/blob/141fdc24579a46fc10d712a12f2b4459e11a5035/system/modules/core/drivers/DC_Table.php#L3169

[2016-03-26 09:33] zonky2 commented on #985
@amenk kannst nochmal Deine Einstellungen als Screenshot hier oder im Forum posten, damit ich den Fall (genau so) nachbauen kann.

[2016-03-26 11:55] baumannsven commented on #946
@discordier um diese Sache kümmere ich mich

[2016-03-29 08:25] amenk commented on #985
Welche Einstellungen genau? Alle? Ich könnte dir ggf. noch nen DB Dump anbieten (privat - nicht zu veröffentlich) - das wäre vielleicht einfacher? Aber im Prinzip habe ich den Fehler im Code ja schon identifiziert?

[2016-03-29 09:13] zonky2 commented on #985
Zum Testen brauche ich eine Variante mit dem "Fehler" - ansonsten kannst Du einen PR mit einem Bugfix einladen...
DB-Dump würde auch gehen - E-Mail siehe Community

[2016-03-30 05:25] zonky2 commented on #552
@discordier für was steht die Variable? wenn ich nach dieser Suche https://github.com/MetaModels/core/search?utf8=%E2%9C%93&q=strRendersettings taucht diese nur im "Head" der Templates auf und wird m.E. an keiner Stelle weiter verwendet...

[2016-03-30 06:00] zonky2 commented on #385
Beim Kopieren über die Funktion "Mehrere bearbeiten" werden vorhandene Hierarchien nicht mit übertragen

Quelle:
![shot180](https://cloud.githubusercontent.com/assets/1045318/14133186/57e0ac04-f64d-11e5-88b2-76feca9b09b3.jpg)

Ziel:
![shot181](https://cloud.githubusercontent.com/assets/1045318/14133187/57e54a98-f64d-11e5-9bc5-a64a666209de.jpg)

[2016-04-04 11:04] cliffparnitzky commented on #956
ja, schaue ich mir mal an

[2016-04-04 11:25] zonky2 commented on #956
prima!

[2016-04-05 11:49] discordier commented on #552
Die wird in der Tat nur in:
* contao/templates/metamodel_prerendered.text
* contao/templates/metamodel_unrendered.text
Je auf Zeile 3 verwendet.

[2016-04-05 11:58] zonky2 commented on #552
auch bei *.html5 kommt es vor - nur die Suche spuckts nicht aus... https://github.com/MetaModels/core/blob/0f08e60206b910adb47e002a4e123e70059cffd5/contao/templates/metamodel_prerendered.html5#L13
ist für "hideLabel"

[2016-04-07 07:30] zonky2 opened #1005 "All Attributes: delete empty items at database"
## Checklist:

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ https://github.com/MetaModels/core

[2016-04-12 10:08] amenk opened #1006 "Can't save tags field based on other meta model with custom sorting"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h

[2016-04-13 06:42] zonky2 commented on #1006
Hi @amenk, its possible to update your enviroment?

You should use the LTS-Version of Contao - look at http://metamodels.readthedocs.org/de/latest/manual/install.html#metamodels-installieren-und-aktualisieren and the latest MM (Core 2.0.0 a10) with DCG (2.0.0 b34)

[2016-04-13 06:59] amenk commented on #1006
While I understand this advice, would you say it is fixed an up to date environment?
Currently we use sorting by ID as a workaround, so I don't get more time from the PM.
Just want to make sure that it's fixed in future versions...

[2016-04-13 07:05] zonky2 commented on #1006
... may be ;-) its possible to try it?

we had a small update to sort the checkboxes - https://github.com/MetaModels/core/pull/951

[2016-04-13 09:07] amenk commented on #1006
Not fully convinced that is fixed there. No time to try at the moment. If you are convinced that it is fixed, you are free to close :) Otherwise I will try it one day on a recent Contao + MM version.

[2016-04-13 09:29] zonky2 commented on #1006
I´m not sure -  MM lives by the help of all.. everybody have "no time" ;-)

[2016-04-13 09:32] amenk commented on #1006
Sure ... usually I always have time for FOSS, even the manager does not like it sometimes ;-)
Is there by chance a public demo installation of the recent MM with backend access where I could try to reproduce?

[2016-04-13 09:39] zonky2 commented on #1006
if you have a test case of MM, you can send me the login data - e.g. as PM at community forum

[2016-04-13 09:46] amenk commented on #1006
I currently don't - as I do not run a system with the recent version... Would have to set this up first.

[2016-04-13 11:29] baumannsven commented on #964
https://github.com/MetaModels/attribute_checkbox/pull/15

[2016-04-13 14:51] zonky2 commented on #964
add PR: https://github.com/MetaModels/core/pull/1007

[2016-04-13 14:51] #964 closed

[2016-04-18 08:34] haendersonfox opened #1008 "nach Update auf aktuelle Version greift ALIAS in Mehrsprachigkeit nicht!"
Lösung:

die Namensfelder der jeweiligen Sprachen müssen ausgefüllt werden!

https://community.contao.org/de/showthread.php?62115-sprachumschaltung-funktioniert-nicht-mehr&p=405809&viewfull=1#post405809

[2016-04-18 16:16] discordier commented on #1008
Need more details, please do not only link to forum posts as these may get lost in the future and we have to check too many resources if we have to hunt down the information of issues from various places.
In the end, we do have the issue template (which you deleted entirely in your issue) for a reason.

[2016-04-19 10:24] haendersonfox commented on #1008
nach Update auf aktuelle Version greift ALIAS in Mehrsprachigkeit nicht!

das bedeutet, wenn im attribut des ALIAS kein Name bei der jeweiligen sprache steht,
gibt es eine fehlermeldung in der jeweiligen sprache, dass kein datensatz vorhanden ist.
füllt man im alias-attribut den namen aus (schreibt also zb. "alias" hinein), wird der datensatz in der jeweiligen sprache auch angezeigt...

[2016-04-20 13:14] michelbalzer commented on #1008
Kann ich mit Contao 3.5.9, dc_general 2.0.0-beta34, MetaModels 2.0.0-alpha10 so erstmal bestätigen.

[code]
Und in bunt:

![metamodels-alias-mehrsprachig](https://cloud.githubusercontent.com/assets/1337412/14675676/7074a9f0-070a-11e6-9838-d62d0f5bf7e5.jpg)

[2016-04-20 13:19] zonky2 commented on #1008
bitte mal prüfen, ob bei der Sprache ohne Beschreibung ein Alias-Wert in der DB gespeichert wird

[2016-04-21 09:58] haendersonfox commented on #1008
wenn alle felder ausgefüllt sind, sieht es so aus:
a:7:{s:2:"de";s:5:"Alias";s:2:"en";s:5:"Alias";s:2:"nl";s:5:"Alias";s:2:"fr";s:5:"Alias";s:2:"it";s:5:"Alias";s:2:"es";s:5:"Alias";s:2:"pl";s:5:"Alias";}

wenn englisch nicht ausgefüllt ist, sieht es so aus:
a:7:{s:2:"de";s:5:"Alias";s:2:"en";s:0:"";s:2:"nl";s:5:"Alias";s:2:"fr";s:5:"Alias";s:2:"it";s:5:"Alias";s:2:"es";s:5:"Alias";s:2:"pl";s:5:"A

[2016-04-22 14:21] zonky2 commented on #1008
this sounds like the same as #985

[2016-04-22 16:11] MacKP opened #1010 "Filter count reagiert nicht auf unveröffentlichte Items $this->count zählt diese mit."
## Checklist before I submit this issue report

I confirm that:
- [X] I have tested this with the latest version available
- [ ] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [X] I have checked the Contao community forums for references https://community.contao.org/
- [X] I have checked existing issues for duplicates and found none @ h

[2016-04-28 06:44] zonky2 opened #1011 "change all composer.json: required PHP to 5.4 and contao/core to 3.5"
change **all** composer.json: required
- `"php": ">=5.4"`
- `"contao/core": "^3.5.5"`

(see https://docs.contao.org/books/manual/3.5/en/01-installation/configuring-the-live-server.html and
http://metamodels.readthedocs.io/en/latest/manual/install.html#install-and-update-metamodels)

AND

change .travis.yml

e.g. https://github.com/MetaModels/attribute_alias/commit/2256246bbc706575888e1691b6b9b23df

[2016-04-28 07:00] zonky2 commented on #1010
duplicate issue #896

[2016-04-28 07:00] #1010 closed

[2016-04-28 07:05] zonky2 commented on #956
wie weit ist die Sache gediegen..?

[2016-04-28 12:30] cliffparnitzky commented on #956
Werde die Sache **asap** bearbeiten. Will und kann aber keine zeitlichen Angaben machen. Wenn jmd. schneller ist, gern ... Würde den Arbeitsbeginn hier kurz notieren, um Überschneidung und Mehrarbeit zu vermeiden.

[2016-04-28 12:30] zonky2 commented on #956
o.k.!

[2016-04-29 10:54] cliffparnitzky commented on #952
@zonky2 der Abschnitt "Dazu sind zwei Einstellungen notwendig:" deines letzen Kommentars ist ziemliuch wichtig, um eine Baumstruktur hinzubekommen ... den sollte man ins Manual übernehmen: http://metamodels.readthedocs.io/de/latest/manual/component/dca.html

[2016-04-29 10:59] zonky2 commented on #952
o.k. - werde ich aufnehmen...Dank für Feedback

[2016-04-29 14:38] zonky2 commented on #952
http://metamodels.readthedocs.io/de/latest/manual/component/dca.html#einleitung

noch nicht ganz Ideal, aber als "Merker" erstmal gesetzt...

[2016-04-29 22:11] cliffparnitzky commented on #952
:+1:

[2016-05-02 08:48] zonky2 commented on #624
News: https://now.metamodel.me/de/aktuelles/details/2016-april-infos

[2016-05-04 07:50] discordier commented on #965
Should be fixed by 437e8b6

[2016-05-04 21:23] zonky2 commented on #965
mit dem Fix funktioniert es bzw. das Icon/Eintrag "verrutscht" nicht mehr

![shot195](https://cloud.githubusercontent.com/assets/1045318/15029731/37c429b4-124f-11e6-84bd-0b529e32dfd8.jpg)

eine Anpassung des Eintrages über die dcaconfig.php ist nicht wie im ursprünglichen PR möglich
https://github.com/MetaModels/core/pull/995#issuecomment-216907272

[2016-05-04 21:23] #965 closed

[2016-05-04 21:49] zonky2 commented on #905
mit hotfix11 gefixt

[2016-05-04 21:49] #905 closed

[2016-05-11 05:43] zonky2 commented on #935
fixed in https://github.com/MetaModels/core/compare/hotfix-2.0.0-alpha11

[2016-05-11 05:43] #935 closed

[2016-05-11 07:25] zonky2 commented on #805
der Fehler kommt dadurch zustande, dass in dem String von vsprintf eine URL mit Prozentzeichen halten ist/sein kann, so dass die Anzahl der Argumente nicht stimmt

siehe https://github.com/contao-community-alliance/dc-general/issues/144#issuecomment-218381851

[2016-05-11 07:49] zonky2 commented on #897
@richardhj PR is merged https://github.com/MetaModels/core/commit/37efdef5493ea7995f5f9a18e77f221155ab028e pls test again...

[2016-05-11 12:17] padgrob commented on #805
Hallo miteinander

Ich habe das mal kurz gemäss Hotfix (contao-community-alliance/dc-general#144 (comment)) angepasst. Die Seitenstruktur wird nun korrekt angezeigt und auch die Fehlermeldung ist weg. Was mir aber aufgefallen ist, das wenn ich einen Hauptnavigationspunkt öffne die Unsterseiten ganz unten am Seitenbaum angezeigt werden. Ist ein Hauptnavigationspunkt bereits geöffnet passts.

![scre

[2016-05-11 12:48] zonky2 commented on #805
die "Anzeigen-Verrutschung" ist an anderer Bug :-(
https://github.com/contao-community-alliance/dc-general/issues/89
https://github.com/contao-community-alliance/dc-general/issues/168

[2016-05-11 13:13] padgrob commented on #805
Danke zonky2

[2016-05-14 08:01] MiniModel commented on #897
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@richardhj could you please have a final look at this and tell if your is

[2016-05-14 08:01] #897 closed

[2016-05-19 15:47] zonky2 commented on #954
Zur Info:

http://metamodels.readthedocs.io/de/latest/cookbook/panels/default-values.html

[2016-05-19 16:29] richardhj opened #1012 "Backend integration breaks with syncCto"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h

[2016-05-19 16:36] zonky2 commented on #1012
Hi @richardhj - do you have activate any view conditions aka Sub-Palettes?

[2016-05-19 17:03] richardhj commented on #1012
Yes, I defined a ```conditionpropertyvalueis``` for one ```attribute_numeric```. It could be the one mentioned in the error.
The error occurs on every page in the back end and not only in the MetaModels list view.

[2016-05-19 19:26] zonky2 commented on #1012
It`s possible to delete the condition? - you can make this in the database - an check your backend

[2016-05-19 20:53] richardhj commented on #1012
After deleting the view conditions, this error does not occur anymore.
Opening the MetaModel in the back end will lead to a
[code]
I noticed this error before deleting the view conditions too.

[2016-05-20 06:10] zonky2 commented on #1012
you can try to update the DCG to beta35 and MM core to alpha11...

it´s not possible to me to readjust the error - have you more intormations?

[2016-05-24 11:01] seaneble opened #1013 "Make Parent Model Available"
MetaModel items bring a lot of helpful data into the templates. It is especially useful to have full access to associated model instances like

  * _id_
  * status -> reference to another model
     * _id_
     * name
  * firstname
  * …

This currently does not work for hierarchical models. The structure then is this:

  * _id_
  * **pid** -> reference to another model
  * firstname
  * …

It wou

[2016-05-24 11:15] zonky2 commented on #1013
@seaneble it´s possible to you to make a PR?

[2016-05-24 11:19] seaneble commented on #1013
I have used the public methods quite a lot, but never looked deeper into the core or the DC_General. As project deadline is tomorrow and other projects are waiting, I couldn't promise anything soonish. Let's keep it open and "up for grabs", and I might be able to think of something myself.

[2016-05-24 21:54] richardhj commented on #1012
The problem is that the ```serviceContainer``` will not not be set.
syncCto's event subscriber (https://github.com/menatwork/syncCto/blob/master/system/modules/syncCto/src/SyncCto/DcGeneral/Events/Subscriber.php#L38) causes the problems and might handicap the execution of MetaModel's events. The problem is: I'm not familiar with the event dispatcher yet. Might we reference syncCto developers here?

[2016-05-25 05:17] zonky2 commented on #1012
may be it´s a good idea to write a referenced issue at syncCto...

[2016-05-25 11:06] discordier commented on #1012
@stefanheimes is developer of syncCto, so he most likely will jump in here.

[2016-05-26 12:25] #524 closed

[2016-05-26 12:28] zonky2 commented on #870
es lässt sich leider nicht mehr raus finden, wer die Sache "sponsoren" wollte :-(

[2016-05-26 12:42] zonky2 commented on #30
s.u.A.
http://metamodels.readthedocs.io/de/latest/manual/extended/attribute_mcw.html

[2016-05-30 12:41] stefanheimes commented on #1012
I test it with this setup:

- Contao 3.5.12
- current MM 2.0.x release
- Sync to in the current 3.2.0-beta 8 version

_I can't reproduce this error._

You say the https://github.com/menatwork/syncCto/blob/master/system/modules/syncCto/src/SyncCto/DcGeneral/Events/Subscriber.php#L38 makes the trouble, have you check if a special call in the function makes trouble? Can you please test it. Just uncom

[2016-05-30 13:12] discordier commented on #1012
One thing I noticed, you are still using the non functional `$suffixes` in your calls but not in the listener.
All your listeners are missing the checks if the event is intended for them.

[2016-05-30 15:53] discordier opened #1014 "`ToolBoxFile` should implement download key handling"
## Issue description

The `ToolBoxFile` should implement download key handling
See also MetaModels/attribute_file#6 for further details and discussion.
## Describe the behaviour of the application

The file attributes allow to download any file from `TL_FILES`, no matter if they are linked or not.
## Describe the expected behaviour of the application

The file attributes should only serve files fo

[2016-05-31 06:02] zonky2 commented on #312
Info vom MM-Call "Februar 2016":

[2016-06-01 08:40] zonky2 commented on #991
the DCG is ready https://github.com/contao-community-alliance/dc-general/commit/ecd980bf7084d92de2fc8905d2faf80d12fa88f5
we wait at the MM PR ...

[2016-06-01 21:54] richardhj commented on #1012
I noticed and installed your update, @stefanheimes. Concerning your question: every listener causes.
I'm sorry its not getting concrete, but my project has many dependencies installed which makes it unclear for me. (As I noticed, disabling another extension but enabling syncCto fixes it too.) As I need a productive version of this project these days, I cannot give it enough attention, but I keep i

[2016-06-02 14:01] MiniModel commented on #334
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@tim-bec could you please have a final look at this and tell if your issu

[2016-06-02 14:01] #334 closed

[2016-06-02 19:45] stefanheimes commented on #1012
My sysmte:
SyncCto current beta
MetaModles current versions

I have only a warning of the color picker. Everything else is running. I have rewrite and check the events. I have at each function a check if the current event is one for syncCto.

[2016-06-03 08:07] zonky2 commented on #624
News: https://now.metamodel.me/de/aktuelles/details/2016-mai-infos

[2016-06-05 13:46] zonky2 opened #1015 "Attribut Checkbox breaks with current MM and DCG"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h

[2016-06-05 17:15] daniel-nemeth commented on #1015
I can confirm this bug.
Thanks four your work guys!

[2016-06-06 21:42] stefanheimes commented on #1015
Fix is in the DCG hotfix/beta-36

[2016-06-07 06:12] zonky2 commented on #1015
checked with C 3.5.12, MM a11 DCG hotfix/b36 => works fine

Thanks!!

[2016-06-07 06:28] albirs commented on #1015
+1

checked also with C 3.5.12, MM a11 DCG hotfix/b36 => works fine

Thank you!!

[2016-06-08 07:39] stefanmeschke opened #1016 "Auswahl der Javascript- und CSS-Dateien in den Render-Einstellungen per Simple Modal"
## Beschreibung

In den [Rendereinstellungen](http://metamodels.readthedocs.io/de/latest/manual/metamodel-first/rendersettings.html) kann man unten Javascript- und CSS-Dateien auswählen. Dies führt bei vielen Javascript- und CSS-Dateien zu einem `memory_limit`-Fehler im PHP.
## Lösungsvorschlag

Daher wäre mein Vorschlag zur Diskussion, dass man dies mit einem Modal (File-Picker) löst.
Wie seht ih

[2016-06-08 08:13] zonky2 commented on #1016
* wenn diese vorhanden sind?
* während der Auswahl?
* beim Rendern der BE/FEListe?

[2016-06-08 08:14] zonky2 commented on #1015
Tested!

[2016-06-08 08:14] #1015 closed

[2016-06-08 08:15] stefanmeschke commented on #1016
Wenn ich eine vorhandene Rendereinstellung bearbeiten oder eine neue erstellen will. Also immer, wenn das [Formular](http://metamodels.readthedocs.io/de/latest/manual/metamodel-first/rendersettings.html) im BE gerendet wird.

[2016-06-08 08:58] zonky2 commented on #1016
btw: wieviel RAM ist den vorhanden? wieviel will PHP haben?

... für neue Tickets gibt es eine Vorlage - die wurde aus gutem Grund erstellt ;-)

[2016-06-08 09:02] stefanmeschke commented on #1016
- Vorhanden: 2GB
- `memory_limit ` stand auf 128 MB mit 256 MB geht es jetzt für unsere Konfiguration und unserem derzeitigen Datenbestand

[2016-06-08 09:17] zonky2 commented on #1016
uff... so macht das keinen Spaß - jede Info mit einem einzelnen Posting abfragen...

* alle "Systeminfos"
* was sind "viele"
* wie kann man das Nachstellen

[2016-06-08 10:09] stefanmeschke commented on #1016
## Systeminformationen

- Contao: 3.5.12
- PHP: 5.6.10
 - `max_execution_time = 240`
 - `max_input_time = 60`
 - `memory_limit = 128M`
- MetaModels/core: 2.0.0-alpha11

## Reproduktion
- Installation Contao
- Installation MetaModels-Core
- MetaModel "Test" erstellt
 - Name: Test
 - Tabelle: `mm_test`
- Erstellung eines neuen Ordners: `/files/test`
- Innerhalb `/files/test`: `npm init` (default-con

[2016-06-08 10:32] zonky2 commented on #1016
so scheint es, das das Problem eher bei Contao-Core liegt... hast Du nach der "Installation der Packages" die Dateien in der Dateiverwaltung gesynct?

[2016-06-08 12:27] stefanmeschke commented on #1016
Eine Synchronisation in der Dateiverwaltung (siehe Screenshot) bleibt ohne Erfolg.

![dateiverwaltung-result](https://cloud.githubusercontent.com/assets/3972213/15894102/4caf75e0-2d84-11e6-91e3-1407ee06aa54.png)

Wenn man einen Theme im Contao bearbeitet/anlegt und da externe Stylesheets wählen möchte (siehe Screenshot) wählt man diese auch per Modal aus. Somit würde man da auch in der UX des Benu

[2016-06-08 12:44] zonky2 commented on #1016
wäre dennoch spannend, warum die Dateiverwaltung nichts findet...
...ich habe übrigens während der "Entwicklung" den Wartungsmodus aus und Internen Cache "umgehen"

[2016-06-08 13:38] zonky2 commented on #877
C 3.5.12
MM a11
DCG b36

copy of one or more get error
[code]
compare with https://github.com/contao-community-alliance/dc-general/issues/278

[2016-06-08 13:45] zonky2 commented on #996
gefixt mit https://github.com/MetaModels/core/commit/9cdae2068ecb41cfd6c38119a276cc048e926c59

[2016-06-08 13:45] #996 closed

[2016-06-08 19:51] zonky2 commented on #861
Punkt 3: gefixt https://github.com/contao-community-alliance/dc-general/commit/20a5b04369253c532e0975ce16dd2f7a9c76bf6c

[2016-06-09 07:42] zonky2 commented on #861
mit dem PR https://github.com/contao-community-alliance/dc-general/pull/283 kann auch nach "leeren Werten" gesucht werden

[2016-06-10 06:25] zonky2 commented on #1013
all of the current " 2 1/2 supporter" of MM have this problem... but MM should nonetheless continue to grow...

[2016-06-10 06:50] zonky2 commented on #1006
Check with
C 3.5.12
MM a11
DCG b36

* two MM "Mitarbeiter" with relation to "Abteilung"
* Abteilung as tags

Abteilung: Standard sorting as input
![shot235](https://cloud.githubusercontent.com/assets/1045318/15956313/f9a5c1a0-2ee7-11e6-9b55-dfc0b5fbbeca.jpg)

Abteilung: after manual sorting
![shot236](https://cloud.githubusercontent.com/assets/1045318/15956320/0e9178d4-2ee8-11e6-9eba-ad61f2dbab9e.

[2016-06-10 07:04] zonky2 commented on #877
after this fix https://github.com/contao-community-alliance/dc-general/commit/4c3b10b93df15f4252e2eb347adc3f85f16cb1d6 we can copy one or all attributes from a MM to another...
![shot239](https://cloud.githubusercontent.com/assets/1045318/15956646/34877f96-2eea-11e6-8fe0-33d298513f5d.jpg)

**BUT the database is empty :-(**
![shot240](https://cloud.githubusercontent.com/assets/1045318/15956650/3ed0

[2016-06-10 07:35] zonky2 commented on #811
Stand C 3.5.12, MM a11, DCG b36

zu 1: deep copy ist im DCG noch in Arbeit....

zu 2: beim Kopieren kommt man nun direkt in die Bearbeitungsmaske und kann (sollte) die Bezeichnung ändern

[2016-06-10 07:38] zonky2 commented on #793
@fritzmg it´s possible to you to make a PR?

Thanks

[2016-06-10 08:59] zonky2 commented on #431
siehe https://github.com/contao-community-alliance/dc-general/issues/281

[2016-06-10 09:26] seaneble commented on #1013
I have invested about two hours now and tried to understand at which point MetaModels decided to load related data or not. I think I got to that point now, but I have to cease work for now.

One question I would have is whether it is better to
- insert the PID into the collection of "complex attributes"
- or to append it to the arry inside "fetchAdditional Attributes" regardless of that.

[2016-06-10 09:50] fritzmg commented on #793
Sorry, it has been a long time since I last used MetaModels, I don't know if I would ever get around to it.

[2016-06-10 09:54] zonky2 commented on #793
What a pity!

[2016-06-10 13:46] zonky2 commented on #742
mit PR https://github.com/MetaModels/core/pull/1017 gefixt

[2016-06-11 14:11] albirs commented on #988
is here the place to put bugs in relation to php7?

[2016-06-11 14:21] zonky2 commented on #988
yes, please...

[2016-06-11 22:38] albirs commented on #988
Filter "Single selection" on an Attribute "[translatedtext]" is not working. No Values showing in FE an BE. If I Change to "[text]" works fine.
environment: PHP version: 7, Contao version: 3.5.12, MetaModels version: alpha11, Installation via composer,  Installed MetaModels packages: bundle_all, DCG: beta36 (to keep working on my project I have changed back to PHP 5.6)

[2016-06-13 10:10] stefanheimes opened #1018 "tl_metamodel_dca_sortgroup / Default isn't working right"
## Checklist before I submit this issue report

I confirm that:
- [X] I am one of the programmer
## My environment is:

| Key | Value | Comments |
| --- | --- | --- |
| PHP version: | n.a. |  |
| Contao version: | 3.5.12 |  |
| MetaModels version: | 2.0.0-alpha11 |  |
| DCG version: | 2.0.0-beta35 |  |
| Installation via composer | yes |  |
| Installed MetaModels packages | all |  |
## Issue descr

[2016-06-13 10:14] stefanheimes commented on #1012
We have open a ticket for the DCG.

https://github.com/contao-community-alliance/dc-general/issues/279

[2016-06-14 05:50] discordier commented on #1012
@stefanheimes fixed the event handlers in syncCto and created a follow up ticket in dcg.
Closing this here therefore.

[2016-06-14 05:50] #1012 closed

[2016-06-14 07:07] zonky2 opened #1019 "Table name with "-" fire exception - should send error message at backend"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h

[2016-06-14 12:09] daniel-nemeth commented on #1018
+1
It have the same behaviour like for DCA fields with 'unique'=>true

[2016-06-14 12:20] discordier commented on #1018
The reset fallback in dcg must somehow become aware of filters.
This was sadly not implemented.

[2016-06-14 15:45] zonky2 commented on #74
@stefanheimes: small workaround:

add filter rule "Own SQL" as first in your filter set with
```SELECT id FROM {{table}} ORDER BY <field>``` change <field>

[2016-06-15 16:26] daniel-nemeth opened #1022 "Visibility condition set to value: inactive for attribut: checkbox doesn't work"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h

[2016-06-17 07:01] MiniModel commented on #1006
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@amenk could you please have a final look at this and tell if your issue

[2016-06-17 07:01] #1006 closed

[2016-06-17 14:01] MiniModel commented on #742
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@cyberlussi could you please have a final look at this and tell if your i

[2016-06-17 14:01] #742 closed

[2016-06-20 08:40] Rotbarsch opened #1023 "Bei Anlegen von Rendereinstellungen verschwinden die meisten Metamodels aus dem Backend"
Hallo,

bei der Arbeit mit dem Paket "MetaModels/bundle_all" in der Version 2.0.0 beobachten wir seit kurzem ein eigenartiges Verhalten. Es existieren bereits mehrere MetaModels; legen wir nun für ein bestehendes oder ein neues MM ein Rendersetting oder eine Eingabemaske an, verschwinden die meisten (aber sonderbarerweise nicht alle) MetaModels aus dem Backend. Eine Überprüfung der Datenbank zeigt

[2016-06-20 09:39] zonky2 commented on #1023
wurde bei den MMs die "Eingabe-/Render-Zuordnung" gesetzt?

[2016-06-20 10:02] Rotbarsch commented on #1023
Nein, daran haben wir händisch nichts verändert.

[2016-06-20 10:06] zonky2 commented on #1023
die Frage war, ob die Zuordnung gesetzt wurde bzw. ist? "früher" reichte es für die Anzeige eines MM im BE eine Eingabemaske auf Standard zu setzen ohne die Zuordnung zu setzen...

[2016-06-20 10:26] Rotbarsch commented on #1023
Haben auf Ihre Anregung die Zuordnungen überprüft und festgestellt, dass alle mit gültigen Werten gefüllt sind. Nachdem wir hier manuell nochmal auf "Speichern" geklickt haben taucht das betreffende Metamodel wieder im Backend auf. Das Problem ist also von unserer Seite her behoben. Danke für Ihre Hilfe.

[2016-06-20 10:26] #1023 closed

[2016-06-20 10:32] zonky2 commented on #1016
den Eintrag verstehe ich nicht recht

nachdem "damit" Dateien unter /files gelandet sind können die von Contao offensichtlich nicht gesynct werden (Screenshot oben) - was ist den nun in dem Ordner?

[2016-06-21 09:50] zonky2 commented on #1022
you can try a workaround: at your condition add a negation rule "NOT" - you cyn see the textfields if "NOT && Active"

[2016-06-27 07:39] daniel-nemeth commented on #1022
Hi,
I changed the condition - hopefully in the right way - and it doesn't work:

![screen shot 2016-06-27 at 09 29 20](https://cloud.githubusercontent.com/assets/5083254/16371909/c0f2f232-3c49-11e6-9415-8e54fbc33502.png)

Now the textfield is visible, when the checkbox is checked instead of unchecked.

[2016-06-29 19:12] zonky2 commented on #624
News: https://now.metamodel.me/de/aktuelles/details/2016-juni-infos

[2016-07-02 15:53] AgentCT commented on #946
ich habe das gleiche Problem und ich komme garnicht in Metamodels.
Gibt es eine Lösung wie ich es wieder zum Laufen bekommen?

[2016-07-02 15:58] zonky2 commented on #946
per phpMyAdmin tl_metamodels bearbeiten bzw. entsprechende Zeile löschen

[2016-07-03 07:20] zonky2 commented on #1022
you can use the workaround - pls look at http://metamodels.readthedocs.io/de/latest/cookbook/panels/checkbox-negation.html

[2016-07-03 10:35] daniel-nemeth commented on #1022
Thanks!

On 03 Jul 2016, at 09:20, zonky2 <notifications@github.com> wrote:

you can use the workaround - pls look at http://metamodels.readthedocs.io/de/latest/cookbook/panels/checkbox-negation.html

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2016-07-03 11:02] zonky2 commented on #1022
Our "Thank you page" ;-)
https://now.metamodel.me/de/unterstuetzer/spenden

[2016-07-03 11:02] #1022 closed

[2016-07-03 18:16] zonky2 commented on #910
@stefanheimes you can try the follow two changes

1:
https://github.com/MetaModels/core/blob/master/src/MetaModels/FrontendIntegration/FrontendFilter.php#L116

[code]

2.
https://github.com/MetaModels/core/blob/master/src/MetaModels/FrontendIntegration/HybridList.php#L73
[code]
this fix the search input with caracters like / or +

see https://github.com/MetaModels/filter_text/issues/15

[2016-07-08 12:35] bastlwastl opened #1025 "Make the number of pagination links configurable."
Wäre es möglich die Anzahl der Pagination-Links konfiguriebar zu machen?

Siehe: https://github.com/contao/core/issues/4601

[2016-07-08 14:49] zonky2 commented on #1025
probiere es doch mal aus https://github.com/MetaModels/core/blob/master/src/MetaModels/Helper/PaginationLimitCalculator.php#L278
und wenn es funktioniert, mach einen PR

[2016-07-08 14:58] zonky2 commented on #1025
duplicate with #920

[2016-07-08 14:58] #1025 closed

[2016-07-11 17:14] zonky2 opened #1026 "Page picker without preselected page with storred value"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h

[2016-07-14 09:40] zonky2 commented on #1008
kann das Phänomen bestätigen - im Log kommt bei dem Aufruf
[code]

[2016-07-14 14:12] discordier commented on #1019
According to the MySQL manual a dash is still illegal (as it will get parsed as equation).

The exception however must get properly caught.

[2016-07-14 14:28] zonky2 commented on #1019
o.k. - correct objection, the dash is not legal... thanks

[2016-07-15 21:42] zonky2 commented on #861
fied with https://github.com/contao-community-alliance/dc-general/pull/212

[2016-07-15 21:42] #861 closed

[2016-07-21 13:08] zonky2 commented on #914
kann per $this aus dem FE-Modul/CE ausgelesen werden
Sortierung: ```$this->caller->getParent()->metamodel_sortby```
Sortierrichtung: ```$this->caller->getParent()->metamodel_sortby_direction```

[2016-07-21 13:08] #914 closed

[2016-07-21 18:03] zonky2 commented on #991
Prima & Thanks
come with alpha13

![shot259](https://cloud.githubusercontent.com/assets/1045318/17033370/25a4a42c-4f7e-11e6-90e7-ac4b9552e597.jpg)

[2016-07-21 18:03] #991 closed

[2016-07-22 09:13] Olli opened #1028 "Metamodel lässt sich nicht anlegen"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h

[2016-07-22 09:27] zonky2 commented on #1028
warum verwendest Du den Hotfix statt des getaggten alpha12?
DCG auch mit hotfix versehen?

[2016-07-22 09:42] Olli commented on #1028
Weil er oben war und hotfix alpha-13 klingt wie "neuer als alpha-12" und ich dann hier nicht lesen wollte "installier mal den Hotfix weil da genau das Thema gefixt ist" ;)
Also in der alpha-12 gehts auch nicht. Die Install des Contao ist auch recht plain weil das meine Demo ist.

[2016-07-22 10:19] zonky2 commented on #1028
hotfix ist für "ich weiß was ich mache" ;-)

wenn Du mir im Forum eine PN mit den Zugangsdaten sendest, kann ich mal kurz rein sehen...

[2016-07-22 11:49] zonky2 commented on #1028
Thema Installation:

1.) http://metamodels.readthedocs.io/de/latest/cookbook/checklists/mm-start.html
2.) nicht an den Composer-Einstellungen schrauben, wenn Du nicht genau einen Plan hast...
3.) http://metamodels.readthedocs.io/de/latest/manual/install.html#installieren-via-composer

Install so eben mit einer 3.5.12 getestet - o.k.

solange der Header des Panels nicht so aussieht wie auf dem Scre

[2016-07-22 11:49] #1028 closed

[2016-07-22 12:33] Olli commented on #1028
Danke erst mal soweit.
Ich habe nicht zum ersten mal MetaModels installiert. Von daher ist das eigentlich Business as usual gewesen. Ich habe jetzt alle nicht wichtigen Erweiterungen entfernt, PHP auf 5.6 geupdatet, Cache geleert und auch MM noch mal installiert (diesmal das Bundle). Tut nicht - selbes Verhalten wie gezeigt.
Hoster ist all-inkl. Es gibt keine speziellen Einstellungen.

[2016-07-22 12:41] zonky2 commented on #1028
mit der Fragestellung bist Du ggf. Im Forum besser aufgehoben - da offensichtlich kein Bug habe ich das Ticket geschlossen

[2016-07-22 12:57] zonky2 commented on #1028
... hast Du Zugriff auf die Console? ggf. reicht die Laufzeit von PHP nicht aus und es wird nicht alles installiert

[2016-07-22 13:24] zonky2 commented on #1028
kannst auch von hier ein "Paket" einspielen http://www.e-spin.de/contao-metamodels.html

[2016-07-22 13:34] Olli commented on #1028
Danke - klingt gut. Da gehts ggf fixer.

[2016-07-22 13:46] zonky2 commented on #1028
bitte beachten:

[2016-07-23 19:55] zonky2 commented on #889
was soll(te) daran konfigurierbar sein?

[2016-07-27 13:42] zonky2 commented on #624
News: https://now.metamodel.me/de/aktuelles/details/2016-juli-infos

[2016-08-04 01:09] discordier commented on #1026
Should be fixed with beddc36, please test.

[2016-08-04 10:12] discordier commented on #946
Should be fixed with DCG beta37

[2016-08-04 19:50] cliffparnitzky commented on #1026
I've tested this in my environment. Generally this seems work. But clicking the "Apply" button causes an JS error.

[2016-08-04 22:06] cliffparnitzky commented on #946
Testing this with dev-hotfix/beta-37 (4a353578) is not possible due to errors.

[2016-08-05 14:12] discordier commented on #946
could you enlighten me what errors those are?

[2016-08-05 14:12] discordier commented on #1026
Oh? That should not happen, will have to take a look again.

[2016-08-08 20:17] discordier commented on #1026
@cliffparnitzky Could you test with commit 7888d3d please?

[2016-08-10 19:22] cliffparnitzky commented on #1026
Great, now it works in my environment.

[2016-08-10 19:51] cliffparnitzky commented on #946
![image](https://cloud.githubusercontent.com/assets/1247552/17568440/0c8edb12-5f44-11e6-9cea-16cff4c0652f.png)

This is what i get when using the current commit of https://github.com/contao-community-alliance/dc-general/tree/hotfix/beta-37.

[2016-08-11 08:46] #885 closed

[2016-08-11 09:25] #1026 closed

[2016-08-11 19:32] discordier commented on #946
@cliffparnitzky, @stefanheimes could you have another look at this?
would be in need of a proper stack trace.

However, I am on Festival right now and therefore can not check myself.

[2016-08-11 19:58] cliffparnitzky commented on #946
The probleme is located here: https://github.com/contao-community-alliance/dc-general/blob/master/src/ContaoCommunityAlliance/DcGeneral/View/ActionHandler/AbstractHandler.php#L145

The method is called from the PasteHandler with `create`. At this point `$this->getEvent()` returns `null`. This causes the error. But what shuould happen? @stefanheimes Any idea?

[2016-08-12 10:54] Hauge opened #1029 "Beim Einfügen neuer Items: Call to a member function setResponse() on null"
| Key                                 | Value    | Comments                         |
| ----------------------------------- | ---------| ---------------------------------|
| PHP version:                        |   7       |                                  |
| Contao version:                     |   3.5.14       |                                  |
| MetaModels version:                 |     MetaM

[2016-08-12 11:29] cliffparnitzky commented on #1029
Gleiches Problem wie hier: https://github.com/MetaModels/core/issues/946#issuecomment-239273715

[2016-08-14 15:49] cyberlussi commented on #640
metamodels/core 2.0.0-alpha12 => noch aktuell

Workaround: da das Backend stetig nur noch die Fehlermeldung ausgibt, in der Datenbank direkt in der Tabelle tl_metamodel_dcasetting_condition die bemängelten attr_id händisch löschen.

[2016-08-14 17:24] zonky2 commented on #946
Hi @cliffparnitzky - have you a workaround? I think, @stefanheimes is "afk" for this week...

[2016-08-14 18:35] cliffparnitzky commented on #946
No, sorry, i have currently no solution. I've tested a little bit, but nothing worked. Maybe @discordier could give me a little hint, what to do there?

[2016-08-16 20:38] discordier commented on #1029
Follow up to contao-community-alliance/dc-general#290

[2016-08-16 20:38] #1029 closed

[2016-08-16 20:38] discordier commented on #946
Follow up to contao-community-alliance/dc-general#290

[2016-08-16 20:38] #946 closed

[2016-08-16 21:22] cliffparnitzky commented on #946
Fixed with https://github.com/contao-community-alliance/dc-general/commit/c217064f3435d340ef1766e968256b20a04cd003

[2016-08-17 10:09] asaage opened #1030 "RTE-enabled Attributes should make use of dbfs"
I confirm that:
I have not tested this with the latest version available

I have a longtext attribute with TinyMCE enabled. When i link a file with the help of the TinyMCE-Link-Picker the resulting DB-Entry does store a value something like
[code]

when i do the same with an ce_text element in an ordinary article
[code]
is stored - which is more convenient in terms of rearangements in the filetree

[2016-08-17 10:18] zonky2 commented on #1030
@asaage pls fill out the issue template...

[2016-08-17 10:30] zonky2 commented on #1030
I tested with DCG b38 ans MM core a13

=> I can't see differences...?

ce_text
![shot261](https://cloud.githubusercontent.com/assets/1045318/17733290/316d29c0-6476-11e6-9b90-d45e2ffcfd67.jpg)

MM
![shot262](https://cloud.githubusercontent.com/assets/1045318/17733304/3fd33e3c-6476-11e6-8b0d-823aaeadbdb9.jpg)

[2016-08-17 10:41] asaage commented on #1030
the difference occurs if you move the file to a different location.
In mm the link will break in ce_text not.

[2016-08-17 10:44] zonky2 commented on #1030
ah - o.k. I`ll check it...

[2016-08-17 11:03] asaage commented on #1030
https://github.com/contao/core/issues/8213#issuecomment-189257184

[2016-08-17 11:33] zonky2 commented on #1030
@asaage pls open a new ticket at DCG - the DCG schould implement this feature...

[2016-08-17 11:36] asaage commented on #1030
I always pick the wrong repository... :)

[2016-08-17 11:41] #1030 closed

[2016-08-21 21:15] pepesale opened #1031 "Backend-Ansicht Attribute - Icons in Header fehlen"
In der Backend-Ansicht der Attribute fehlen im Header des MetaModels die Icons für

- Bearbeiten Sie das Attribut
- Neues Attribut nach diesem Attribut
- pasteafter.0

Das ist insbesondere dann problematisch, wenn man das erste Attribut eines Metamodels anlegen möchte. Dann ist auch das gelbe Icon pasteafter.0 nicht vorhanden, so dass man praktisch keine Attribute anlegen kann.

PHP 7.0.9
Contao 3

[2016-08-22 05:01] zonky2 commented on #1031
bitte die PR https://github.com/contao-community-alliance/dc-general/pull/296 und https://github.com/contao-community-alliance/dc-general/pull/298 einspielen und testen

[2016-08-22 19:05] pepesale commented on #1031
Mit PR contao-community-alliance/dc-general#296 und contao-community-alliance/dc-general#298 funktioniert es wieder.

[2016-08-23 01:50] #1031 closed

[2016-08-23 05:14] zonky2 commented on #1031
Update in Arbeit...

[2016-08-23 08:16] design23 opened #1032 "Page index not built correctly within multilanguage MM"
## Checklist before I submit this issue report

I confirm that:
- [X] I have tested this with the latest version available
- [X] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [X] I have checked the Contao community forums for references https://community.contao.org/
- [X] I have checked existing issues for duplicates and found none @ h

[2016-08-23 08:36] zonky2 commented on #1032
may be it´s the same bug as
* https://github.com/MetaModels/core/issues/985
* https://github.com/MetaModels/core/issues/1008

see at https://community.contao.org/de/showthread.php?60645-Aktuell-bekannte-Bugs (Mehrsprachigkeit: Translatealias ohne ausgefüllten Namen lassen sich nicht...)

[2016-08-23 08:40] design23 commented on #1032
I'm not quite sure about that.
I've read the other reports as well. All of the fields have names / translations and descriptions, so that's not the cause.

[2016-08-23 09:40] zonky2 commented on #1032
o.k. tank´s for the check

[2016-08-24 08:02] zonky2 commented on #640
fixed https://github.com/MetaModels/core/pull/1017

[2016-08-24 08:02] #640 closed

[2016-08-24 08:28] zonky2 commented on #947
ist mit DCG beta38 gefixt https://github.com/contao-community-alliance/dc-general/tree/hotfix/beta-38
Datensatz wird nicht angelegt und man springt zurück in die Ansicht mit Clipboard

[2016-08-24 08:28] #947 closed

[2016-08-24 14:35] MoniqueHahnefeld commented on #805
Hi,
ich habe hier den Grund für die Fehlermeldung gefunden. Siehe Kommentar im Code. So habe ich das Problem für mich gelöst. Ich weis nicht ob es so das optimalste ist... :)
https://github.com/contao-community-alliance/dc-general/blob/master/src/ContaoCommunityAlliance/DcGeneral/Contao/View/Contao2BackendView/TreePicker.php#L993
	//vsprintf won't work if label is html with more than one %, like t

[2016-08-24 14:42] MoniqueHahnefeld commented on #805
In diesen Zusammenhang habe ich auch in dem Tag-Attribut einen Bug gefunden.
https://github.com/MetaModels/attribute_tags/blob/master/src/MetaModels/Attribute/Tags/Tags.php#L59-L62
Den habe ich wie folgt fixen können:
 	if ($this->isTreePicker() && !empty($arrResult)) {

            $arrResult = implode(',', $arrResult);
            return $arrResult;
        }

[2016-08-24 15:17] zonky2 commented on #805
bitte beim Schreiben des Codes das "vorher-nachher" angeben mit "diff" nach den drei Ticks und - und +

[2016-08-25 15:06] stefanheimes opened #1034 "WIP/idea - Deep Sort/Mutli Sort"
Thing about it, how to add the deep sorting or multi sorting in metamodels.

One idea from @davidmaack was to ask each attribute and get the sorted ID's and the values. Now you can check the first list, if you have some duplicate values, you get this ID's and make a lookup in the second array list to get the sorting and so on.

Be careful we get a list from all attributes and don't do a sub-sql on

[2016-08-25 15:35] discordier commented on #1034
For id sorting, have a look in ToolBoxFile where I already implemented id lookup sorting. :)

On the overall topic, this will only work for simple values like text and the like I asusme. Deep comparing array will most likely be a time killer.

[2016-08-25 21:28] discordier commented on #1011
Would be cool if we could also add #846 in the repositories at the same time.

[2016-08-26 16:47] zonky2 commented on #925
gefixt mit https://github.com/contao-community-alliance/dc-general/pull/302

[2016-08-26 16:47] #925 closed

[2016-08-27 09:33] zonky2 commented on #402
I'll check, has the current version the same phenomenon?

[2016-08-27 11:04] zonky2 commented on #402
Test mit MM core a13 und DCG beta38

MM mit "Mitarbeiterliste" (siehe Handbuch) mit einigen Textfeldern und einem Select auf MM "Abteilung"

Rendering für FE angelegt und MM-CE-Liste - keine Filter oder sonstige Einstellungen - Standardtemplate mit Debugausgabe (siehe Handbuch)

Start:
1.) **Render-Einstellungen OHNE Attribute**
![shot268](https://cloud.githubusercontent.com/assets/1045318/1802690

[2016-08-30 08:48] zonky2 commented on #402
@cyberlussi - ich habe das Thema mit @discordier durchgesprochen und es ist, so wie es ist, genau "richtig" - was, wann passiert, sieht man an meinem letztem Kommentar.

Es kommt auf Deine Anforderungen an, aber man kann über den raw-Knoten und einem eigenen Template alle gewünschten Ausgaben erzeugen.

Das Ticket wird somit geschlossen...

[2016-08-30 08:48] #402 closed

[2016-09-01 05:37] zonky2 commented on #1016
@stefanmeschke gibt es zu dem Ticket aktuelle Informationen? ansonsten bitte schließen

[2016-09-01 05:40] zonky2 commented on #1018
same https://github.com/contao-community-alliance/dc-general/issues/303

[2016-09-01 11:03] discordier commented on #1016
Einen picker an dieser Stelle einzubauen ist aktuell nicht moeglich. Der MCW versteht keinen file picker in einem DcGeneral backed Widget.

@stefanheimes Kann man da was machen?

[2016-09-04 15:37] pepesale commented on #988
Content element "MetaModel List":
If in the select menu "Meta Description" a table field is selected, frontend throws this error:

`Fatal error: Cannot use 'String' as class name as it is reserved in /var/www/ftp_003_1/htdocs/cmsContaoDev/system/modules/core/library/Contao/String.php on line 28`

PHP 7.0.9
Contao version: 3.5.15
MM: alpha14, Installation via composer
DCG: beta38

Error doesn't app

[2016-09-04 15:43] zonky2 commented on #988
Contao should compatible with PHP 7 greater than 3.5.4 - look at https://contao.org/de/news/contao_3-5-5.html
?

[2016-09-04 17:45] pepesale commented on #988
Yes, of course.
But as I have this error exclusively with the MetaModels Content Element "MetaModel List", I thought it might be a MM-problem with PHP 7.

[2016-09-05 06:20] zonky2 commented on #988
o.k. may be you can change the follow line
at https://github.com/MetaModels/core/blob/master/src/MetaModels/ItemList.php#L775
[code]

[2016-09-05 15:08] zonky2 opened #1036 "Filter rule "Simple lookup" with Option "Static parameter" doesn´t work for attribute text"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h

[2016-09-05 19:12] zonky2 commented on #1036
the attribute text - and all other simple attributes - wait to you to implement the methode...

[2016-09-06 00:44] pepesale commented on #988
Works perfectly! Thanks!

[2016-09-06 15:34] zonky2 commented on #956
@cliffparnitzky "lebt" die Sache noch? ;-)

[2016-09-06 15:38] dillinja opened #1037 "Frontend 'Detail-Link' (Filter, Alias, auto_item) doesn't work."
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h

[2016-09-06 15:50] zonky2 commented on #1037
do you work with a multilanguage metamodels?

[2016-09-06 16:06] dillinja commented on #1037
no,

normaly I check translation, choose 'German', check fallback language and thats it.

so I read about the 'alias - translation' issue and create a new without any translation box checked.

same behavior.

[2016-09-06 16:19] zonky2 commented on #1037
its possible to post your filter rule(s) as screenshot

[2016-09-06 17:15] dillinja commented on #1037
here it is:
![mm-filter-detail](https://cloud.githubusercontent.com/assets/4386973/18283594/4c6d18e8-7466-11e6-89ae-5421a3379f14.jpg)

[2016-09-06 18:18] dillinja commented on #1037
checked it at home on another project (same contao, dcg and mm-versions) - can't reproduce the error.

[2016-09-06 18:19] #1037 closed

[2016-09-06 18:25] zonky2 opened #1038 "every filter rule insert the ace editor - this should only add in "own SQL""
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h

[2016-09-06 19:56] zonky2 commented on #1037
hmm... may be "make new" - https://community.contao.org/de/showthread.php?45309-Contao-2-11-x-Detailseite-zeigt-nur-noch-Fehler-nach-dem-L%F6schen-eines-Kind-Models&p=293078&viewfull=1#post293078

[2016-09-07 09:25] dillinja commented on #1037
I removed Metamodels + my mm_tables completly... but I left different modules (mm lists) on some sites. Not those that I used.

Now I cleaned up a bit better ... et voilà - it works!

[2016-09-07 09:29] zonky2 commented on #1037
hmm..? magic...

[2016-09-07 09:54] dillinja opened #1040 "Save Rendersettings - values get lost / Beim Speichern der Rendereinstellungen gehen im BE Werte verloren."
## My environment is:

| Key | Value | Comments |
| --- | --- | --- |
| PHP version: | 5.6.23 |  |
| Contao version: | 3.5.15 |  |
| MetaModels version: | 2.0.0-alpha14 |  |
| Installation via composer: | yes |  |
| Installed MetaModels packages: | bundle_all |  |
| DCG version: | 2.0.0-beta38 |  |
## Issue description

when **creating a new render-setting** and finish this with **save** or **save

[2016-09-07 10:01] zonky2 commented on #1040
confirmed...

[2016-09-08 18:15] discordier commented on #1040
I suspect a problem with MCW here... @stefanheimes could you chime in?

[2016-09-08 18:16] discordier commented on #1038
This is the same you reported as contao-community-alliance/dc-general#308 I suspect?

If so, we should close this one.

[2016-09-08 19:00] zonky2 commented on #1038
correct - I was confused...

[2016-09-08 19:00] #1038 closed

[2016-09-09 11:03] design23 commented on #1032
Any news on that one? I already found that bug in 2 installations and it's not that helpful for SEO ;)

[2016-09-09 11:35] zonky2 commented on #1032
It´s possible to you to write a PR?

[2016-09-09 11:36] design23 commented on #1032
Erh... what exactly do you mean?

[2016-09-09 11:54] zonky2 commented on #1032
* seach the problem and fix it at the source
* push up a Pull Request

[2016-09-09 11:54] design23 commented on #1032
Oh... yeah, I would do that if I COULD ;)

[2016-09-09 12:05] zonky2 commented on #1032
95% of our work is just for fun - If you have a project to finance the bugfixing, send a mail... on the other hand you have to wait of own projects with this feature

btw: 42€ is nearly a half hour for the most full-time programmer ;-)

[2016-09-09 12:26] design23 commented on #1032
I'm fully aware of these facts. I just wanted to ask if there's already a solution in sight. If I had the possibilities to fix it on my own, I totally would do that.
So, don't get me wrong on this: I think MM is the biggest and best extension Contao ever got and I appreciate all the hard work that has been put into this project so far... I just thought it might at least be a tiny tiny help to repo

[2016-09-09 12:37] zonky2 commented on #1032
may be you should to revise your business... ;-)

[2016-09-09 12:41] design23 commented on #1032
Wow. Thank you.

[2016-09-09 12:44] zonky2 commented on #1032
o.k...o.k. I see your donation and "I whirl the drumsticks..."

[2016-09-12 10:40] zonky2 commented on #1032
fixed with https://github.com/MetaModels/core/commit/58ec4ca31aeb280366abf53a6d48e7d0d855cc11

[2016-09-12 10:40] #1032 closed

[2016-09-20 10:09] stefanheimes opened #1043 "ToDo: Api mistakes"
_Wrong return value:_

Source: https://github.com/MetaModels/core/blob/master/src/MetaModels/IMetaModel.php#L164
Current: IItem
Right: IItem|Null

[2016-09-27 19:30] #624 closed

[2016-10-08 16:39] zonky2 commented on #35
siehe https://github.com/contao-community-alliance/dc-general/issues/303

[2016-10-10 08:12] zonky2 commented on #101
I close it after talking with @backbone87 ...

[2016-10-10 08:12] #101 closed

[2016-10-11 07:41] zonky2 opened #1044 "Error if delete atribute - dependet at existing render setting pid"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h

[2016-10-20 20:43] zonky2 commented on #870
**Fundraising möglich!**
https://now.metamodel.me/de/unterstuetzer/fundraising#redakteurmodul

[2016-10-21 19:41] m-knorr opened #1047 "After Update DC General throws errors in MetaModels"
## My environment is:

| Key | Value | Comments |
| --- | --- | --- |
| PHP version: | 5.6 |  |
| Contao version: | 3.5.6 |  |
| MetaModels version: | 2.0.0-alpha14 |  |
| Installation via composer: | yes |  |
| Installed MetaModels packages: | core & bundle |  |
| DCG version: | 2.0.0-beta-38 |  |
## Issue description

The Frontend works as expected.

But the Backend won't work anymore. The Listi

[2016-10-21 20:08] discordier commented on #1047
Do you remember from which version you upgraded?

The issue is, that dc-general now finds 4 matching palette definitions where it should only find one.

What packages have additionally been updated aside from MetaModels and dc-general?

Can you provide us with more information about your setup?

[2016-10-25 09:53] stefanheimes commented on #1040
Confirmed one time.

Create a new one and take a look close to the MCW, there is something missing. On the Screen you see the "Deutsch" in the first column. But if you just create a new RenderSetting the first column is empty. There is no active language or the "Alle Sprachen", after saving, the first column has the right context e.g. "Deutsch" or "Alle Sprachen".

So if you create a new RenderSet

[2016-10-25 15:16] discordier commented on #1040
So what is the initial value then? Empty string? I guess we need to create a proper default value on new value.

[2016-11-02 10:30] m-knorr commented on #1047
I can't reproduce the additionally install modules, sorry. But here are the currently installed modules:

![bildschirmfoto 2016-11-02 um 11 27 32](https://cloud.githubusercontent.com/assets/13362483/19925263/80212da4-a0ef-11e6-89e4-886c41bf8da4.png)

Hope it helps, because the MetaModels don't work anymore... :(

My setup contains 4 MetaModels which are in some kind referenced with each other. May

[2016-11-02 10:51] zonky2 commented on #1047
@m-knorr two notes:
* you can delete "metamodel/core" - this package is implemented in bundle_all
* if you wish to update the DCG to beta39, you should update the json file => read the manual...

[2016-11-03 06:08] discordier commented on #1047
I can not reproduce this on my system.

We would be either in need of the DB or access to your site to do (paid) debugging.

If you want to get the root cause of the problem yourself, you want to trace into `src/ContaoCommunityAlliance/DcGeneral/DataDefinition/Palette/PaletteCollection.php` and dump the matching palettes.
Then you should get an idea why several match.

[2016-11-03 10:25] zonky2 commented on #1044
Fixed with DCG beta39

[2016-11-03 10:25] #1044 closed

[2016-11-16 11:25] zonky2 opened #1054 "provide the combination of "child table" with "variants""
At this time, it´s not possible to use variants at a child table, because both use the column pid...

May be we can change the builder https://github.com/MetaModels/core/blob/master/src/MetaModels/DcGeneral/Dca/Builder/Builder.php#L656 to use self definited column(s) as parent id

[2016-11-16 11:52] zonky2 opened #1055 "add new event to rewrite frontend filter widget"
add new event to rewrite frontend filter widget e.g. to add a HTML5 placeholder, mandatory flag or own validation

[2016-11-17 07:18] zonky2 opened #1056 "at variants the childs don´t toggle own checkbox icon at same time as parent"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h

[2016-11-17 07:31] zonky2 commented on #1047
@m-knorr pls check your system... if you can reproduce the error, you can re-open the issue

[2016-11-17 07:31] #1047 closed

[2016-11-17 07:33] zonky2 commented on #1036
with PR #1053 we can "to sail around" this

[2016-11-22 12:16] #1036 closed

[2016-11-22 22:25] zonky2 opened #1057 "add checkbox "all chosen items active""
look at https://github.com/contao-community-alliance/dc-general/issues/315#issuecomment-262377542

[2016-11-22 22:48] discordier commented on #1057
*sigh* let me copy it for you...

![image](https://cloud.githubusercontent.com/assets/940331/20545181/1001a5e2-b10e-11e6-804a-c457bc866f9e.png)

[2016-11-23 06:23] zonky2 commented on #1057
THX!

[2016-11-23 06:46] zonky2 commented on #50
siehe auch https://github.com/MetaModels/core/issues/1057

[2016-11-23 06:53] zonky2 commented on #163
changed https://github.com/MetaModels/core/commit/c134bccc8e936ac8379fd19ca981e2fa856414e8

[2016-11-23 06:53] #163 closed

[2016-11-23 07:23] zonky2 commented on #440
MM check the prefix of table name at renaming

[2016-11-23 07:25] #440 closed

[2016-11-29 14:39] martonos opened #1058 "Manuelles Sortieren bei Kind-Elementen (mehrsprachiges Metamodel)"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h

[2016-11-29 14:53] zonky2 commented on #1058
zum Thema Sortieren per Ajax: der Fix unter https://github.com/contao-community-alliance/dc-general/pull/313

[2016-11-29 15:01] martonos commented on #1058
Jope. Mit dem contao-community-alliance/dc-general#313 gibt es also einen Fix, welche DC-General-Version muss ich denn dafür über den Composer installieren? Von mir aus, muss es auch gar nicht gleich per Ajax sein, Hauptsache ich kann irgendwie die Reihenfolge ändern.

![metamodels_-_contao_open_source_cms_3_5](https://cloud.githubusercontent.com/assets/5220040/20714628/e249582c-b64c-11e6-8103-636

[2016-11-29 15:03] martonos commented on #1058
Ach verrückt, ich hab die beiden Zeilen angepasst und jetzt geht es. Das ist doch jetzt aber nicht Updatesicher oder?

Schon jetzt vielen Dank!

[2016-11-29 16:36] discordier commented on #1058
Das Problem wird in beta 38 vom DCG gefixt sein, somit ist es "updatesicher", da du die Fehlerbehebung von Hand bei dir vorgenommen hast.
Beim Update wird deine Aenderung mit unserer ueberschrieben, welche jedoch dieselbe ist.

Ich mache daher hier nun zu.

[2016-11-29 16:36] #1058 closed

[2016-11-29 16:38] martonos commented on #1058
Alles klar. Danke!

[2016-11-29 21:12] zonky2 opened #1059 "Add column enabled at tl_metamodel_dca_sortgroup and toggle "eye" at backend"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h

[2016-11-29 22:49] discordier commented on #1059
What do you need this for?
I mean,what is the use case?
Why would you want to have disabled sorting settings?

I'll file this as future for the moment.

[2016-11-30 06:15] zonky2 commented on #1059
at first: a consistent usability... the most "adjustment" we can toggle e.g. filter rules and other

[2016-12-02 22:15] zonky2 opened #1060 "Finalize 2.0.0"
# TODO
- [x] Bump PHP and Contao version (see MetaModels/core#1011)
- [x] Add `.github/` templates - see [example](https://github.com/MetaModels/core/tree/e672fc555c7341059d76625cf0b5853b35c69070/.github) but ensure to update the links in the files!
- [x] Add `.gittattributes` file (see MetaModels/core#846)
- [x] remove `minimum-stability` from `composer.json` and add
`"metamodels/core": "~2.0@alp

[2016-12-02 22:25] zonky2 opened #1061 "Finalize 2.0.0 - Overview"
# TODO for each repository:
Please use this template snipet:
[code]
# List of repositories to apply above tasks to:
- [x] metamodels/attribute_alias - 2.0.0
- [x] metamodels/attribute_checkbox - 2.0.1
- [x] metamodels/attribute_combinedvalues - 2.0.0
- [x] metamodels/attribute_country - 2.0.0
- [x] metamodels/attribute_decimal - 2.0.0
- [x] metamodels/attribute_file - 2.0.0
- [x] MetaModels/attrib

[2016-12-04 21:19] zonky2 opened #1063 "Change 'Unnamed legend' as default to MetaModel name"
my be its a good idea to change  'Unnamed legend' to the name of the MetaModel?

see at https://github.com/MetaModels/core/blob/master/src/MetaModels/BackendIntegration/InputScreen/InputScreen.php#L228

[code]

[2016-12-07 03:56] discordier commented on #1063
I do not see why this should be better.

[2016-12-07 06:38] zonky2 commented on #1063
In my mind the metamodels name e.g. "Products", "Addresses", "Events"... looks like better than "_Unnamed legend_" ...

at this time its to much clics to add a own legend - a good way can be add the legend with the "add all" button (and checkbox to add)

[2016-12-07 06:49] discordier commented on #1063
How should this work with the addAll?

[2016-12-07 06:52] discordier commented on #675
@zonky2 der Cache wird doch inzwischen geleert wenn man mit dem Auge toggled, oder?

[2016-12-07 06:55] discordier commented on #755
As attributes are finished I'll close this in favor of  #420 now.

[2016-12-07 06:55] #755 closed

[2016-12-07 07:21] #1043 closed

[2016-12-07 07:25] zonky2 commented on #675
doch tüt

[2016-12-07 07:25] #675 closed

[2016-12-07 07:40] discordier commented on #1019
I can not reproduce this. I always get the correct error message shown as the exception is captured.

[2016-12-07 07:51] zonky2 commented on #1019
is fixed ... irgendwann ;-

[2016-12-07 07:51] #1019 closed

[2016-12-07 07:52] discordier commented on #1018
Related to #35

[2016-12-07 07:53] discordier commented on #35
Meanwhile implemented - however still suffers from #1018. Closing here therefore.

[2016-12-07 07:53] #35 closed

[2016-12-07 08:17] #954 closed

[2016-12-07 08:18] #936 closed

[2016-12-07 08:18] zonky2 commented on #936
look at https://github.com/contao-community-alliance/dc-general/issues/198

[2016-12-07 08:21] zonky2 commented on #956
wann ist "possible"? ;-)

[2016-12-07 08:42] zonky2 commented on #1040
tested - works fine!

[2016-12-07 08:42] #1040 closed

[2016-12-07 08:44] discordier commented on #958
Ich verstehe das issue nicht.

[2016-12-07 08:46] discordier commented on #910
Should be fixed as #1033 has been merged in 8bbd54c?

[2016-12-07 08:47] asaage opened #1064 "readonly Date-attribute not working properly"
Wenn in einer Eingabemaske ein Datum-Feld mit der Eigenschaft "nur lesen" auftaucht erscheint zum Einen trotzdem der Datepicker, der editierbarkeit sugeriert zum Anderen kann man die Maske nicht mehr abschicken falls das Feld befüllt ist.
![image](https://cloud.githubusercontent.com/assets/4138336/20960728/14e780d6-bc62-11e6-9703-6f64a5164b64.png)

[2016-12-07 08:50] discordier commented on #877
See also contao-community-alliance/dc-general#191 which is about deep-copy.

Copying of simple models has however been implemented meanwhile.
@zonky2 can we close this in favor of contao-community-alliance/dc-general#191

[2016-12-07 08:54] discordier commented on #1064
Duplicate of MetaModels/attribute_timestamp#21.

[2016-12-07 08:54] #1064 closed

[2016-12-07 09:15] asaage opened #1065 "readonly Attributes"
The readonly - attribute of form-fields should probably also be get attributed **disabled**
as readonly fields are still submitted in the form wich is not the case with disabled fields.
compare: [readonly](http://www.w3schools.com/tags/att_input_readonly.asp) vs [disabled](http://www.w3schools.com/TAgs/att_input_disabled.asp)

aber das schein wohl schon die Runde gemacht zu haben...
#1064
#567
htt

[2016-12-07 09:16] #1065 closed

[2016-12-07 09:20] zonky2 commented on #877
@asaage pls observe the ticket at DCG ...

[2016-12-07 09:20] #877 closed

[2016-12-07 09:25] cliffparnitzky commented on #956
Wie besprochen ... passiert demnächst

[2016-12-07 09:35] zonky2 commented on #1065
pls use the issue template... and check

- [ ] I have checked the Contao community forums for references https://community.contao.org/
- [ ] I have checked existing issues for duplicates and found none @ https://github.com/MetaModels/core/issues?q=is%3Aissue

[2016-12-07 14:04] discordier commented on #811
@zonky2 Dupe of contao-community-alliance/dc-general#191?

[2016-12-07 14:20] zonky2 commented on #811
it´s true..
@AgentCT pls observe https://github.com/contao-community-alliance/dc-general/issues/191

[2016-12-07 14:20] #811 closed

[2016-12-07 20:54] zonky2 commented on #1063
I don't know... may be we can add a row with checkbox in the attribute list at first "item"

[2016-12-08 09:29] zonky2 commented on #958
alles prima inzwischen...

![shot303](https://cloud.githubusercontent.com/assets/1045318/21004537/337f48d8-bd31-11e6-99b3-6476206e3293.jpg)

[2016-12-08 09:29] #958 closed

[2016-12-08 09:52] zonky2 commented on #892
fixed https://github.com/MetaModels/core/pull/1066

[2016-12-08 09:52] #892 closed

[2016-12-08 11:56] zonky2 commented on #431
pls observe contao-community-alliance/dc-general#281

[2016-12-08 11:56] #431 closed

[2016-12-08 13:14] zonky2 commented on #358
obsolete...

[2016-12-08 13:14] #358 closed

[2016-12-08 14:49] discordier commented on #636
I suspect the published filter in the first screenshot forces this behavior (which is correct).

Therefore I fail to see the bug here, @zonky2 please test again by disabling the published filter temporarily.

[2016-12-08 17:09] discordier commented on #1063
Well, if the others agree, I'm fine with changing this to the MetaModel-Name (@MetaModels/team, please chime in).

The addAll improvement however will need significant changes, therefore please open a new ticket for this (as feature request) if you really want this.

[2016-12-09 22:13] zonky2 commented on #765
vllt verstehe ich die Sache nicht richtig aber bei
Contao 3.5.19
MM core a15
DCG b39

* habe ich zwei MMs, wobei das eine MM eine Kindtabelle ist und mit den Icons bei der Elternliste auftaucht...
* Internen Cache umgehen abgeschaltet
* Elternliste + Kinderliste aufgerufen
* Contao- und MM-Cache geleert ( und nicht neu angelegt)

=> Icons sind noch da - siehe Screenshot

![shot304](https://cloud.g

[2016-12-12 15:13] zonky2 commented on #1018
fixed with https://github.com/contao-community-alliance/dc-general/issues/321

[2016-12-12 15:13] #1018 closed

[2016-12-13 06:39] zonky2 commented on #765
ich habe den Test aus https://github.com/MetaModels/core/issues/765#issuecomment-266137726 mit einem größeren Bild - so dass in assets ein temporäres Bild abgelegt wird - wiederholt

das Bild ist dann z.B. ```assets/images/f/bg_body_pattern-c8fdb6df.png```

vorher
![shot305](https://cloud.githubusercontent.com/assets/1045318/21130198/1bb9bf2e-c107-11e6-8946-eea43ba78d65.jpg)

caches geleert
![shot

[2016-12-13 19:24] discordier commented on #765
Das ist seltsam und sollte nicht passieren... dann trifft er bei dir anscheinend nie den cache, das ist seltsam...

[2016-12-13 19:30] zonky2 commented on #765
und nu?

[2016-12-14 03:33] discordier commented on #765
Rausfinden warum bei dir der cache nicht genommen wird.

[2016-12-14 09:01] MiniModel commented on #910
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@stefanheimes could you please have a final look at this and tell if your

[2016-12-14 11:35] zonky2 commented on #765
habe mir das auf "Dateiebene" angesehen - beim Löschen/Leeren von "Bildercache leeren" wird die Datei wirklich gelöscht und sobald die (BE-)Seite aufgerufen wird, wird das Thumbnail neu erstellt...

also ich würde sagen, das Issue kann zu - ich kenne auch keine weiteren "Beschwerden" zu dem Thema

[2016-12-14 21:30] zonky2 commented on #1063
thx https://github.com/MetaModels/core/pull/1067

[2016-12-14 21:30] #1063 closed

[2016-12-15 06:21] zonky2 commented on #765
o.k. - wenn das Icon in der "normalen Contao-Navigation" sitzt und der Image Cache gelöscht wird, ist das Bild weg und wird nicht neu erstellt :-(

![shot309](https://cloud.githubusercontent.com/assets/1045318/21213790/16a6dc38-c297-11e6-9318-99fd00327913.jpg)

[2016-12-15 07:03] zonky2 commented on #764
fixed with https://github.com/MetaModels/attribute_checkbox/commit/2a2e621fa77e9e35bdb63cf0ac31fbcbc3e91809

[2016-12-15 07:03] #764 closed

[2016-12-15 11:42] zonky2 commented on #805
aktueller Test:
C 3.5.19
DCG  	dev-hotfix/beta-39 (91ca8ccb)
MM core  dev-hotfix/alpha-15 (be79e5a5)
MM tags  2.0.0-alpha6

Fehler erscheint schon bei der Anzeige der Eingabemaske

wenn statt tl_page z.B. tl_article verwendet wird, ist alles o.k.

[code]

[2016-12-15 17:01] MiniModel commented on #379
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@stefanheimes could you please have a final look at this and tell if your

[2016-12-15 17:01] #379 closed

[2016-12-21 22:42] discordier commented on #1008
@zonky2 We need to debug this in your installation.

[2016-12-22 14:47] zonky2 commented on #874
dupe of #586

[2016-12-22 15:01] zonky2 opened #1073 "headline at tableview are lost if attribute hidden at input mask"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h

[2016-12-22 15:21] zonky2 commented on #1073
fixed with https://github.com/MetaModels/core/commit/4294865d5127ae6377323158bf3dc69c462419fa

[2016-12-22 15:21] #1073 closed

[2016-12-23 21:51] zonky2 commented on #1011
... and we look at #1061

[2016-12-23 22:04] zonky2 commented on #555
ggf. ist ein freies Eingabefeld besser oder zus. zu Model-Name und ggf. Filterset-Name

[2016-12-30 20:29] richardhj opened #1074 "Usage of $this->block() in templates"
Whats about the usage of `$this->block()` in the MM templates like `metamodel_prerendered`? This would make template adjustments well arranged.
I could provide a PR.

[2016-12-30 20:36] zonky2 commented on #1074
Perhaps this ticket has the same goal..?
https://github.com/MetaModels/core/pull/1045

[2016-12-30 23:27] #1074 closed

[2016-12-31 09:59] zonky2 commented on #1016
@baumannsven hatte angeboten, einen FilePicker in MCW (per "Mini-Fundrasing") einzubauen - bisher ist das Geld noch nicht zusammen...

[2016-12-31 10:02] zonky2 commented on #976
@discordier außer bei den Einstellungen für Sortierung/Gruppierung brauchen wir die Checkboxen nicht mehr - oder?

[2016-12-31 10:19] zonky2 commented on #644
@stefanheimes pls update your linky at https://github.com/MetaModels/core/issues/644#issue-48574726

[2017-01-02 10:54] zonky2 opened #1076 "URLs in sitemap.xml are faulty if value empty"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h

[2017-01-02 11:14] zonky2 commented on #1076
fixed with #1077

[2017-01-02 11:14] #1076 closed

[2017-01-04 12:09] Kreativsoehne commented on #420
Wir stehen hier vor einem ähnlichen Problem:

Es gibt eine Seite mit zwei Inhaltszweigen für Deutschland und die Schweiz. Die Sprache ist jeweils deutsch, aber je nach gewählter Domain springt Contao auf den jeweiligen Inhaltsteil; *.de landet im Zweig de_de, *.ch in de_ch.
Alle Inhalte, die von MetaModels stammen, sind in deutscher Sprache hinterlegt, sind aber pro Land unterschiedlich. Surft man

[2017-01-04 13:28] zonky2 commented on #420
nein, da hat sich nichts getan bzw. es wurde "hart" auf zwei Zeichen begrenzt

...und wie schon im Forum zu Deiner Anfrage geschrieben, ist das Posting https://github.com/MetaModels/core/issues/420#issuecomment-44397988 der "letzte Stand", d.h. selbst programmieren und PR einreichen oder programmieren lassen...

[2017-01-07 16:47] discordier commented on #644
He is referring to [this](https://github.com/MetaModels/core/blob/fede5af4a2affbe4e97dd5b2c3f7bd59f957ece5/contao/templates/metamodel_prerendered.html5#L1)

[2017-01-07 16:52] discordier commented on #976
Korrekt, sollte alles per mapping in den combinations erfolgen.

[2017-01-07 16:55] discordier commented on #555
Wie bereits diskutiert, ein "Kommentar" Freitextfeld macht hier vermutlich am Meisten Sinn.

[2017-01-12 10:38] zonky2 commented on #988
@albirs

have you a error?

[2017-01-16 11:10] HenryLamorski opened #1079 "PHP7 compatibility String/StringUtil in ItemList.php#L775"
useage of deprecated `\Contao\String` instead of `\Contao\StringUtil` in https://github.com/MetaModels/core/blob/master/src/MetaModels/ItemList.php#L775

[2017-01-16 11:18] zonky2 commented on #1079
its fixed https://github.com/JeremieConstant/core/commit/7368ff53af6b4bcb151ac2c2a3e75176bfc9309a

[2017-01-16 11:18] #1079 closed

[2017-01-21 09:26] richardhj commented on #644
In the `ItemList` class, no `settings` property is added to the template. And as the `RenderItemListEvent` is brand-new, no other core component adds the `settings` property to the template.
I'm going to remove this legacy within #1082.

[2017-01-24 11:01] discordier commented on #644
closing in favor of #1082.

[2017-01-24 11:01] #644 closed

[2017-01-26 06:53] zonky2 commented on #559
In Baeumen kann man jedoch nicht per Drag&Drop sortieren (das ist in ganz Contao so).

daher obsolet

[2017-01-26 06:53] #559 closed

[2017-01-26 19:13] Aybee opened #1083 "Feature: Implement natural sort to all order by queries"
MySQL scheint ja kein natural sort anzubieten. Hier ein einfaches Beispiel:
[code]
Das wirkt sich negativ auf viele Bereiche aus. Beispiele:
- Die BE-Listenansicht sortiert nach ASC|DESC
- Die Reihenfolge in den Filtern im FE
- Die Reihenfolge in der HTML5 Liste der Tags im FE

An einer Stelle in einem Template habe ich erfolgreich einen Patch aufgesetzt indem ich vor der Ausgabe nochmal mit PHP s

[2017-01-26 20:15] zonky2 commented on #1083
eine generelle Implementierung ist nicht angebracht, da man über die Filterregel "Eig. SQL" auch die Sortierung beeinflussen kann - auch Sachen wie nach Wochentag sortieren

[code]

auch verschiedene "natürliche Sortierungen" sind per SQL möglich https://www.google.de/search?client=firefox-b-ab&q=mysql+natural+sort

von daher würde das m.E. nur für die FE-Filter Sinn ergeben - und dafür gibt es ei

[2017-01-26 21:47] asaage commented on #1083
Ach.. was habe ich über die alphabetische Sortierung von mysql schon geflucht...

* ä nach a
* ä nach ae
* ä nach z

Wörterbuch-Sortierung, Telefonbuch-Sortierung und was es sonst noch so gibt.
https://de.wikipedia.org/wiki/Deutsches_Alphabet

Nach Versuchen, es auf Kosten der Performance und der Paginierung in php zu lösen
und Experimenten mit COLLATE in meinen sql-Statements hat sich dann rausge

[2017-01-26 22:53] Aybee commented on #1083
Der aktuelle Fall sieht so aus:

**Zielgruppen**:
- Erwachsene
- Klasse 1 - 5
- Klasse 11 - 13
- Klasse 6 - 10
- Senioren

Ich hatte auch schon gegoogelt aber die Lösungen welche ich mir angesehen hatte passten alle nicht.  Ich müsste so etwas machen
`SELECT *, title(machwas mit title) as tmpTitle FROM tablename ORDER BY tmpTitle`

In **tmpTitle** müssten dann aufeinanderfolgende Zahlen vorne mit

[2017-01-27 00:22] asaage commented on #1083
Sicher nicht 100%ig bulletproof aber solang die Zahlen nach dem ersten Leerzeichen kommen, sich Zahlenbereiche nicht überlappen und der Text bis zum ersten Leerzeichen für die Sortierung ausreicht kannst du es hiermit probieren: http://sqlfiddle.com/#!9/252a1/6/0

[2017-01-27 10:19] Aybee commented on #1083
@asaage Diese Seite scheint bei mir irgendwie nicht zu laufen. Hast du vielleicht mal einen Gist o.ä.?

[2017-01-27 12:03] asaage commented on #1083
https://gist.github.com/asaage/efbbe85181878b6ae9d24610c52655e8

[2017-01-29 16:47] Aybee commented on #1083
@asaage Danke schön. Aber ich dachte an eine Lösung für den Core, welche sämtliche Situationen abdeckt. Werde also im FE mit PHP nachsortieren.

[2017-01-29 19:57] asaage commented on #1083
Das Problem mit der nachträglichen Sortierung per php ist, dass du es nur auf relativ kleine Datenbestände anwendbar (bzw sinnvoll) ist. In meinem Fall hatte ich über 1000 Datensätze und da wünscht man sich eine Lösung die auch paginierbar ist. Da das mittels LIMIT und OFFSET auf querry-ebene passiert sehe ich für eine allgemeingültige Lösung leider schwarz. Natsort -featurerequests bei mysql geis

[2017-01-29 20:09] Aybee commented on #1083
Ah, gute Idee. Also z.B. mit nem onsave_callback diese zusätzliche Spalte aufbereiten? Ne Spalte sorting ist default ja schon vorhanden.

In der neuen mariaDB soll wohl ein search replace mit regex möglich sein. Dann könnte man auch sone Lösung wie z.B. Zahlen nach links mit 0 aufzufüllen umsetzen.

[2017-01-29 21:01] asaage commented on #1083
Dachte die Spalte sorting gibts nur, wenn man manuelle Sortierung aktiviert hat aber die könnte man wohl auch nehmen. Ansonsten genau wie du sagst: im onsave_callback eine separate Spalte aufbereiten..

[2017-01-29 21:16] Aybee commented on #1083
Ja, sorting ist bei mir in jeder Tabelle drin (8 Stück). Alle mit dem Inhalt `0`.

[2017-01-29 21:23] asaage commented on #1083
Stimmt bei mir auch... zumindest im Schema,
aber bei der Attributauswahl für die Sortierung ist es nicht verfügbar. Es wird dann wohl genommen, wenn man den Haken bei manuell setzt. Könnte Verwirrung stiften wenn man sich nach nem Jahr nochmal in die Modulkonfiguration begibt.

[2017-02-04 20:48] akroii opened #1084 "PHP Warning: Invalid argument supplied for foreach() mm_attr_tabletext.text on line 2"
I confirm that:
- [x ] I have tested this with the latest version available
- [x ] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked existing issues for duplicates and found none @ https://github.com/MetaModels/core/issues?q=is%3Aissue
- [x] I have checked the Contao community forums for references https://community.cont

[2017-02-04 23:18] richardhj commented on #706
Should I go about it?
I ask because some attributes are released as stable version and use the database.sql yet.

[2017-02-05 22:59] richardhj commented on #74
I need to sort (and maybe filter) the options that are shown in the FE filter options. Exactly the purpose of @stefanheimes.

I wonder how to implement it the best way and created a mockup:

![bildschirmfoto-2017-02-05-um-23 47 02](https://cloud.githubusercontent.com/assets/1284725/22630673/adcdbaba-ebfe-11e6-87a2-5ef58d2e238c.png)

With this functionality implement (in the `filter_select`), you w

[2017-02-06 06:15] zonky2 commented on #74
sounds good for me! ... and "kill two birds with one stone" so it's possible to filter e.g. all "Veranstalter" with property xy (has Catering, work only in Germany...)

[2017-02-06 06:59] zonky2 commented on #1084
pls follow https://github.com/MetaModels/attribute_tabletext/pull/21

[2017-02-06 06:59] #1084 closed

[2017-02-06 08:23] richardhj commented on #74
Yeah! The only problem encountered to me: This will only work if the foreign table is a MetaModel (not a simple table) (because you can define a filter for MetaModels exclusively). Further feedback pls.

[2017-02-06 08:40] zonky2 commented on #74
...as alternative, we can use a input field for ```SELECT ... ORDER BY ZZ```

[2017-02-06 16:15] discordier commented on #74
I do not completely grasp how this solves your problem, you want to select a static filter here?
What happens to the parameters in said filter? Will they revert to default? If not, how to define the values here? Like in the MOD/CE?
What about language dependent values (We have this problem in the CE filter select already)?

Do not get me wrong, I like the attempt to ease usage and implementing suc

[2017-02-07 00:30] richardhj commented on #920
Merged in f9178b6. Can be closed.

[2017-02-07 00:48] #920 closed

[2017-02-07 00:49] discordier commented on #706
Would be nice, we can safely change this in patch level releases as the results are compatible.

[2017-02-09 20:12] bizon1 commented on #988
**Hi Folks**

On a local test environment I'm running Contao-3.5.24 with PHP 7.1

During saving a record in a Metamodel I've got this Message:

	Fatal error: Uncaught exception Error with message [] operator not supported for strings thrown in composer/vendor/metamodels/attribute_alias/src/MetaModels/Attribute/Alias/Alias.php on line 107

I guess that this belongs to: [http://php.net/manual/en/lan

[2017-02-09 20:23] zonky2 commented on #988
may be it´s better to work with

[code]

[2017-02-09 21:00] bizon1 commented on #988
**@zonky2**
i cannot figure out how to color up the lines. But would you please turn the colors in your comment: First line to green, second to red.
Thx

[2017-02-09 21:08] zonky2 commented on #988
if you write the three tick and diff like "```diff" you can color the lines with - to red and + to green - that means - delete this line and + add this line

[2017-02-12 09:50] JLNNN commented on #724
Gibt es eine Möglichkeit, mehrere Felder zu kombinieren, damit man nicht nur ein Feld auswählen kann?
https://twitter.com/JLNSTCK/status/827078438083235840
![multiple-fields](https://pbs.twimg.com/media/C3pfY-WWQAAtAvA.jpg)

[2017-02-12 10:01] richardhj commented on #724
@JLNNN Ein Attribut "combinedvalues" erstellen und dieses dann als Meta-Titel auswählen, sollte gehen.

[2017-02-12 11:46] JLNNN commented on #724
@richardhj Funktioniert grundsätzlich, danke :) Allerdings muss das Feld sichtbar sein - bzgl. Topic. Habe es vorerst auch über eine Abfrage im Template geregelt.

[2017-02-13 16:15] richardhj opened #1088 "Provide new bundle"
I would appreciate a new bundle. This bundle completes the bundles `attribute_translated` and `attribute_nontranslated` and includes the attributes
[code]
(copy/paste from the `bundle_attributes`

Use case: Create a MetaModels installation with all the attributes but without the translated attributes.

[2017-02-14 13:51] discordier commented on #1088
I wondered lately if we should really encourage the usage of the bundles.

We should debate this.

I for myself nowadays only install the attributes I really need to omit "junk" in the installation.
This also greatly increases composer resolving time.

[2017-02-15 07:46] zonky2 commented on #1088
I advice at the manual "use bundle_all" ... any user have problems to install the packages separatly e.g. https://community.contao.org/de/showthread.php?65698-Filter-Attribute-werden-nicht-angezeigt&p=432459&viewfull=1#post432459

[2017-02-21 22:49] cliffparnitzky commented on #956
@zonky2 in der Hoffnung nun endlich eine funktionierende Lösung gefunden zu haben, gibt es einen passenden feature branch (feature-unique-attributes-marked-mandatory ). Kannst du den mal bitte testen?

[2017-02-22 06:27] zonky2 commented on #956
habe ich getestet - läuft bei mir!

[2017-02-22 20:51] cliffparnitzky commented on #956
Sehr schön. Hab noch den Code gemäß der Empfehlung von @richardhj angepasst. Das gemeckert von Travis bezieht sich auf Code, den ich nicht angefasst habe. Das wird sicher noch im originalen Branche gefixt. Könnte also gemergt werden, oder?

[2017-02-23 13:36] richardhj commented on #956
am besten als PR mit alpha15 als base branch. Code sieht aber gut aus :)

[2017-02-23 13:44] cliffparnitzky commented on #956
Wozu nun noch nen PR, wenn das schon ein branch ist ?

[2017-02-23 13:46] richardhj commented on #956
Ich finds nur übersichtlicher, da da der „Klickweg“ zur Compare-Ansicht kürzer ist. Aber geht beides.

[2017-02-23 13:49] cliffparnitzky commented on #956
Jut, dann bitte den branch mergen

[2017-02-23 16:30] discordier opened #1089 "Filter settings default to "skipfilteroptions" on."
## Checklist before I submit this issue report

I confirm that:
- [X] I have tested this with the latest version available
- [X] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [X] I have checked the Contao community forums for references https://community.contao.org/
- [X] I have checked existing issues for duplicates and found none @ h

[2017-02-23 16:48] discordier opened #1090 "New filter setting "Only if parameter is set"."
I want to propose the creation of a new filter setting working title "Only if parameter is set".
This is meant to be like the "NOT" rules and only wrap one other filter setting.
The behaviour should be to check if an attribute name is non empty and then either (to be configurable):
1. return an empty result (`[]`).
2. return an abstain result (`null`).

This would come in handy and could reduce th

[2017-02-23 20:35] zonky2 commented on #1090
do you mean this like http://metamodels.readthedocs.io/de/latest/cookbook/filter/exclusion.html ?

[2017-02-25 09:06] discordier commented on #1090
Nope, I meant a wrapper filter which is only executed if there is a value in the parameters.
From your example this would mean only execute if there is a value in the get parameters with the name `abteilung`.
The problem with your solution is, there is no way to define an execution path (aside from defining very complex queries) of what to do when the parameter has not been set.
Example:
[code]
So

[2017-02-25 11:15] richardhj commented on #1090
This could become handy and I have a use case for it too.
But what makes the empty result (`[]` or `null`), when not using the OR-condition in the example you mentioned before?
An empty result per default will result in an empty result list per default. So it should be configurable to simply ignore the filter rule instead of returning an empty result.

And this filter rule will become useful for w

[2017-02-25 12:31] discordier commented on #1090
That is what I wrote above concerning abstaining (`null`).
Setting `[]` as result should be configurable also (but I lack an use case for this).

[2017-02-25 13:18] richardhj commented on #1090
Ok, I missed that returning `null` will kick out the filter rule.
Yeah then I don't see any further problems.

[2017-02-26 16:21] zonky2 commented on #1090
o.k. - e.g to build a hierarchical set of filters like country, state, city with filter city only have filter city a value and filter state only if country set?

[2017-02-26 18:55] discordier commented on #1090
Exactly.

[2017-02-26 19:18] richardhj commented on #1089
As a side note:
The "skipfilteroptions" flag will always be on because, when not disabled in the input mask explicitly, of https://github.com/MetaModels/core/blob/46370fb8df9e751c9f6d0b2d10399fdf161fadf4/contao/dca/tl_metamodel_filtersetting.php#L499

When decided for possibility 1:
* We can use the `BuildDataDefinitionEvent` to define the "skipfilteroptions" flag as `false` for filters that does

[2017-02-28 03:17] discordier opened #1091 "Filter setting labels should be translatable"
The label of filter settings should be translatable like the names/labels of attributes.

The value is usually obtained from `tl_metamodel_filtersetting.label` and has to be extended in there.
Maybe we want to provide a more general solution for such stuff though which will centralize the code for attributes, render setting labels and filter setting labels.

[2017-02-28 09:13] zonky2 opened #1092 ""Simple lookup" does not resolve translated attributes correct"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h

[2017-02-28 20:11] discordier commented on #807
Could be fixed with 7932e3c9c4eea430f6bca0588f7fa2077f47609b, thanks to @sheeep.

[2017-02-28 20:14] discordier commented on #546
Scheint mir ein translation Problem zu sein, damit dann definitiv auch Core betroffen und nicht nur DCG.

[2017-02-28 21:45] zonky2 commented on #292
we close this after discussion

[2017-02-28 21:45] #292 closed

[2017-02-28 21:49] zonky2 commented on #383
nicht mehr aktuell

[2017-02-28 21:49] #383 closed

[2017-02-28 21:55] zonky2 commented on #949
Templates bleiben mit bestehenden XHTML-Tags

[2017-02-28 21:55] #949 closed

[2017-02-28 22:17] zonky2 commented on #1088
für 2.0 bleibt alles so wie es ist...

[2017-02-28 22:17] #1088 closed

[2017-02-28 22:23] zonky2 commented on #398
better way https://now.metamodel.me/de/unterstuetzer/fundraising#redakteurmodul

[2017-02-28 22:23] #398 closed

[2017-03-01 14:57] zonky2 commented on #374
o.k. Problem wurde besprochen - PR wird vorbereitet

[2017-03-02 15:07] discordier commented on #889
Du definierst hier nun 2 Schreibweisen, anschliessend kommt der naechste und will lieber `ORDERBY` haben, oder gleich `sortierung` oder `sortiert-nach`... du siehst das Problem?

[2017-03-02 15:14] zonky2 commented on #889
o.k.

[2017-03-02 15:20] discordier commented on #889
DAS ist nochmal was anderes, da muss man das wieder mehrsprachig machen, vgl. hierzu auch die parameter namen der Filter.

[2017-03-07 10:01] MiniModel commented on #956
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@zonky2 could you please have a final look at this and tell if your issue

[2017-03-07 10:01] #956 closed

[2017-03-07 21:01] MiniModel commented on #807
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@amenk could you please have a final look at this and tell if your issue

[2017-03-07 21:01] #807 closed

[2017-03-07 21:01] MiniModel commented on #1014
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@discordier could you please have a final look at this and tell if your i

[2017-03-07 21:01] #1014 closed

[2017-03-07 21:38] zonky2 commented on #1090
which milestone?

[2017-03-07 21:52] discordier commented on #1090
Would love to squeeze it to 2.0.0 but don't know if I find the time for it.

[2017-03-07 22:01] MiniModel commented on #985
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@amenk could you please have a final look at this and tell if your issue

[2017-03-07 22:01] #985 closed

[2017-03-07 22:01] MiniModel commented on #1008
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@haendersonfox could you please have a final look at this and tell if you

[2017-03-07 22:01] #1008 closed

[2017-03-08 00:43] discordier commented on #1057
Needed it just now, therefore I implemented it. :)

[2017-03-08 15:03] zonky2 commented on #1057
you are my "MM fairy" ;-)

it works fine and speed up the work with MM

THX!

[2017-03-08 15:03] #1057 closed

[2017-03-09 06:44] zonky2 commented on #50
implemented with https://github.com/MetaModels/core/issues/1057

[2017-03-09 06:44] #50 closed

[2017-03-09 07:18] zonky2 commented on #546
einige ToolTips (TT) sind hinzu gekommen - folgende fehlen noch:

* alle "Augen" veröffentlichen haben bei MM keinen TT

* Render-Einstellungen
![shot325](https://cloud.githubusercontent.com/assets/1045318/23739778/dd456a80-04a0-11e7-97d2-d295ce9878d1.jpg)

* Eingabemasken
![shot326](https://cloud.githubusercontent.com/assets/1045318/23739785/ea6723f2-04a0-11e7-9c5b-dac6557a0add.jpg)

![shot328](h

[2017-03-09 07:22] zonky2 commented on #699
noch aktuell?

[2017-03-09 07:39] zonky2 commented on #765
@discordier

you give this the label "easy pick" - realy?

[2017-03-09 09:27] discordier commented on #765
Well, it is? Just adjust the generate image events to use a destination within our cache directory and you are done.

[2017-03-09 09:28] discordier commented on #699
yop

[2017-03-09 09:35] zonky2 commented on #765
ah.. o.k. you mean at https://github.com/MetaModels/core/blob/master/src/MetaModels/BackendIntegration/BackendModuleBuilder.php#L173 ?

[2017-03-09 11:26] zonky2 commented on #765
Damit bleiben die Icons nach Leerung das Bildercaches bestehen

https://github.com/MetaModels/core/blob/437e8b64413852d12147541549ac4f19d31fb331/src/MetaModels/BackendIntegration/BackendModuleBuilder.php#L169-L181

[code]

[2017-03-09 11:39] discordier commented on #765
Aber nicht bei composer update, welches den ganzen Ordner in `system/modules/metamodels` aufraeumt und neu anlegt.

Du darfst nicht in extension directories schreiben und auch nicht in den "normalen" image cache.
Was spricht gegen `assets/images/metamodels`?

[2017-03-09 11:57] zonky2 commented on #765
in `assets/images` würde ich Contao nicht rein grätschen... Isotope legt im direkt im root 'isotope` an - ich würde auf
[code]
gehen - wobei leider der Pfad nicht automatisch angelegt wird...

[2017-03-09 16:23] johannes-bittner commented on #546
Fehler bei Übersicht Eingabemasken, Tooltip für letztes Icon: Fehler/unpräzise:
"Bearbeiten Sie **ein** Einstellungen der Eingabemaske"
Besser vielleicht:
"Bearbeiten Sie die anzuzeigenden Felder der Eingabemaske"

![grafik](https://cloud.githubusercontent.com/assets/1597697/23759392/f929e400-04ec-11e7-8723-01b8ca18c9c4.png)

[2017-03-09 16:26] discordier commented on #546
Die Ybersetzungen kann jeder auf Transifex verbessern.
Hierzu ist jeder gerne eingelade.

[2017-03-09 16:37] zonky2 commented on #546
leider sind die Übersetzungen - ggf. auch schon die Originaltexte - nicht immer konsistent :-(

[2017-03-09 16:46] discordier commented on #546
Sollte sich nun dank MiniModelv2 erledigen, leider beim core nocht nicht (da der branch aktuell alpha15 heisst und nicht 2.0.0-alpha15)

[2017-03-10 12:37] Floxn opened #1093 "Keine Systemnachricht mehr beim Löschen von Dateien in der Dateiverwaltung bei aktivierter MetaModels-Extension"
| Key                                 | Value    | Comments                         |
| ----------------------------------- | ---------| ---------------------------------|
| PHP version:                        |      5.6 cgi    |                                  |
| Contao version:                     |    3.5.24      |                                  |
| MetaModels version:                 |

[2017-03-10 12:43] zonky2 opened #1094 "new legend at rendering for frontend"
any "newbies" select a filter to filter the backend list...

may be its better to select this for frontend

![shot329](https://cloud.githubusercontent.com/assets/1045318/23795771/8c3f1c7e-0597-11e7-82ea-cb7606d90741.jpg)

[2017-03-10 12:58] discordier commented on #1094
You really want to add a subpalette there just for displaying the jumpTo page?
I will end up clicking that checkbox almost always just to set the jumpTo page then...

What about adding a legend instead of a subpalette checkbox instead?

[2017-03-10 13:04] zonky2 commented on #1094
sorry "legend" is the keyword

[2017-03-10 14:31] zonky2 opened #1095 "new button "generate aliases" like Contao core as service"
new button "generate aliases" like Contao core as service

[2017-03-10 14:57] zonky2 commented on #1094
siehe https://community.contao.org/de/showthread.php?65999-SQL-Backend-Filter-will-nicht

[2017-03-10 16:05] discordier commented on #1095
More details

[2017-03-10 16:28] zonky2 commented on #1095
e.g. I have updated the composition to generate the alias values...

before <attr-1>-<attr-2>
after <attr-2>-<attr-3>

at this time I must open every item and save this - may be, in future times we can work with overrideAll/editAll

Contao have a button to generate all aliasses - I think it´s a good idea for MM ...

[2017-03-10 17:50] discordier commented on #1095
Said button is in the "edit multiple" area and hence applies to the same feature set.

Let alone, which alias do you want to regenerate? we could have a multitude of alias attributes, adding a button for each one will be overkill. :)

[2017-03-10 21:22] zonky2 commented on #1095
Contao have
![shot330](https://cloud.githubusercontent.com/assets/1045318/23813580/ca9a80a6-05df-11e7-8c33-3697ba7d1053.jpg)

and yes: override all aliasses (if the checkbox "Neuerstellung des Alias erzwingen." on)

[2017-03-10 21:53] discordier commented on #1095
I know that button, I stated above where it is:

Hence the statement stands, all aliases is maybe really overkill...

[2017-03-16 18:12] zonky2 commented on #431
test https://github.com/contao-community-alliance/dc-general/tree/feature/override_edit_all

[2017-03-16 20:19] zonky2 opened #1096 "Error if standard not set in sorting/grouping"
## Checklist before I submit this issue report

I confirm that:
- [ ] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h

[2017-03-17 07:38] zonky2 opened #1097 "FR: Item persister and retriever"
Check https://github.com/MetaModels/core/tree/feature/item-persister-and-retriever

[2017-03-17 07:40] zonky2 commented on #1097
dev-feature/item-persister-and-retriever (b63bd7e3)

Update and save item at BE:

[code]

[2017-03-17 07:46] zonky2 commented on #1097
published/unpublished per "green eye" doesn´t works - Ajax send same error as https://github.com/MetaModels/core/issues/1097#issuecomment-287287706

[2017-03-17 10:40] discordier commented on #1096
This is an issue in DCG then, isn't it?
From the stack trace it looks like it.

[2017-03-17 11:29] zonky2 commented on #1097
after MM uptate:

Update or New and save item at BE:

[code]

[2017-03-17 13:40] zonky2 commented on #1097
https://github.com/MetaModels/core/blob/feature/item-persister-and-retriever/src/MetaModels/DataAccess/ItemPersister.php#L215

[code]

[2017-03-17 14:03] MiniModel commented on #1093
This issue has been labeled with testing but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@Floxn could you please have a final look at this and tell if your issue ha

[2017-03-17 14:03] #1093 closed

[2017-03-17 22:08] zonky2 commented on #1097
it´s not possible to work with variants
* parent override all variant values at childs at save
* https://github.com/MetaModels/core/blob/feature/item-persister-and-retriever/src/MetaModels/DataAccess/ItemPersister.php#L108
[code]

[2017-03-18 17:14] zonky2 commented on #1096
fixed with https://github.com/contao-community-alliance/dc-general/tree/hotfix/add_group_header

[2017-03-18 17:14] #1096 closed

[2017-03-20 12:44] Floxn commented on #1093
Sorry, I was not in the office for one week.
The fix works for me in two different installations.

Thanks for all!

[2017-03-23 12:44] zonky2 opened #1098 "Update core to work with DCG edit/overrideAll"
see at https://github.com/contao-community-alliance/dc-general/issues/281#issuecomment-288705634

[2017-03-23 14:04] zonky2 opened #1099 "add filter to filter rule for tags and select"
add filter to filter rule for tags and select like the settings of this attributes

with this filtering we restrict the tags or select items of a subset e.g.
* all neighborhood of a city with more inhabitant as 100,000
* all dishes without meet
* all animals with 4 legs
...

![shot334](https://cloud.githubusercontent.com/assets/1045318/24251290/f094f04e-0fd9-11e7-8ae0-2bb849555044.jpg)

[2017-03-27 07:12] zonky2 opened #1100 "API: add getMetaModel() to items interface IItems"
it´s possible to retrive the MetaModels per item - if the count of items zero, it´s not possible to ask the MetaModels and we should add this at IItems

[2017-03-27 07:30] richardhj commented on #1100
As it is an interface change and it would break semantic versioning and the correct milestone would be 2.0.0.
As I just checked, the `Items` collection does not require that the every `Item` belongs to the same MetaModel (see https://github.com/MetaModels/core/blob/2.0.0-alpha14/src/MetaModels/Items.php#L43-L51). Am I right? If so, there might be multiple MetaModel instances belonging the the `Ite

[2017-03-27 07:34] richardhj commented on #1100
Is there a reasonable use case? Don't see so at first sight. `Items` is just a wrapper class, to enable iterating trough items.

[2017-03-27 07:50] zonky2 commented on #1100
use case e.g. https://community.contao.org/de/showthread.php?66171-TableName-des-MM-im-Frontend-zur-Verf%C3%BCgung&p=436153&viewfull=1#post436153

[code]
if getItem() zero we have a error...

[2017-03-27 08:16] richardhj commented on #1100
The code says: no
(Meaning it can not be assumed. The collection constructor must be adapted otherwise.)

[2017-03-27 08:34] zonky2 commented on #1100
@discordier what do you mean...

[2017-03-27 17:05] davidmaack opened #1101 "FE-Filter of MM-Select-Attributes returns no values when the option "Remaining values only" (only possible) is checked"
## Issue description

When using an FE-Filter on an select attribute which uses another MM to recieve its values, the open "only possible" will results in a filter with no filter options at all.

## Steps to reproduce

1. Configute a select attribute, using a second MM as the source table
2. Config a FE-filter for this attribute
3. Use the "Remaining values only" (only possible) options.

## Probl

[2017-03-28 05:23] zonky2 commented on #1061
MM-core is the last and only one...

[2017-03-28 05:26] zonky2 commented on #1011
ready... all other checks at https://github.com/MetaModels/core/issues/1061

[2017-03-28 05:26] #1011 closed

[2017-03-28 09:37] zonky2 commented on #1097
@discordier have you a new strategy for vatiants?

[2017-03-28 18:50] johannes-bittner commented on #1005
Soweit schon  einmal geprüft und nicht funktionierend:
attribute_translatedtext => Eintrag bleibt stehen
attribute_translatedcheckbox => Eintrag bleibt stehen
attribute_translatedcombinedvalues => Eintrag bleibt stehen
attribute_translatedfile => Eintrag bleibt stehen
attribute_translatedlongtext => Eintrag bleibt stehen
attribute_translatedtabletext => Eintrag bleibt stehen

[2017-03-28 19:40] discordier commented on #237
Closing in favor of #1087

[2017-03-28 19:40] #237 closed

[2017-03-28 19:45] #676 closed

[2017-03-28 19:50] discordier commented on #805
Should be fixed by https://github.com/contao-community-alliance/dc-general/commit/37b8585d62786836decfefe1da37405142d08ed0, please test.

[2017-03-28 20:26] discordier commented on #1100
IMO this is a breaking change as in #1087.
However, we have had to adjust some interfaces during the beta phase already (in DCG) and therefore we might squeeze this in also.
Yet I'd rather add the MetaModel name to the list template then rather than adding this new method which will be of no use usually.
In the end, it is just a convenience wrapper collection, as @richardhj has pointed out.

[2017-03-28 20:49] zonky2 commented on #1098
@baumannsven konnten die Sache nicht recht nachvollziehen...

[2017-03-29 05:50] zonky2 commented on #805
fixed and works fine

![shot335](https://cloud.githubusercontent.com/assets/1045318/24440441/6afc05a6-1454-11e7-91f5-57acbb0a3c55.jpg)

[2017-03-29 05:50] #805 closed

[2017-03-29 06:29] zonky2 commented on #988
I found only two settings with define a array as string (alias and combinedvalues)
https://github.com/MetaModels/attribute_combinedvalues/issues/15
https://github.com/MetaModels/attribute_alias/issues/17

[2017-03-29 08:50] davidmaack opened #1103 "MetaModels\Filter\Setting\ICollection is not iterable"
Shouldn´t the collections implement the Iterator interface? I wanted to get all filter-rules from the collection, but right now, there is no way to do this.

[2017-03-29 11:32] dirktietze opened #1104 "Fehlermeldung bei Integration als Kind-Tabelle (von tl_member)"
PHP-Version: 5.6
Contao-Version: 3.5.25
MM per Composer oder NightlyBuild: Composer
MM Version (core): dev-hotfix/alpha-15
DC-General Version: 2.0.0-beta38
spezielle Hotfix-Pakete eingespielt?: contao-frontend-editing dev-master (412516db) ? 2.0.x-de

Bei Zuweisung der Eingabemaske als Kind-Tabelle erscheint beim anschliessenden Aufruf (Klick) auf die Eingabemaske in der Eltern-Tabelle (z.B. tl_me

[2017-03-30 05:23] zonky2 commented on #1101
@discordier what do you mean..?

[2017-03-30 06:40] baumannsven commented on #385
Das Problem liegt am Clipboard selbst. Dieses lässt nur ein Element. Bei mehrere kopieren wird dann Effektiv das letzte selektierte Element kopiert.

[2017-03-30 06:49] zonky2 commented on #385
es werden alle vier kopiert - aber ohne die Hierarchie, so dass Einfache Abfrage + SQL "Kinder" von ODER sind...

[2017-03-31 22:05] zonky2 commented on #636
Abteilung besteht aus
* Einkauf
* GF
* Kundendienst
* Marketing
* Personal
* Test1
* Test2
* Verkauf

Test 1 und 2 sind nicht zugeordnet

**A: [_] Nur zugeordnete Tags
A 1: [_] Nur verbleibende Tags**
336

**A 1: [x] Nur verbleibende Tags**
337

nach Filterung nach Kundendienst
338

**B: [B] Nur zugeordnete Tags
B 1: [_] Nur verbleibende Tags**
339

**B 2: [x] Nur verbleibende Tags**
340

nach Fil

[2017-04-05 06:09] MoniqueHahnefeld opened #1105 "Entrymask Settings - Error on loading the InputScreen BE"
## Environment

PHP7
Contao 3.5.16
MetaModels/core alpha15
No translated attributes
DcGeneral beta39

https://github.com/MetaModels/core/blob/hotfix/alpha-15/src/MetaModels/DcGeneral/Events/Table/InputScreens/Subscriber.php

## Maybe the bug is here ? (disable this listener hides the error)
[code]

## ERROR

[code]

[2017-04-05 06:18] MoniqueHahnefeld commented on #1105
strange. i tested it again now and it is away.... omg, maybe cache or something else

[2017-04-05 06:18] #1105 closed

[2017-04-07 07:18] baumannsven commented on #865
@zonky2 i have update the check permission for model commands https://github.com/contao-community-alliance/dc-general/commit/2c354115e1eab7a436b0df6f482a125340c441d9

[2017-04-10 21:59] zonky2 commented on #865
and I check this...
look at https://github.com/contao-community-alliance/dc-general/issues/322#issuecomment-293090966

[2017-04-12 06:26] Messa1 opened #1108 "FTP - Installation not possible"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h

[2017-04-13 10:44] jgrotstabel opened #1109 "Filtern von Attributen (Einfache Abfrage) muss zwingend im Frontend-Modul gesetzt werden"
In der Ausgangsbasis (MetaModels Alpha 14 mit DC General 2.0.0 Beta 38) reichte es einen Filter „Einfache Abfrage“ im MetaModel unter Filtersets zu definieren und es griff somit im Frontend.

Nach Update auf (MetaModels Alpha 15 (Custom Nightly von @baumann.sven) mit DC General 2.0.0 Beta 39) muss nun zusätzlich im Modul (MetaModelListe) diese Einstellung beim Punkt Filterparameter überschreiben g

[2017-04-15 14:43] zonky2 opened #1110 "Minimodel & Transifex"
it´s not possible to found the text

[code]

 at https://www.transifex.com/metamodels/metamodels/translate/#de/core-tl_metamodel_dcasetting??

[2017-04-17 08:12] richardhj commented on #1100
Please add "up for discussion" for the point whether we should force an `IItems` collection belonging to one `MetaModel` instance.

[2017-04-18 14:36] Shania567 opened #1111 "Checkbox Filter zeigt keine Checkbox an"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h

[2017-04-18 18:42] zonky2 commented on #1109
ich habe das versucht an zwei Installationen nachzuvollziehen
"Alt" DCG b31 und MMcore a9 und
"Aktuell" DCG b39 und MMcore a15
mit gleichem Ergebnis:

* bei einfacher Abfrage reagiert eine Liste auf den GET-Wert je nach Einstellung per "auto_item" oder "Attribut-Spaltenname" und gibt das entsprechende Item aus
* Filterwidget wird im FE erst angezeigt, wenn Checkbox "Statischer Parameter" gesetzt i

[2017-04-18 20:13] zonky2 commented on #1111
look at https://github.com/MetaModels/filter_checkbox/issues/7

[2017-04-18 20:13] #1111 closed

[2017-04-19 16:03] discordier commented on #1097
Not yet, however we should implement it in here.

[2017-04-19 16:33] discordier commented on #1110
It will become available as soon as we have a properly named `2.0.0-alpha16` branch.
Currently it is not available as the branch name is `alpha15`

[2017-04-19 16:33] #1110 closed

[2017-04-19 16:46] discordier commented on #1108
Follow up to MetaModels/attribute_timestamp#28

[2017-04-19 16:46] #1108 closed

[2017-04-19 16:53] discordier commented on #1097
please follow ups to #1112

[2017-04-19 16:53] #1097 closed

[2017-04-20 14:35] zonky2 commented on #1101
it´s the same reason on https://github.com/MetaModels/core/issues/636

[2017-04-21 11:59] zonky2 opened #1114 "same filter at referenced MM from input mask to rendersettings"
if we used a referenced MM per tags we can pick a filter - e.g. to filter only published items...

at input mask we see only this (published) items but the raw node of output array has all items - there should work the same filter

[2017-04-22 15:11] zonky2 opened #1115 "Filter "simple query""
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h

[2017-04-25 05:53] zonky2 commented on #846
alle Repos + Core (https://github.com/MetaModels/core/blob/hotfix/alpha-15/.gitattributes) hat die Datei => close

[2017-04-25 05:53] #846 closed

[2017-04-25 06:02] zonky2 commented on #1103
@discordier Milestone 2.0.0 or later?

[2017-04-25 06:08] zonky2 commented on #1104
sofern es am FEE liegt bitte bei https://github.com/MetaModels/contao-frontend-editing/issues einfügen

[2017-04-25 06:08] #1104 closed

[2017-04-25 12:37] johannes-bittner commented on #1005
attribute_translatedtext => OK
attribute_translatedcheckbox => OK
attribute_translatedtabletext => OK
attribute_translatedlongtext => OK
attribute_translatedcombinedvalues => OK

[2017-04-25 13:23] zonky2 commented on #1005
setTranslatedDataFor at https://github.com/MetaModels/core/blob/master/src/MetaModels/Attribute/TranslatedReference.php#L299 should implement at all attributes as own method

[2017-04-25 14:58] discordier commented on #1103
1. you can not get the list of rules. They get added to an `IFilter` instance by calling `ICollection::addRules()`.
2. We could add this in 2.0.0 but we still have some works on the filters in the pipeline (which I wanted to discuss with @stefanheimes this evening during the call).

@davidmaack could you elaborate on your usecase some more? What do you need the list of child filter rules for?

[2017-04-25 16:32] zonky2 commented on #636
with Fix from #https://github.com/MetaModels/core/issues/1101#issue-217312116 works fine!

![shot344](https://cloud.githubusercontent.com/assets/1045318/25396631/7d726210-29e5-11e7-8e00-4c66a20a1a2a.jpg)

![shot345](https://cloud.githubusercontent.com/assets/1045318/25396636/816dec4a-29e5-11e7-8488-4607e380d15f.jpg)

[2017-04-25 16:32] #636 closed

[2017-04-25 16:47] zonky2 commented on #1101
this fixed https://github.com/MetaModels/core/issues/636

[2017-04-25 20:53] zonky2 commented on #1092
machen...

[2017-04-25 21:00] zonky2 commented on #1100
closed - see https://github.com/MetaModels/core/issues/1100#issuecomment-289375963

[2017-04-25 21:00] #1100 closed

[2017-04-25 21:14] zonky2 commented on #74
a problem of filter and attributes :-(

[2017-04-25 21:18] zonky2 commented on #499
* die Legende soll triggern können und wenn die ausgeblendet wird, werden auch "Kinder" nicht mit angezeigt

[2017-04-25 21:21] richardhj commented on #74
Why are these not the settings solving the problem?
![bildschirmfoto 2017-04-25 um 23 18 28](https://cloud.githubusercontent.com/assets/1284725/25408263/b82c562c-2a0d-11e7-820a-2e3776a9d387.png)

[2017-04-25 21:24] zonky2 commented on #641
Nested-Menu von BIT3 nicht mehr mit aktuellen Contao kompatibel...

[2017-04-25 21:26] #641 closed

[2017-04-25 21:31] zonky2 commented on #724
combined values und eigenes Template ist die Lösung

[2017-04-25 21:31] #724 closed

[2017-04-25 21:37] zonky2 commented on #881
neues Attribut

[2017-04-25 21:45] zonky2 commented on #1094
it`s "oversized"

[2017-04-25 21:45] #1094 closed

[2017-04-25 21:48] zonky2 commented on #1095
implement per overrideAll

[2017-04-25 21:48] #1095 closed

[2017-04-25 22:10] zonky2 commented on #1099
we check this with small test case...

[2017-04-26 13:40] zonky2 commented on #1005
with PR https://github.com/MetaModels/attribute_translatedfile/pull/15
attribute_translatedfile => OK

[2017-04-28 13:10] #1101 closed

[2017-04-29 15:00] zonky2 opened #1120 "$usedOnly to $onlyUsed"
I found different "labels" for the same thing...

at DCA `onlyused` for checkbox "Assigned values only" but we have "transition" to value $usedOnly

e.g.
https://github.com/MetaModels/core/blob/master/src/MetaModels/Filter/Setting/SimpleLookup.php#L103
to
https://github.com/MetaModels/core/blob/master/src/MetaModels/Attribute/BaseSimple.php#L87

[2017-04-29 15:09] zonky2 commented on #74
e.g. at "simple lookup" and a FE widget as select box, we see a different sorting if "Remaining values only" checked or not... if checked, we have a sorted list als filter options but is unchecked is the list "unsorted"

look at https://github.com/MetaModels/core/blob/master/src/MetaModels/Attribute/BaseSimple.php#L97
and different ORDER BY
https://github.com/MetaModels/core/blob/master/src/MetaMo

[2017-05-01 14:23] zonky2 commented on #1092
any questions...
two MMs, both multilanguage and a relation per select

I found at `SimpleLookup.php` the Option `all_langs`
https://github.com/MetaModels/core/blob/master/src/MetaModels/Filter/Setting/SimpleLookup.php#L149

this option can bei set if we use filter rule `simplelookup_translated`
https://github.com/MetaModels/core/blob/master/contao/dca/tl_metamodel_filtersetting.php#L278
but I don

[2017-05-02 05:46] zonky2 commented on #765
PR https://github.com/MetaModels/core/pull/1122

@Hauge pls test it

[2017-05-02 06:41] zonky2 commented on #706
@richardhj we can close this ticket?

[2017-05-02 06:43] richardhj commented on #706
Definitely.

[2017-05-02 13:57] davidmaack commented on #1103
I was trying to implement a filter, which counts the remainig items correctly. For my first approach I needed the child filters one by one. The solution works, but isn´t very good, so if you´re planing some rework on the filters you may just close this ticket.

[2017-05-03 07:49] zonky2 opened #1123 "error after change sorting at attribute tags at "Checkbox-Wizard""
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h

[2017-05-03 20:48] discordier commented on #1092
The `all_langs` seems to have been not completely implemented in 09d5c2ea2a6ea534f4d3d0892e24c24e7b132954. I think we should finish the implementation by attaching a visibility condition to this field which wil match when the selected attribute implements `ITranslated`

[2017-05-05 08:12] zonky2 opened #1124 "adapt the "labels" at tree of filter rules"
adapt the "labels" at tree of filter rules

current:

![shot349](https://cloud.githubusercontent.com/assets/1045318/25738042/381299d6-317b-11e7-96c4-501b1618797d.jpg)

may be we can do...

![shot350](https://cloud.githubusercontent.com/assets/1045318/25738049/448dc5b4-317b-11e7-818b-f71db51f4df1.jpg)

Templating as...
(icon) **Name of rule type** [name of attribute column]
Comment

[2017-05-07 12:45] zonky2 opened #1126 "alias input field and combined-values field as readonly if set option "Force regenerating""
alias input field and combined-values field as readonly if set option "Force regenerating" ?

[2017-05-07 13:06] richardhj commented on #1126
Sounds reasonable.

[2017-05-08 07:34] jgrotstabel commented on #1109
Also in der Filtereinstellung hatte ich bei URL-Parameter nichts eingetragen. Wenn ich dort auto_item benutze funktioniert die Liste dann auch wenn ich im Modul nichts unter Filterparameter überschreiben eintrage. Ist das denn wirklich so selbsterklärend? Vielleicht fehlt eine kleine Info im Modul, wann diese Werte zu setzen sind?

Ok, dieser Punkt war mir auch nicht ganz klar, vielleicht auch hie

[2017-05-08 08:53] zonky2 commented on #1109
nach Besprechung per Telefon: close...

[2017-05-08 08:53] #1109 closed

[2017-05-08 13:54] zonky2 opened #1127 "Change checkbox label "Hide legend" to "Collapse palette""
Change checkbox label "Hide legend" to "Collapse palette" for input mask and add `NN:collapsed` at label

...the legend is every time visible but the "content" is collapsed or uncollapsed

[2017-05-09 07:47] MiniModel commented on #765
This issue has been labeled with testing but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@Hauge could you please have a final look at this and tell if your issue ha

[2017-05-09 07:47] #765 closed

[2017-05-09 10:39] stefanheimes opened #1128 "PHP7 Support"
We have missed one String call. See:

https://github.com/MetaModels/core/blob/master/src/MetaModels/ItemList.php#L775

[2017-05-09 10:45] zonky2 commented on #988
add https://github.com/MetaModels/core/issues/1128

[2017-05-09 10:45] zonky2 commented on #1128
we collect all PHP7 issues at https://github.com/MetaModels/core/issues/988

[2017-05-09 10:51] zonky2 commented on #988
you can use core >= b15
https://github.com/MetaModels/core/blob/bd9e35909f522ba461a8ea96f357679a52b2fad9/src/MetaModels/ItemList.php#L743

[2017-05-09 10:52] zonky2 commented on #1128
https://github.com/MetaModels/core/blob/bd9e35909f522ba461a8ea96f357679a52b2fad9/src/MetaModels/ItemList.php#L743

[2017-05-09 10:52] #1128 closed

[2017-05-09 11:29] UB3RL33T opened #1129 "Duplizieren von Items und automatisches generieren von Aliasen"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h

[2017-05-09 12:03] zonky2 commented on #1129
btw: Thema Forum habe ich weiter geleitet...

in dem Ticket sind drei "Problemfelder"
1.) Alias-Fallback bei der Suche/Filterung https://github.com/MetaModels/core/issues/1092
2.) Item kopieren und alle Sprachen übernehmen https://github.com/MetaModels/core/issues/598
3.) alle bearbeiten/Überschreiben (edit/overrideAll) https://github.com/contao-community-alliance/dc-general/issues/281

[2017-05-09 14:08] frontendschlampe commented on #1129
@UB3RL33T die Probleme mit dem Forum sollten behoben sein. Kannst du mir oder @zonky2 Deinen Benutzernamen geben, mit dem du die Registrierung gemacht hast? Dann kann ich Dir die Mail nochmal schicken.

[2017-05-10 10:39] amenk commented on #1092
Hack: adding english in \MetaModels\Attribute\TranslatedReference::searchForInLanguages

    public function searchForInLanguages($strPattern, $arrLanguages = array())
    {
	    $arrLanguages[] = 'en';

-> now it finds the english record as well

[2017-05-10 10:48] amenk commented on #1092
What is  the problem of my hack?

[2017-05-10 14:18] zonky2 commented on #74
e.g.

[code]

`$this->getOrderDirection()` same value like https://github.com/MetaModels/core/blob/master/src/MetaModels/Attribute/BaseSimple.php#L128

[2017-05-11 05:26] zonky2 commented on #1092
small workaround for translated attributes like translated_alias - add at DB `tl_metamodel_filtersetting` > `all_lang` = 1 and simple lookup found your item per fallback ... the FE filter per "static parameter" doesn´t work!

[2017-05-11 16:13] zonky2 commented on #988
both with PR
https://github.com/MetaModels/attribute_combinedvalues/pull/16
https://github.com/MetaModels/attribute_alias/pull/17

[2017-05-11 16:13] #988 closed

[2017-05-17 08:19] wortberge opened #1130 "unvollständiges Löschen in tl_metamodel_tag_relation"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [ ] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h

[2017-05-19 05:19] zonky2 opened #1131 "show id, pid, tstamp, sorting at details of item"
show id (additional to view in headline) , pid, tstamp, sorting at details of item ... may be as "system informations"

[2017-05-19 05:39] zonky2 opened #1132 "set system row "sorting" with current number at create new item also at not manual sorting"
we should set the row "sorting" from default to "current" sorting number at we create a new item - we should set also if a not manual sorting active...

the reason is: if we create any items without a active sorting or a alphabetical sorting become all items the sorting value `0` - if we change to manual sorting and we created the items at "correct" order looks like as the right sorting (but the s

[2017-05-19 11:25] johannes-bittner commented on #1005
- [x] attribute_tabletext (PR MetaModels/attribute_tabletext#19)
- [x] attribute_url (PR MetaModels/attribute_url#14)
- [x] attribute_translatedurl (PR MetaModels/attribute_translatedurl#8)
- [x] attribute_tags
- [x] attribute_translatedalias
- [x] attribute_translatedcheckbox (PR #1117)
- [x] attribute_translatedcombinedvalues (PR #1117)
- [x] attribute_translatedfile (PR MetaModels/attribute_tra

[2017-05-19 11:34] zonky2 commented on #1005
@discordier || @stefanheimes pls merge the linked PRs

[2017-05-19 15:35] zonky2 opened #1133 "implement $arrIds and $usedOnly handling here"
TODO: implement $arrIds and $usedOnly handling here.

https://github.com/MetaModels/core/blob/8e61ba89a336e59996f5a5245370c2b8476efea5/src/MetaModels/Attribute/TranslatedReference.php#L297

[2017-05-19 15:41] zonky2 opened #1134 "this is better to be done with a new event to sort conditions into their parents as we might have other classes in the future"
TODO: this is better to be done with a new event to sort conditions into their parents as we might have other classes in the future.

https://github.com/MetaModels/core/blob/8e61ba89a336e59996f5a5245370c2b8476efea5/src/MetaModels/BackendIntegration/InputScreen/InputScreen.php#L337

[2017-05-19 15:43] zonky2 opened #1135 "Currently not supported but we will add it in the future"
TODO: Currently not supported but we will add it in the future.

https://github.com/MetaModels/core/blob/8e61ba89a336e59996f5a5245370c2b8476efea5/src/MetaModels/DcGeneral/Data/FilterBuilderSql.php#L200

[2017-05-19 15:57] zonky2 opened #1136 "in here all language strings and icons are related to filters?"
FIXME: in here all language strings and icons are related to filters?

https://github.com/MetaModels/core/blob/8e61ba89a336e59996f5a5245370c2b8476efea5/src/MetaModels/DcGeneral/Events/Table/InputScreens/Subscriber.php#L127

[2017-05-19 15:58] zonky2 opened #1137 "Add language files for the error msg"
FIXME: Add language files for the error msg.

https://github.com/MetaModels/core/blob/8e61ba89a336e59996f5a5245370c2b8476efea5/src/MetaModels/DcGeneral/Events/Table/InputScreens/Subscriber.php#L128

[2017-05-19 15:59] zonky2 opened #1138 "Get the fallback language here"
TODO: Get the fallback language here.

https://github.com/MetaModels/core/blob/8e61ba89a336e59996f5a5245370c2b8476efea5/src/MetaModels/DcGeneral/Events/Table/InputScreens/Subscriber.php#L199

[2017-05-19 16:01] zonky2 opened #1139 "direct access to BackendUser"
FIXME: direct access to BackendUser.

https://github.com/MetaModels/core/blob/8e61ba89a336e59996f5a5245370c2b8476efea5/src/MetaModels/DcGeneral/Events/Table/MetaModels/Subscriber.php#L141

[2017-05-19 16:06] zonky2 opened #1140 "notify attributes that the MetaModel has changed its table name"
TODO: notify attributes that the MetaModel has changed its table name.

https://github.com/MetaModels/core/blob/8e61ba89a336e59996f5a5245370c2b8476efea5/src/MetaModels/DcGeneral/Events/Table/MetaModels/Subscriber.php#L396

[2017-05-19 16:15] zonky2 opened #1142 "we should provide a collector like for attributes"
TODO: we should provide a collector like for attributes.

https://github.com/MetaModels/core/blob/8e61ba89a336e59996f5a5245370c2b8476efea5/src/MetaModels/Filter/Setting/FilterSettingFactory.php#L131

[2017-05-19 16:15] zonky2 opened #1143 "we should provide a collector like for attributes"
TODO: we should provide a collector like for attributes.

https://github.com/MetaModels/core/blob/8e61ba89a336e59996f5a5245370c2b8476efea5/src/MetaModels/Filter/Setting/FilterSettingFactory.php#L153

[2017-05-19 16:16] zonky2 opened #1144 "we should provide a collector like for attribute"
TODO: we should provide a collector like for attributes.

https://github.com/MetaModels/core/blob/8e61ba89a336e59996f5a5245370c2b8476efea5/src/MetaModels/Filter/Setting/FilterSettingFactory.php#L176

[2017-05-19 16:19] zonky2 opened #1145 "this way of generating jump to urls is not as elegant as it could be we might want to refactor it"
@todo this way of generating jump to urls is not as elegant as it could be we might want to refactor it.

https://github.com/MetaModels/core/blob/8e61ba89a336e59996f5a5245370c2b8476efea5/src/MetaModels/Filter/Setting/ICollection.php#L78

[2017-05-19 16:20] zonky2 opened #1146 "we might want to change the name $arrFilterUrl to $arrFilterParams or something like that"
@todo: we might want to change the name $arrFilterUrl to $arrFilterParams or something like that.

https://github.com/MetaModels/core/blob/8e61ba89a336e59996f5a5245370c2b8476efea5/src/MetaModels/Filter/Setting/ISimple.php#L56

[2017-05-19 16:21] zonky2 opened #1147 "sanitize input parameters"
FIXME: sanitize input parameters.

https://github.com/MetaModels/core/blob/8e61ba89a336e59996f5a5245370c2b8476efea5/src/MetaModels/FrontendIntegration/InsertTags.php#L372

[2017-05-19 16:23] zonky2 opened #1148 "we should provide attribute type based render setting elements in version 2.X."
TODO: we should provide attribute type based render setting elements in version 2.X.

https://github.com/MetaModels/core/blob/8e61ba89a336e59996f5a5245370c2b8476efea5/src/MetaModels/Render/Setting/RenderSettingFactory.php#L96

[2017-05-19 16:24] zonky2 opened #1149 "Cache template path in Template::getTemplate()"
FIXME: this could be cached and save two calls to file_exists() in \TemplateLoader::getPath().

https://github.com/MetaModels/core/blob/8e61ba89a336e59996f5a5245370c2b8476efea5/src/MetaModels/Render/Template.php#L252

[2017-05-22 05:46] zonky2 commented on #1098
merged in hotfix/alpha15 (+master)

[2017-05-22 05:46] #1098 closed

[2017-05-22 21:24] zonky2 opened #1150 "update all file header"
update all file header
look at https://github.com/MetaModels/core/issues/1060

**OLD:**
[code]

**NEW:**

[code]

[2017-05-22 21:55] zonky2 opened #1151 "add CSS id and class as default input fields at filter rule"
add CSS id and class as default input fields at filter rule to get out in FE filter widget

[2017-05-23 09:37] zonky2 commented on #865
merged

[2017-05-23 09:37] #865 closed

[2017-05-24 10:05] zonky2 opened #1152 "Error at FE at CE-MM-List and FE-Filter if MM deleted"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h

[2017-05-25 06:22] zonky2 opened #1153 "Extrem long save time at save items at BE"
look at https://github.com/contao-community-alliance/dc-general/issues/201

we found the first bottle necks...

1.) ToolboxFile.php
https://github.com/MetaModels/core/blob/08b502234efe150003450cf01b5611b00f9ebd57/src/MetaModels/Helper/ToolboxFile.php#L700

[code]

2.) with "MM-1" and attribute select to "MM-2" which also a have relation per select to "MM-3" we found a strong increase of database q

[2017-05-29 09:30] zonky2 opened #1154 "delete checkbox "use as standard" in render setting and input mask"
this parameter is obsolete - look at https://github.com/MetaModels/core/issues/976#issuecomment-271095026

[2017-05-29 09:32] zonky2 commented on #976
obsolete - look at https://github.com/MetaModels/core/issues/1154

[2017-05-29 09:32] #976 closed

[2017-05-29 09:37] Damsgit commented on #1153
I have this message :
Fatal error: Cannot redeclare MetaModels\MetaModel::$serviceContainer in /homepages/4/d406509772/htdocs/.../system/modules/metamodels/classes/src/MetaModels/MetaModel.php on line 692

I can't clear this line  ?
`protected $serviceContainer;`

I noted that the save time increases when i have a lot of items in MM (5000 or 10 000 items) before or after the changes.

[2017-05-29 09:52] zonky2 commented on #1153
add only `private $existingIds = [];`

[2017-05-30 06:07] zonky2 commented on #765
fixed with https://github.com/MetaModels/core/pull/1122

[2017-05-30 11:43] zonky2 opened #1155 "add search at MM list (BE)"
add search at MM list (BE) for name and table name e.g. to filter/select all `mm_proj1_*`

[2017-05-30 19:44] zonky2 commented on #74
at this time it´s not possible to change this - we schould use own interface to config the filter... may be at MM 3.x

[MM-call 30.05.2017]

[2017-05-30 19:50] zonky2 commented on #1126
we can do this...

[MM-call 30.05.2017]

[2017-05-30 20:01] zonky2 commented on #1127
=>
"Collapse section"
"Abschnitt ausblenden"

[MM-call 30.05.2017]

[2017-05-30 20:04] zonky2 commented on #1131
we can do this...

[MM-core 30.05.2017]

[2017-05-30 20:05] discordier commented on #1131
Ref #581 and create virtual attributes.

[2017-05-30 20:19] discordier commented on #1132
Sorting should get populated at https://github.com/contao-community-alliance/dc-general/blob/11597752073c725214ae4fd3b899402285821863/src/ContaoCommunityAlliance/DcGeneral/Contao/View/Contao2BackendView/EditMask.php#L593

[2017-05-30 20:25] zonky2 commented on #1152
the current output as exception is a good way...

[2017-05-30 20:25] #1152 closed

[2017-06-01 18:37] speedweb opened #1156 "Fehler bei Anzeige - BE Tabellenformat wenn Varianten aktiviert"
I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ https://github.com/MetaModels/core/issues?q=is%3A

[2017-06-02 20:03] zonky2 commented on #1156
Wie soll eine "Einrückung" einer Tabelle realisiert werden? Der Fehler liegt eher darin, dass bei Varianten die Option "Tabelle" nicht aktivierbar sein sollte...

[2017-06-03 11:07] speedweb commented on #1156
gibt es ein Beispiel mit Varianten und wie diese im Backend sinnvoll angezeigt werden?
Vielleicht habe ich das mit den Varianten falsch verstanden.
Leider habe ich keine weiteren Infos zu den Möglichkeiten mit Varianten gefunden.

[2017-06-03 12:45] zonky2 commented on #1156
was wäre in "Deinem Sinne sinnvoll"...

[2017-06-03 13:01] speedweb commented on #1156
sinnvoll = Übersichtlich
wäre bei Varianten eine Lösung als Liste welche per CSS angepasst werden kann.
Daten Elternelement Horizontal formatiert (wie bei der Tabellenansicht)
Varianten eingerückt darunter...
Wie werden Varianten bisher Übersichtlich im BE ausgegeben?

[2017-06-03 13:37] zonky2 commented on #1156
mal einige Infos zum Thema "Varianten":
* Varianten haben immer nur **eine** Hierarchieebene, d.h. es gibt nur "Eltern" und nur "Kinder" - also keine "Kinder-Kinder"
* die Attribute eines Items teilen sich bei Varianten in "feste Werte" - die werden nur im jeweiligen Elternelement definiert und automatisch auch in den Kindelementen aktualisiert - und "variable Werte" - die sich in in allen Items "

[2017-06-05 15:26] zonky2 commented on #1132
* if manual sorting activated, the new item have a number for sorting
* if we have items with sorting = 0 and add a new, have only the new item a sorting number (128)
* if we move some item, all items get a new sorting number

may be it´s a good idea to add a event to set sorting numer at all items it´s manual sorting defined and setz sorting number at 0 if we delete the manual sorting...

[2017-06-05 17:48] zonky2 commented on #1155
fixed with https://github.com/MetaModels/core/pull/1157

[2017-06-05 17:48] #1155 closed

[2017-06-08 06:28] zonky2 opened #1158 "different arrData between create and save - isAttributeSet get not the same returns"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h

[2017-06-08 14:31] xchs opened #1159 "BE List View: render a pagination menu"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h

[2017-06-08 14:57] zonky2 commented on #1159
this is a part of DCG => https://github.com/contao-community-alliance/dc-general/issues/312

[2017-06-08 14:57] #1159 closed

[2017-06-09 07:34] zonky2 commented on #1132
I has checked the current manual sorting:
* if manual sorting activated, new item save the (first) sorting number
* if you activated sorting after the input of your data, it´s to sufficent to drag&drop one item... all other items keep the right sorting number

[2017-06-09 07:34] #1132 closed

[2017-06-09 07:52] zonky2 commented on #967
@MetaModels/leaders

welchen usecase gibt es für
[code]

... damit hat man doch "Inhaltsleichen" in der DB... oder?

[2017-06-09 14:06] nordentwickler commented on #959
Ist SCSS pflicht oder tuts Less auch? Gulp oder Grunt?

[2017-06-09 14:54] zonky2 commented on #959
ich würde SCSS präferieren, da m.E. recht viele sie Sache warten können...
sofern Mixins o.ä. unbedingt benötigt werden, müsste man sich nochmal über das Tool verständigen - ansonsten sollten in das Repro z.B.
style.css (minimiert)
style_src.css (nicht minimiert für Debugmodus)
style.scss (als "Quelle") + ggf. noch eine style.map

[2017-06-10 09:12] zonky2 commented on #1127
change at https://github.com/MetaModels/core/pull/1160

[2017-06-10 09:12] #1127 closed

[2017-06-10 12:07] zonky2 opened #1161 "move "URL parameter" at filter from "Configuration" zu "Frontend filter""
move "URL parameter" at filter from "Configuration" zu "Frontend filter"

- [x] filter_select - https://github.com/MetaModels/filter_select/pull/16
- [x] filter_tags - https://github.com/MetaModels/filter_tags/pull/20
- [x] filter_text - https://github.com/MetaModels/filter_text/pull/33
- [x] core - https://github.com/MetaModels/core/pull/1220
- [x] filter_checkbox - https://github.com/MetaModels/

[2017-06-13 08:00] zonky2 opened #1162 "add '<td>' at SubDcaWidget"
https://github.com/MetaModels/core/blob/08b502234efe150003450cf01b5611b00f9ebd57/src/MetaModels/Widgets/SubDcaWidget.php#L558

[code]

[2017-06-13 08:03] zonky2 opened #1163 "add hidden field at SubDcaWidget to clear database value if "MCW" empty"
add hidden field at SubDcaWidget to clear database value if "MCW" empty

https://github.com/MetaModels/core/blob/08b502234efe150003450cf01b5611b00f9ebd57/src/MetaModels/Widgets/SubDcaWidget.php#L564

[2017-06-27 20:22] zonky2 commented on #1161
we can do this..

[2017-07-25 10:32] johannes-bittner commented on #851
So far tested and working:
- [x] attribute_country
- [x] attribute_decimal
- [x] attribute_combinedvalues
- [x] attribute_file
- [x] attribute_select

[2017-07-25 13:46] discordier commented on #851
Thanks @johannes-bittner.

[2017-08-02 00:29] NakNakNaaak opened #1165 "Creating Variants: Alias of parent element is automatically included in variant, causing issues with unique values"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h

[2017-08-06 01:53] DaniloBenevides commented on #1162
Hello Im newbie on github and i want to contribute with this project.
I just saw this issue taged with easy pick and made the changes required,
If there is some problems feel free to show me how to improve this PR.
Thanks !

[2017-08-11 08:57] LinkingYou opened #1169 "Filter "Einfache Abfrage": keine Werte zum Filtern verfügbar"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h

[2017-08-11 09:16] zonky2 commented on #1169
@LinkingYou kannst Du einen PR machen?

[2017-08-11 09:33] LinkingYou commented on #1169
Gerne. Ist erledigt.

[2017-08-11 09:39] zonky2 commented on #988
https://github.com/MetaModels/core/pull/1170

[2017-08-12 10:27] zonky2 commented on #1126
PR #1171

[2017-08-22 14:48] discordier commented on #1169
Closing in favor of #1170

[2017-08-22 14:48] #1169 closed

[2017-08-23 23:26] baumannsven commented on #1126
Merged in 49dc3b916514e8691287622bee0a972a0cea4ae7

[2017-08-23 23:26] #1126 closed

[2017-08-24 05:51] baumannsven commented on #1005
Merged in 76e62168d0d15cb3c25fd727445ef27f4c83f95a

[2017-08-24 05:51] #1005 closed

[2017-08-24 10:06] zonky2 commented on #1005
thx

[2017-08-24 10:07] zonky2 commented on #1162
fixed https://github.com/MetaModels/core/commit/c16a7c3dfb0d271f346387bbc7b882c41a45587a

[2017-08-24 10:07] #1162 closed

[2017-08-24 10:18] zonky2 commented on #546
@discordier die Änderung zu

hat @johannes-bittner am 9 März in Transifex gemacht - weshalb erscheint das nicht? Test in dev-hotfix/2.0.0-alpha16 (e7c679eb)

[2017-08-24 10:42] baumannsven commented on #1155
Merged in 40053342b8412d0f923aafcc0770f7145c3bb087

[2017-08-24 10:49] baumannsven commented on #546
I have merged in 3c8b7f45ba5a05f958673810107fe76db8d2fc32 the translations.

[2017-08-26 08:02] zonky2 opened #1173 "add html node at action array"
add html node at action array e.g. to add form widgets or other html snippets

[code]

[2017-08-29 20:16] zonky2 commented on #1173
allet jut

[2017-08-29 20:17] richardhj commented on #1173
as @zonky2 said. With a new template "action button"

[2017-08-29 20:19] discordier commented on #1173
`metamodels_action_button`? or will this collide with the lister templates?
Should we go for `mm_actionbutton` prefix like we do with the attributes?

[2017-08-29 22:06] richardhj opened #1178 "Deprecate IAttribute::modelSaved()?"
The `modelSaved` method is not called reliable, i.e. as for the alias generation (see comments 1-3 at https://github.com/MetaModels/contao-frontend-editing/issues/6).

We can
a) deprecate the `modelSaved()` and switch to the pre-persist event of the DCG. Problem: The event has no knowledge of its prior value, and an alias value might be overwritten even if already present in the database.
b) pass

[2017-08-30 09:35] richardhj commented on #1173
Another thought that must be thought of:
What's about the `.text` templates?
Inserting `html` in the `text` template is contradictory. Calling the node "`raw`" will not improve this.
Just now, I come to the conclusion, to introduce the nodes `raw_html` and `raw_text` instead of `html`.

[2017-08-31 05:48] zonky2 commented on #269
added with https://github.com/MetaModels/core/pull/1182

[2017-08-31 11:18] zonky2 commented on #546
[x] Render-Einstellungen
[x] Übersicht Eingabemasken, Tooltip für letztes Icon
[x] Eingabemasken
[ ] alle "Augen" veröffentlichen
[ ] alle Verschieben-Pfeile

[2017-08-31 11:32] richardhj commented on #1150
I guess this can be done in PhpStorm easily via the menu action "Update Copyright". @discordier don't you have the template configured in your PhpStorm?
However, we will get troubles with upcoming merges of PRs.

[2017-08-31 11:45] zonky2 commented on #546
fixed https://github.com/MetaModels/core/pull/1183

[2017-08-31 11:45] #546 closed

[2017-08-31 11:56] zonky2 commented on #1123
gefixt https://github.com/MetaModels/attribute_tags/pull/60

[2017-08-31 11:56] #1123 closed

[2017-08-31 18:58] zonky2 commented on #1130
Hotfix https://github.com/MetaModels/attribute_tags/pull/64

[2017-09-04 15:34] zonky2 opened #1184 "delete 'backendcaption' at dca_sortgroup"
https://github.com/MetaModels/core/blob/master/contao/dca/tl_metamodel_dca_sortgroup.php#L349-L400

[2017-09-05 12:30] zonky2 commented on #1184
fixed https://github.com/MetaModels/core/pull/1185

[2017-09-05 12:31] #1184 closed

[2017-09-05 12:44] zonky2 commented on #1163
I test it with core a16 - if MCW not rendered and we save the value of `metamodel_filterparams`is `NULL`

[2017-09-05 12:44] #1163 closed

[2017-09-05 13:31] zonky2 commented on #1154
fixed https://github.com/MetaModels/core/pull/1186

[2017-09-06 06:00] zonky2 commented on #345
Ich sehe aktuell zwei Möglichkeiten:
a) man gibt bei statischem Parameter das SubDcaWidget für die Auswahl auch im CE/M-Filter aus
b) man gibt dem CE/M-Filter eine Liste für die Vorfilterung mit auf dem Weg

Punkt b hätte m.E. den Vorteil, dass die Einstellung der Einschränkung nur an einer Stelle erfolgt - ändert man den Parameter, muss das dann nur an einer Stelle erfolgen

Für Punkt a würde spr

[2017-09-06 06:23] zonky2 commented on #555
mehr Infos im BE: siehe https://github.com/MetaModels/core/pull/1182

[2017-09-06 06:23] #555 closed

[2017-09-06 06:31] #269 closed

[2017-09-06 19:45] zonky2 commented on #815
At the moment the items are inserted at the end - the Contao API does not provide a way to place itself explicitly between the items.

A better way is certainly to create your own section using the "boilerplate".

[2017-09-06 19:45] #815 closed

[2017-09-07 06:02] zonky2 opened #1188 "MM name test of unique fail"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h

[2017-09-07 06:50] zonky2 commented on #851
* wie soll die Sortierung bei tags und tabletext sein? - hier würde ich eher die Sortieroption entfernen...
* Sortierung bei URL: nach Domain oder Bezeichnung?

[2017-09-07 20:36] zonky2 commented on #851
Besprechung MM-call 07.09.2017: => ausblenden...

[2017-09-07 20:46] zonky2 commented on #1188
we clear the DCA...

[2017-09-07 20:50] zonky2 commented on #1188
fixed https://github.com/MetaModels/core/pull/1190

[2017-09-07 20:50] #1188 closed

[2017-09-11 20:14] zonky2 commented on #565
implementiert https://github.com/MetaModels/attribute_tags/pull/60

[2017-09-11 20:14] #565 closed

[2017-09-13 05:16] zonky2 commented on #988
https://github.com/MetaModels/core/pull/1191

[2017-09-14 09:32] HaraldHubinger opened #1192 "Apply $GLOBALS['TL_CONFIG']['maxResultsPerPage'] in backend listings"
## Checklist before I submit this issue report

I confirm that:
- [x ] I have tested this with the latest version available
- [x ] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [ x] I have checked the Contao community forums for references https://community.contao.org/
- [ x] I have checked existing issues for duplicates and found none

[2017-09-14 10:20] zonky2 commented on #1192
can you open a new issue at DCG https://github.com/contao-community-alliance/dc-general

[2017-09-14 10:49] HaraldHubinger commented on #1192
Thanks, issue now filed under https://github.com/contao-community-alliance/dc-general/issues/361.

[2017-09-14 10:49] #1192 closed

[2017-09-14 10:55] zonky2 commented on #1192
thx!

[2017-09-14 11:00] HaraldHubinger commented on #1192
Danke gleichfalls!

2017-09-14 12:55 GMT+02:00 zonky2 <notifications@github.com>:

[2017-09-20 16:55] zonky2 opened #1194 "add uniformTime-Service at MM for overrideAll"
see at DCG
https://github.com/contao-community-alliance/dc-general/blob/feature/override_edit_all/src/ContaoCommunityAlliance/DcGeneral/Data/DefaultEditInformation.php#L48

with uniformTime have all items the same timestamp after overrideAll

https://github.com/contao-community-alliance/dc-general/pull/359

[2017-09-20 17:40] zonky2 opened #1195 "support for display conditions for DCA edit/overrideAll"
support for display conditions for DCA edit/overrideAll

https://github.com/contao-community-alliance/dc-general/pull/359

[2017-09-20 19:33] cliffparnitzky commented on #1143
seems to be a duplicate of #1142

@zonky2 can be closed?

[2017-09-20 19:33] cliffparnitzky commented on #1144
seems to be a duplicate of #1142

@zonky2 can be closed?

[2017-09-20 20:25] zonky2 commented on #1143
all TODO/FIXME still have to be processed...

[2017-09-20 20:47] cliffparnitzky commented on #1143
this issue as a duplicate of #1142

[2017-09-20 21:34] cliffparnitzky commented on #699
This is what I found:

**Core**

- [ ] *core/tests/MetaModels/Test/ServicesTest.php:42:* `$container['database.connection'] = \Database::getInstance();`
- [ ] *core/src/MetaModels/DcGeneral/DataDefinition/Palette/Condition/Palette/RenderSettingAttributeIs.php:93:* `self::$attributeTypes[$value] = \Database::getInstance()`
- [ ] *core/src/MetaModels/DcGeneral/DataDefinition/Palette/Condition/Proper

[2017-09-21 05:16] zonky2 commented on #1143
we have different rows 131 <> 151 => different jobs

[2017-09-21 08:25] zonky2 commented on #1194
PR https://github.com/MetaModels/core/pull/1196

[2017-09-21 08:25] #1194 closed

[2017-09-21 10:51] cliffparnitzky commented on #1143
Urgs, yeah, you are right.

[2017-09-21 13:31] zonky2 opened #1197 "Error if you add only one attribute at input mask"
## Checklist before I submit this issue report

I confirm that:
- [x] I have tested this with the latest version available
- [x] I have read documentation @ http://metamodels.readthedocs.org/en/ or http://metamodels.readthedocs.org/de/
- [x] I have checked the Contao community forums for references https://community.contao.org/
- [x] I have checked existing issues for duplicates and found none @ h