[2013-01-24 21:01] andreasisaak opened #30 "Neues Attribut: MultiColumnWizard"
Wir brauchen wirklich mal den MCW für die MetaModels

[2013-01-24 21:06] andreasisaak opened #35 "Data Provider - resetFallback"
ResetFallback

Vorgaben:
Tabele X hat ein Feld isDefault. Diese ist markiert als Fallback.

Funktionsweise:
1. Eintrag im Datensatz A das isDefault aktive ist.
2. Eintrag im Datensatz B, hier wird auch angeben das isDefault aktiv ist.

Nun werden alle Felder isDefault in der DB zurückgesetzt, anschließend wird isDefault für Datensatz B aktiviert.

Siehe im Seitenbaum für languageFallback.

_--- Or

[2013-02-16 17:38] tim-bec opened #50 "Feature: Render settings, Ein-Klick: "alle aktiv""
Momentan muss man in den Render-Settings für jeden Eintrag (Attribut) das Auge einzeln bestätigen.
Schön wäre es wenn man das in der Meta Navigation mit einem klick für alle erledigen kann.   (Ähnlich wie alle markieren)

[2013-03-13 12:01] stefanheimes opened #74 "Missing 'sort*' for FE Filter"
We need a field do select on which fields the filter values are sorted.
Now i have a list, sortetd by, i don't know what id, sorting, tstamp or what ever.
But i want that all values are sorted by field 'xxx'.

[2013-04-15 09:52] backbone87 opened #101 "Turn tl_metamodel_dca_combine into normal DCA listing/editing"
I think this would be better, if in the future there are other additional settings that can be configured in tl_metamodel_dca_combine

[2013-05-06 08:13] Creational opened #128 "Feature: Indizierung Contao-Suche"
Es sollte eine Einstellungsmöglichkeit geben, die Detailseiten eines MetaModels zum Contao-Suchindex hinzuzufügen.

[2013-05-14 12:33] cogizz opened #144 "FE-Filter jumpTo-Page"
Ich nutze das FE-Filter ContentElement wie folgt:

Das CE-Filter ist auf der Home eingebunden und die Weiterleitung ist auf meine Lister-Seite gesetzt. Wenn ich jetzt das Formular abschicke, lande ich zwar auf der Lister-Seite, aber die URL ist ohne Filter gesetzt.

Ich vermute es liegt an der Zeile: https://github.com/MetaModels/core/blob/master/src/system/modules/metamodels/MetaModelFrontendFilt

[2013-05-26 01:44] discordier opened #163 "API change MetaModelAttribute::prepareTemplate() - remove default value from $objSettings"
The default value for `$objSettings` of `null` should be removed from `MetaModelAttribute::prepareTemplate()` as we are generating the default RenderSettings if none has been supplied inline in `parseValue()` and we are using the settings object everywhere which is effectively resulting in an Exception when using the default value of `null`.

[2013-05-29 08:44] guay opened #167 "Sortieren im Frontend"
Derzeit lässt sich nur im FE-Modul der MetaModel-Liste bestimmen, wie die Sortierung (Sortieren nach... und Sortierreihenfolge) aussieht. Wäre es möglich eine Art Sort-Filter zu haben, der im Frontend die Sortierung der dargestellen Liste erlaubt?... Z.B. Sortieren anhand der gezeigten Attribute (oder einem Teil davon)

[2013-06-01 14:45] tognit opened #184 "Titel bei Kind-Tabelle"
Wenn man eine MM als Kind-Tabelle verwendet, steht im Kopfbereich (tl_label) "tstamp".
Schöner wäre der Titel der Kind-Tabelle.
![tl_label](https://f.cloud.github.com/assets/1794459/594976/bf0fa9be-cac9-11e2-8f1a-66adf8040631.jpg)

Oder habe ich da was übersehen?

Grüessli
Steven

[2013-06-04 13:19] stefanheimes opened #189 "Umstellung von SL auf ML schmeißt Fehler"
Wenn wir von einem SL (Single Language) auf ein ML (Multi Language) umstellen, müssen wir jedes Attribute öffnen und neu speichern, da alle Beschreibung noch im SL Mode gespeichert sind. Allerdings arbeitet MM dann schon im ML Mode und schmeißt den Fehler unten.

[code]

[2013-06-18 13:33] CrawlingKing opened #215 "Kommentarmodul als weiteres Attribut"
Hallo,
es wäre toll, wenn als weiteres Attribut ein Kommentarmodul für die Detailansicht zur Verfügung stände.
Vielen Dank
Lg

[2013-06-29 08:45] Hendriks opened #232 "translated-Select-Optionen in aktuell zu bearbeitender Sprache?"
Weiss nicht, ob das in den Core gehört... Ich versuche es aber auf jeden Fall *einfach* und *verständlich* zu illustrieren:

#### SOLL-Zustand (meiner Meinung nach):

__1)__ Benutzersprache __DE__ ; Eingabemaske für __DE__ :

__Hersteller:__ Hugendubel _[ nicht-übersetztes Select ]_
__Artikelnummer:__ "365" _[ nicht-übersetztes Text-Feld ]_
__Haupt-Farbe: Schwarz__ _[ übersetztes Select ]_
__Besch

[2013-07-17 11:17] der-On opened #236 "MetaModels API?"
It would be great to have an API so other extensions can interactive with metamodels.

Possible usecases:

- CRUD existing metamodels
- Retrieve attribute-definitions
- programaticly create metamodels + filters + views (usefull for deployment as metamodel definitions are in-code)

[2013-07-17 14:00] patrickkahl opened #237 "Get the variant base from template"
It would be good to make the access to the variant base from the template easier.

Currently this needs to be solved as following:

[code]

[2013-08-31 18:24] zonky2 opened #269 "Feature: BE-Anzeige eines MM in Palette eines Contao-Elementes einbinden"
Hallo,

zu dem Thema hatte ich schon mal ein Ticket in der Community: https://community.contao.org/de/showthread.php?43838-MM-BE-Eingabe-in-DCA-Palette-einf%FCgen-z-B-Artikel-Seite - nun als Featureanfrage:

Die MM-Eingaben scheinen für mich recht losgelöst von den übrigen Elementen von Contao wie Seiten, Events, Artikel, usw. ...

Wenn man die Eingaben in die Element-Paletten des BE einbinden kön

[2013-09-20 13:00] tristanlins opened #284 "Insert tag to details view"
I would propose an insert tag to the details view, I know it require more than the record id, but it would be realy handy.

[2013-09-23 13:42] tim-bec opened #292 "[feature] Einträge in Eingabemaske direkt in Subpalette sortieren / verschieben"
Es wäre toll, Einträge direkt in eine Subpalette hinein verschieben zu können.

Also ungefähr so:
![mm-palettensortierung](https://f.cloud.github.com/assets/1793396/1191677/e783f7c0-2455-11e3-8a50-33cba74ab158.png)

[2013-09-26 11:00] tim-bec opened #296 "Attribut "behält" seine Eigenschaft wenn es geändert wird (date to text)"
MM Stable
Contao 2.11.11

Ich hatte ursprünglich ein Datums-Attribut angelegt und dieses später in ein Text Attribut umgewandelt.
Wenn ich hier nun z.b. 2011/2012 eingeben will speichert das attribut nur 2011. Ebenso bei 2011-2012. Aber auch 01.02.2012 verwirft es und speichert nur 01...

[2013-10-16 08:30] stefanheimes opened #311 "Fallback languages problem."
Ich hab mir die Core Klasse vom MM eben angeschaut. Siehe hierzu https://github.com/MetaModels/core/blob/contao3/src/system/modules/metamodels/MetaModels/MetaModel.php#L282.

Durch diesen umbau haben wir das System zu grob eingestellt. Es wird nun nicht mehr für jedes Attribute geprüft ob ein Wert in der Zielsprache vorhanden ist, sondern nur noch ob allgemein Daten vorhanden sind.

Damit haben wi

[2013-10-17 07:33] stefanheimes opened #312 "Allgemein Filter - Count Funktion"
Ich habe mir die Filter mal angeschaut. Es gibt die Möglichkeit die Anzahl für jede Filter Option auszugeben.

Nun haben wir aber das Problem das die Filter nacheinander Aufgerufen werden, Ihre Liste mit den ID zurück geben und dann gleich den Count berechnen.
Allerdings wenn der 1. Filter die Values berechnet hat und der letzte Filter fertig ist, hat sich unter Umständen die Anzahl der Items geän

[2013-10-22 18:57] stefanheimes opened #318 "Stylepicker4ward"
We have some problems with the Stylepicker4ward. We named some classes exact same as Stylepicker4ward do.

So we musst renamed it.

[2013-11-10 05:15] discordier opened #330 "Pass Database instance to attributes via dependency injection."
To make attributes originating from different databases possible and to allow better unit testing, the Database instance should be injected as dependency rather than being retrieved via the standard singleton.

[2013-11-27 16:13] tim-bec opened #334 "FR: Attribute nach anlegen sperren"
Wenn ein Attribut angelegt wurde, sollte es hinsichtlich seiner "Attributart" gesperrt werden, also das nachträgliche wechseln von z.b. text auf translatedtext nicht mehr möglich sein.

[2013-12-11 19:18] HenryVolkmer opened #345 "Filter ignoriert statischen Parameter der MM-Liste"
Wird eine Liste mit überschriebenen Filtereinstellungen¹ nebst Filter auf der selben Seite verwendet, so zeigt der Filter alle (auch nicht mögliche) Attribute an.

Daraus folgt, dass die Option "Nur verbleibende Tags" innerhalb der BE-Filtereinstellungen bei og. Setup ignoriert werden.

Die Option "Nur zugeordnete Tags" wird korrekt berücksichtigt.

¹überschriebene Filtereinstellung:
Filtereinstel

[2014-01-07 10:35] stefanheimes opened #358 "Filter with GET and POST elements."
If we use selects and simple linklist we got the problem that after a submit all values for the linklist are lost.

At a short view in der MetaModelFrontendFilter i found the main problem. See
https://github.com/MetaModels/core/blob/master/src/system/modules/metamodels/MetaModelFrontendFilter.php#L241

In my opinion the `$arrParams['other']` isn't right. We should use the  `$arrParams['all']` beca

[2014-02-04 13:08] UlrichHolland opened #374 "Invalid Markup Validation HTML5 [Filter Widget]"
Validator:

Line 1, Column 6509: The for attribute of the label element must refer to a form control.

…submitonchange">  label for="value"  /label <fieldset id="value" c…

[2014-03-06 09:45] stefanheimes opened #379 "getFilterOptions - Return all values, but "onlypossible" is active"
If you have no result anymore, all filters return as filter otpions all values they have. I think this is totally wrong when we are using "onlypossible".

The main problem is that in all attributes the "getFilterOptions" use a simple if($arrIds), but a `array()` is returned on this condition a FALSE. So in my opionion we have to add a check at the beginning.

[code]

If we have an array the "onlyp

[2014-03-09 21:50] andreasisaak opened #382 "Icon in der MetaModels Übersicht für die direkte Bearbeitung"
Wir haben zwar schon viele Icons aber ich würde noch eins hinzufügen. Und zwar würde ich den allgemeinen Stift neu verlinken das du direkt in do=mm_exampletable ankommst und die beiden gekreuzten Stifte (neu in Contao 3.2) für die Bearbeitung der MetaModels Settings.

Dann wäre es auch konform zu den News und Events.

[2014-03-09 21:51] andreasisaak opened #383 "Icons in Kindtabellen tauschen"
Dort sollten wir unser eigenes MM Icon durch die beiden gekreuzten Stifte ersetzen die in Contao 3 hinzugekommen sind. Als Fallback in Contao 2 kann man ja immer noch die das eigene Icon dafür nehmen.

[2014-03-16 09:29] AgentCT opened #385 "Filter mit allen Definitionen kopieren"
Es wäre schön, wenn man einen Filter mit allen gemachten Einstellungen kopieren könnte. Braucht man einen Filter mit leichten Abwandlungen häufig wäre das eine riesen Erleichterung.

[2014-03-21 08:36] cogizz opened #392 "CSS Klasse in Rendersetting eines Attributes definieren"
Wir haben relativ oft Attribute, wo zwar die HTML-Struktur gleich ist, wir aber eine eigene CSS-Class benötigen. Dafür wäre es super, wenn man an das Attribute-Template eine eigene Class übergeben könnte.

![bildschirmfoto 2014-03-21 um 09 29 20](https://f.cloud.github.com/assets/1805613/2481143/63917cc0-b0d3-11e3-9aac-dddac482fb52.png)

Das Template würde dann zum Beispiel wie folgt aussehen:

``

[2014-04-09 10:22] tim-bec opened #398 "Feature: Inserttags Redakteursfreundlich erweitern"
Redakteure die in einem mm einen anderen mm Eintrag verlinken wollen (z.B. Newseintrag mit verweis auf Projekt) müssen dazu aktuell das lange jumpTo Konstrukt verwenden: {{mm::jumpTo::mm_projects::1::6}}

Problem: Die Rendersettingsid bekommt der Redakteur eigentlich nicht raus.

Lösung:
- Erweiterung der Rendersettings um ein Input für einen "inserttagAlias"
- jumpTo erweitern das man was wie mm:

[2014-04-17 11:12] cyberlussi opened #402 "[Contao 3.2.9] Nicht-sichtbare Attribute im Template als Wert abfragbar / Subpaletten und Template"
Bezugnehmend auf https://community.contao.org/de/showthread.php?49584-gel%F6st-Stand-MM-Subpaletten ein Feature- oder Optimierungs-Request:

In einem (FE) Template sind die Attribute verfügbar, die per Rendersettings "sichtbar" geschaltet wurden. Möchte man im Template aber auf "nicht sichtbare" Attribute zugreifen, so geht dies nicht, da diese im Array der Daten NULL sind. Es müsste eine Möglichk

[2014-05-23 08:45] xat opened #418 "Translated Frontend-Filters random language options"
Benutzt man TranslatedSelect oder TranslatedTags in einem Frontend Filter-Menue so werden die Options in der korrekten Sprache angezeigt wenn die Aktive Sprache der Fallback Sprache entspricht.

Wenn man allerdings im Frontend die Sprache wechselt auf eine Sprache die nicht die Fallback Sprache ist so sind die Options values in zufaelliger Sprache.

Ich hab versucht dem Problem auf die Schliche zu

[2014-05-28 11:41] klauswagner opened #420 "Mehrsprachigkeit der Eingabemaske im Backend"
Folgendes Vorgehen:
Ich lege in meinem mehrsprachigen (Deutsch, Französisch, Englisch) MetaModel "Produkte" eine Eingabemaske "BE Produkt Erfassung" an. In den Einstellungen zur Eingabemaske ist "Übersetzung" aktiviert und die entsprechenden Sprachen sind angelegt. Als Fallback-Sprache ist "Englisch" ausgewählt.
In den Einstellungen der einzelnen Attribute des MetaModels "Produkte" sind alle Übers

[2014-05-30 13:54] LeoUnglaub opened #430 "[TNG] Links in the breadcrumbs don't contain $_GET ref"
Hey,
the links in the Meta Models breadcrumbs don't contain the new and needed ref param. This can cause some problems if you have multiple tabs open on the same time.

![selection_026](https://cloud.githubusercontent.com/assets/734684/3131211/00139474-e802-11e3-848f-00fcfff87496.jpg)
The normal contao function for generating links in the backend should fix that problem.
Greetings
Leo

[2014-05-30 14:09] LeoUnglaub opened #431 "[TNG] edit multiple in the meta models list causes empty backend screen"
Hey,
if you use the edit multiple global option in the meta models list, you get an empty (no 500, it's 200) backend view.

![selection_025](https://cloud.githubusercontent.com/assets/734684/3131386/f74b5b54-e803-11e3-9102-9e41e3c6e8f0.jpg)
![selection_026](https://cloud.githubusercontent.com/assets/734684/3131389/fa02bf18-e803-11e3-89c0-23a3aebe2da5.jpg)

Greetings
Leo

[2014-06-06 15:06] discordier opened #440 "Split up event handler for renaming a MetaModel."
`MetaModels\DcGeneral\Events\Table\MetaModels\UpdateMetaModel::handle()` must be splitted up into only the real labor work of renaming the table.

We need to fix the check in `MetaModels\DcGeneral\Events\Table\MetaModels\Subscriber::ensureTableNamePrefix()` to only check the new table name and error out if it does not exist.

[2014-06-10 13:44] cogizz opened #444 "[TNG] Contao 2.11 nightly kein ClassLoading"
Ich habe gerade einmal die aktuelle TNG nightly auf einer Contao 2.11 installiert.
Leider scheint es dort kein ClassLoading zu geben. Ich erhalte folgende Fehlermeldung:

[code]

[2014-06-19 10:27] cepharum opened #456 "Kein Filter auf implizite Attribute möglich (evtl. Feature Request)"
Bei Versuchen (auf Grundlage des heutigen Nightly Builds der 1.1.x), eine Hierarchisierung von Datenmodellen über die Eltern-/Kind-Beziehungen herzustellen, die direkt id und pid nutzen, ist es uns bisher nicht gelungen, eine Frontend-Liste zu erzeugen, die genau diese Attribute nutzt, um bspw. zu einem Eltern-Element alle zugehörigen Kind-Elemente in einer eigenen MetaModels-Liste anzuzeigen.
##

[2014-06-25 13:01] cogizz opened #462 "[TNG] PHP Speicherfehler bei Verwendung von Subpaletten"
Ich habe mir eine Subpalette / Condition eingerichtet, seit dem erhalten ich folgende Fehlermeldung:

[code]
Das Problem tritt bei folgender Condition auf:

![bildschirmfoto 2014-06-25 um 15 00 29](https://cloud.githubusercontent.com/assets/1805613/3385307/c37ae140-fc68-11e3-8687-f4c5ada41747.png)

[2014-07-09 15:42] kein-nickname opened #477 "MetaModul-FilterReset wird auf HP nicht angezeigt wenn über Modul eingebunden"
Contao 3.3.3 / MM Dev-TNG
Wenn man den Modultyp "MetaModul-FilterReset" per Modul einbindet wird dieser nicht aktiviert.
Im HTML-Code erfolgt dann:
[code]
Wenn man jedoch im Inhaltselement den Elementtyp "Zurücksetzen" nutzt wird es angezeigt.
[code]

Ein BUG oder ist die Nutzung über das Modul nicht mehr vorgesehen?
Hat in der Demo von MetaModuls damals so fuktioniert!

[2014-07-12 18:10] kein-nickname opened #484 "Template zeigt keine deaktivierten Werte mehr an..."
In Version 1 (2013) unter Contao 2.x konnte man damals, trotz deaktiviertem Item in der Renderingeinstellung, über den Code:
[code]
dieses Item anzeigen lassen.

Während:
[code]
sich an den deaktivierten Wert hielt und keinen Daten auslieferte.

Diese Möglichkeit war eigentlich eine sehr sinnvolle Möglichkeit. So konnte man sowohl die automatische Anzeige nutzen, als auch deaktivierte Items im Tem

[2014-07-19 09:36] cyberlussi opened #493 "Checkbox SubmitOnchange in BE Eingabe leert andere (!) Subpaletten Inhalte"
Hi,

ich habe mit "DC General Tree BackendView Ultimate" in einem BE Formular eines MM mehrere Checkboxen und Felder abhängig gemacht (im Detail: Checkbox::Option1 + File::Galerie; Checkbox::Option2 + File::Anlagen -> "Property value is for attribute Option1 (Parameter: 1)" und "Property value is for attribute Option2 (Parameter: 1)") und die checkboxen auch jeweils mit "SubmitOnChange" konfigurie

[2014-07-23 14:53] jgrotstabel opened #496 "[TNG] Keine Auswahl von Attributen bei Einzel- und Mehrfachauswahl Filter möglich"
Sowohl beim Filter Einfachauswahl als auch Mehrfachauswahl ist es mir in der MetaModels 2.x auf Contao 3.2.12 nicht möglich, ein zu filterndes Attribute in den Filtereinstellungen zu hinterlegen.
Ich kann immer ein Attribute auswählen (welches ich dafür hinterlegt habe), sobald ich jedoch auf speichern klicke wird die Attribute Auswahl in den Filtereinstellungen geleert.
Deswegen kann ich dann auc

[2014-07-23 16:43] emkayy opened #498 "Reload after Select / Radio for Subpalettes"
A 'Submid on Change' option for subpalette triggering fields like select or radio buttons would be nice - just like the checkbox already has!

[2014-07-23 16:48] emkayy opened #499 "Subpalettes: Hide Legends with all Containing Fields"
Working with complex forms would be much easier if you could apply subpalette options to all elements within one legend area. Means defining subpalette conditions to a legend element affects it's "children".

[2014-07-23 19:02] mosesontheweb opened #500 "[TNG] "Speichern und neu" funktioniert nicht korrekt"
Hallo,

hab heute einen Fehler auf einer Contao 3.2.12 mit Metamodels TNG entdeckt. Auf meiner Installation war dieser Effekt reproduzierbar:

- Neues Metamodel angelegt
- Klick auf "Speichern und neu"
- Nächstes Metamodel eingetragen
- Klick auf "Speichern und neu"
- Es ist ein Fehler aufgetreten

Fehlermeldung aus dem error.log:
[code]

Gruß, Thomas

[2014-07-23 19:12] mosesontheweb opened #501 "[TNG] Sortierreihenfolge der Metamodels in umgekehrter Reihenfolge"
Mir ist grade aufgefallen, dass die Namen der Metamodels, die ich angelegt haben, in umgekehrter Reihenfolge angezeigt werden. Also Z -> A anstatt A->Z.

Gruß, Thomas

metamodels/core - dev-tng @ 2e73b7

[2014-07-23 22:29] tim-bec opened #504 "Attributswechsel sperren"
Der nachträgliche Wechsel von Attributen macht immer wieder diverse Probleme und ist so auch nicht "vorgesehen" wir sollten daher generell den Wechsel des Attributstypen nach anlegen sperren oder nur nach eindringlicher Warnung annehmen.

[2014-07-25 04:08] discordier opened #507 "Style "Panelpicker" beatifully."
We should style the "Panelpicker" in the input screen popup better as it is plain ugly.

While we are at it, we should also provide meaningful description texts to each option in there so people not familiar with DCA internals will know what everything means.

[2014-07-30 11:03] emkayy opened #511 "Fatal Error After Renaming MM Database Table"
After I renamed a DB table of a MetaModel (that I used as a select option) I get a system error. Deleting cache doesn't help. I can't log into contao anymore because I get a fatal error.

I have to change the name of the database table in the tl_metamodel_attribute table -> select_table column manually.

[2014-08-04 10:11] Zeromax opened #521 "[tng] get Templates for basename"
This method `getTemplatesForBase` gets the templates by basename and missed my templates...
https://github.com/MetaModels/core/blob/tng/src/system/modules/metamodels/MetaModels/Dca/Helper.php#L261

I put them into a subfolder. Added them via `TemplateLoader`.

[code]
But metamodels ignores them, because I have not put it into the root from the templates Folder.

Please check the Contao `TemplateLo

[2014-08-04 18:22] tim-bec opened #524 "Minifiy CSS & JS for stable release"
Before we release, we need to minify the css & js sources.

[2014-08-06 10:00] tschero opened #526 "TNG Keine Sortierung im Backend"
Hallo,

bei dem Versuch die Sortierung im Backend zu nutzen wird leider keine Aktion durchgeführt.
Das MetaModel und die Einstellungen wurden gemäß Contao Wiki Beispielprojekt abgelegt.

Einen zugehörigen Thread im Contao Forum findet Ihr hier:
https://community.contao.org/de/showthread.php?51969-Backend-Sortierung-Ansicht-ver%E4ndern

Gruß
tschero

[2014-08-08 13:45] cyberlussi opened #530 "[TNG] Duplikat eines Filter-Settings erzeugt Fatal Error: Property id is not registered"
Beim Einfügen des Duplikats eines Filter-Setting-Eintrages (eigenes SQL) zu einem anderen Filter im gleichen MM folgt folgender Fehler.

dev-tng (306beb30)

[code]

[2014-08-09 09:02] cogizz opened #531 "[TNG] Löschen eines MetaModels führt zu Fehlermeldung"
Folgende Situation:
- MetaModel Jahre
- MetaModel Presseberichte
Im MetaModel Presseberichte gibt es ein Attribute-Select, welches auf Jahre referenziert. Wenn ich jetzt das MetaModel Jahre vollständig lösche, erhalte ich folgende Fehlermeldung:

[code]
Natürlich hätte ich auch zu erst das Attribute löschen können, aber dennoch wäre es gut, wenn es hier eine Meldung oder ähnliches geben würde. Wei

[2014-08-12 15:00] JT-007 opened #539 "[contao3] Kopierbutton bei Variationen funktioniert nicht"
Bei den Varianten eines MM Eintrags steht zwar der Kopierbutton zur Verfügung aber beim Klick darauf passiert nichts.

Laut xtra kann der Kopierbutton gar nicht funktionieren und sollte entfernt werden.

[2014-08-20 14:26] zonky2 opened #546 "Tooltips bei Icons der Rendereinstellungen, Attributen usw. falsch"
Hier erscheint "Filtereinstellungen" statt "Rendereinstellungen" bei: Bearbeiten, Kopieren, Details

bei Verschieben: "Cut render settings id <id>"

bei Toggle: "id <id>"

[2014-08-21 16:51] xantippe opened #551 "[TNG] NB 21.08.14: Checkbox Varianten speichert nur bei "Speichern und neu""
der Status der Checkbox "Varianten" ändert sich nur bei "Speichern und neu" bei Speichern oder Speichern und schließen ändert sich zwar in der Anzeige die Checkbox, wird die Seite aber neu geladen ist der alte Zustand wieder da.

bei Speichern und zurück kommt "The function/view "Save and go back" is not implemented. "

[2014-08-21 18:30] cyberlussi opened #552 "[TNG] Warning: metamodel_prerendered: Undefined template variable: settings"
Mit den neuesten Commits und dev-tng (c2d00922) scheint das Template nicht zurechtzukommen ...
[code]

[2014-08-22 11:29] zonky2 opened #555 "CE-Element "METAMODEL LIST" MM-Name mit anzeigen"
Hallo,

ich fänd es prima, wenn bei den CE "METAMODEL LIST" zusätzlich das MetaModel angegeben wird z.B. so

[code]

bei mehreren MM-Lists in einem Artikel muss man sonst immer erst nachsehen wer welcher ist...

[2014-08-24 22:27] design23 opened #559 "[TNG] Kein Icon für manuelles Sortieren im BE bei MM mit Varianten(?)"
Hi,

bin mir nicht sicher, ob hier ein Bedienfehler meinerseits oder wirklich ein Issue vorliegt – aber sicherheitshalber melde ich das mal.

Ich habe aktuell das Problem, dass in der BE Listenansicht der MM kein Icon (bzw. kein "Anfasser") für manuelles Sortieren mit Drag & Drop angezeigt wird. Die Sortiermodi habe ich schon alle durchprobiert.
![bildschirmfoto 2014-08-25 um 00 17 49](https://clo

[2014-08-28 13:11] zonky2 opened #565 "FR: Checkboxen der Mehrfachauswahl im Item sortierbar"
Könnten die Checkboxen zus./alternativ zur eingestellten Standardsortierung auch individuell in jedem Item sortierbar gemacht werden - Analog z.B. CSS-Auswahl im Layoutbuilder

Der Contao-Core sollte das ja soweit in petto haben...

Dank & Gruss
![screenshot2](https://cloud.githubusercontent.com/assets/1045318/4075858/c83fda5e-2eb4-11e4-8492-a4bc3792dbf8.jpg)

[2014-08-28 20:25] xantippe opened #566 "[TNG] FR: Verschachtelungstiefe von MM mehr als zwei Ebenen"
Bei einer Verschachtelungstiefe von Metamodels von mehr als zwei Ebenen werdendie folgenen Ebenen nicht oder nur rudimentär in das Ausgebearray eingepflegt.

z.B. MM1 --> bezieht Werte aus MM2 --> bezieht Werte aus MM3

Macht man eine Ausgabeliste für MM1 gibt es für Werte aus MM3 folgende Effekte:
* Referenzierung per Auswahl: nur ein Item wird im Array angebenen mit Wert der ID des Datensatzes (

[2014-08-29 15:11] zonky2 opened #567 "Felder Select, Checkbox, Radiobutton usw. in Eingabemaske "Nur lesen" brauchen disabled statt readonly"
Die Option "Nur lesen" hab bei einem Auswahlfeld (Select), Checkboxen und Radiobutton keine Wirkung - da muss das HTML-Attribut 'disabled' statt 'readonly' hin...

Contao selbst stellt ein Attribut 'disabled' zur Verfügung - für einen PR habe ich leider nicht gefunden, wo man die Unterscheidung zwischen Input-Typ Text und Textarea (für readonly) und dem Rest machen könnte :-(

TNG NB von 28.08.201

[2014-09-08 11:26] xantippe opened #579 "[TNG] NB 20.09.14 Fehler für "Angepasstes Template für die Ausgabe" bei Anzeige im BE und eigenem Template"
wenn ich ein eigens Template  mm_attr_checkbox_be anlege und auswähle, kommt in der Listenansicht
[code]

[2014-09-09 09:22] xantippe opened #580 "[TNG] FR: Eingabemaske > Legende eine Option für hide bzw. collapse des Panels"
Es wäre schön, wenn es wie bei den DCA-Einstellungen der Legend eine Option für das ":hide" gibt, um ein Panel in der Detailanzeige im Standardmodus zusammengeklappt anzuzeigen.

Aktuell wird das Auf/Zu eines Panels (auch) nicht in der Session mit abgespeichert.

siehe auch: https://community.contao.org/de/showthread.php?52704-Frage-zu-quot-Legende-verbergen-quot-bei-Paneleinstellungen&p=340033#po

[2014-09-14 08:15] tognit opened #583 "[TNG] Parent-ID wird nicht gespeichert"
Der Zugriff auf die Kindtabelle funktioniert ja wieder, aber leider wird in der Datenbank die Parent-ID nicht gespeichert. Jetzt sind alle Kindelemente in jedem Elternelement sichtbar.

Contao 3.3.4
MM 11.09.2014

[2014-09-14 09:55] mosesontheweb opened #584 "[MM-1.1.x-nightly] Hochgeladene Dateien mit Klammern verursachen Problem"
Hallo,

ich habe eine Plattform, bei der Vereine Turnierausschreibungen hochladen können. Dies wird mittels EFG realisiert. Jetzt kann es vorkommen, dass ein Verein eine Aussendung mit einer Klammer ")" oder "(" hochlädt. Möchte man nun im Metamodel bei einem Attribut des Typs File auf diese Datei verweisen, kommt ein Fenster mit dem Hinweis "Die Daten werden geladen", verläuft sich aber ins Endlo

[2014-09-25 10:50] Sorato95 opened #593 "Fehler bei erstellung von MetaModel bei von Abhängigkeiten geladener DC_General Version"
Hallo zusammen,

Ich habe über den Composer Installier MetaModel installiert und dabei wurde die DC_General Version 2.0.0-beta20 installiert.

Mit dieser Version konnte ich kein Metamodel anlegen, daher hab ich die DC_General Version aus der 2.0.x-dev genommen und dann hats funktioniert.

Behoben wäre der Fehler also wenn man die Abhängigkeit ändert.

Grüße

[2014-10-14 00:55] discordier opened #601 "Drop event propagator and use plain event dispatcher."
Core:
- [ ] https://github.com/MetaModels/core

Attributes:
- [x] https://github.com/MetaModels/attribute_alias
- [X] https://github.com/MetaModels/attribute_checkbox
- [x] https://github.com/MetaModels/attribute_color
- [X] https://github.com/MetaModels/attribute_combinedvalues
- [X] https://github.com/MetaModels/attribute_country
- [X] https://github.com/MetaModels/attribute_decimal
- [X] https:

[2014-10-14 01:05] discordier opened #602 "Change to c-c-a code style and utilize ccabs."
Core:
- [X] https://github.com/MetaModels/core

Attributes:
- [x] https://github.com/MetaModels/attribute_alias
- [X] https://github.com/MetaModels/attribute_checkbox
- [X] https://github.com/MetaModels/attribute_color (Thanks to @cliffparnitzky MetaModels/attribute_color#2)
- [X] https://github.com/MetaModels/attribute_combinedvalues (Thanks to @bytehead MetaModels/attribute_combinedvalues#8)
- [

[2014-10-18 16:53] discordier opened #606 "Rework factories and introduce them into attributes"
Next collective ticket.
We need to alter the factories some more as discussed with @stefanheimes and introduce them into all attributes.
- [X] https://github.com/MetaModels/core
- [X] https://github.com/MetaModels/attribute_alias
- [X] https://github.com/MetaModels/attribute_checkbox
- [X] https://github.com/MetaModels/attribute_color
- [X] https://github.com/MetaModels/attribute_combinedvalues
-

[2014-10-24 08:56] jabadoo opened #618 "Panel-Layout fehlerhaft?"
Gestern mit aktuellem nightly auf Contao 3.2.14 das Beispiel aus dem Wiki nachgebaut und dabei folgenden Fehler (?) entdeckt:
1. Im BE Panel taucht das Label "Filtern:" für jeden Filter separat auf. Sollte das nicht nur einmal dargestellt werden?
2. Search übernimmt die deutschen Label, der Filter listet nur die Spaltenbezeichnung auf.

![bildschirmfoto 2014-10-23 um 18 37 26](https://cloud.github

[2014-10-24 12:37] JT-007 opened #620 "Sortierung anhand von mehreren Feldern ermöglichen"
Hallo zusammen,

es wäre sehr gut wenn man in Zukunft bei den Frontend MetaModel Listen nicht nur ein sondern gleich mehrere Feld für die Sortierung auswählen kann. Vielleicht könnte man dies ähnlich wie beim Catalog umsetzen wo man ja die ORDER BY Angaben in eine Textarea eintragen konnte.

Liebe Grüße,
JT-007

[2014-10-27 18:43] tim-bec opened #624 "[Roadmap 2.0.0]"
Wir haben Eure Rückmeldungen hier, im IRC und im [Forum](https://community.contao.org/de/showthread.php?53371-Was-ist-mit-metaModels-los) gehört und uns einen Schlachtplan zurechtgelegt.
Gestartet sind wir mit einem Ticket-Marathon von 10 Stunden. Alle Tickets die dem [Milestone 2.0.0]( https://github.com/MetaModels/core/issues?q=is%3Aopen+is%3Aissue+milestone%3A2.0.0) zugeordnet sind müssen nun n

[2014-10-28 14:04] tim-bec opened #625 "Langsame MetaModels Installation / Timeout"
Meine Testinstallation (rework-sorting / dcg dev-develop) ist seit ein paar Tagen äußerst langsam ( Aufbau Backend Listen >60 Sekunden) Der Debug Modus gibt bei einem MetaModel (Kundenliste,60 Einträge) folgendes mit:

`Execution time: 3.056 msMemory usage: 22,3 MiBDatabase queries: 585Rows: 2651 returned, 1 affectedRegistered models: 49`

regelmäßig erhalte ich zudem einen Timeout mit einem Stack

[2014-11-06 10:52] zonky2 opened #636 "Filter OHNE "Nur verbleibende Tags" filtert zu viel"
siehe https://community.contao.org/de/showthread.php?53387-Frage-zu-Filter-Auswahl-Filter-Ausgabe-aller-Items-des-refer-MM&p=346475&viewfull=1#post346475

Ist der Filter "Nur verbleibende Tags" nicht gesetzt werden trotzdem nicht alle Items ausgegeben.

Beispiel:
- Filter-Set im BE für Filterung der Events
  filter_be.jpg
  ![filter_be](https://cloud.githubusercontent.com/assets/1045318/4934574/e0

[2014-11-07 01:16] hansen-pansen opened #637 "[TNG] Installationsprobleme auf Contao 3.3.5"
Bei der händischen Installation des letzten nightly builds 2.x der MM auf mein Contao 3.3.5. Kommt es beim Versuch des DB-Updates via install.php zu folgender Fehlermeldeung:

[code]

[2014-11-08 14:18] cboelter opened #640 "[TNG] Löschen eines Attributes welches in einer Condition genutzt wird führt zu Fehler"
Folgende Basis: Ein Attribute Select (Link-Type) und ein Attribute Text (URL). Beim Feld URL habe ich eine Condition hinterlegt wenn Link-Type = extern dann zeige URL an. Wenn ich jetzt das Attribut Link-Typ lösche, endet das mit folgendem Fehler:

[code]

Der Fehler entsteht dadurch, das zwar das Attribut gelöscht wird, jedoch nicht der Eintrag aus der Tabelle tl_dcasetting_condition. Aus dieser

[2014-11-09 09:11] cboelter opened #641 "[feature] Unterstützung für Nested-Menu von BIT3"
Wir haben relativ oft eine große Anzahl von MetaModels die nur für die Konfiguration von Sachen benutzt werden. Diese machen die Backend-Navigation mit der Zeit relativ unübersichtlich.
Da wäre es ganz cool, wenn man diese mit dem Nested-Menu (https://github.com/bit3/contao-nested-menu) gruppieren könnte.
Ich habe mal einen POC gebaut ...
![bildschirmfoto 2014-11-09 um 10 10 40](https://cloud.gith

[2014-11-12 07:16] tristanlins opened #642 "Object of class MetaModels\Attribute\Text\Text could not be converted to string"
[code]

Imo the `array_intersect` here cannot work:
https://github.com/MetaModels/core/blob/tng/src/MetaModels/MetaModel.php#L378-L381

Both arrays (or at least the left) contains objects. But the [documentation](http://php.net/manual/en/function.array-intersect.php) says:

I changed the code this way:

[code]

[2014-11-12 22:57] stefanheimes opened #644 "Artefacts in templates"
We have some artefacts from older versions.
I think we can remove this.

https://github.com/MetaModels/core/blob/tng/contao/templates/metamodel_prerendered.html5#L1

[2014-11-13 14:56] MrTool opened #645 "inconsistent return value for function "getFieldDefinition" of attributes"
The function getFieldDefinition returns depending of the underlying data table different values for the attributes select/tags.

If the data table is an metamodels table the function returns the dca array with the options key=>value pair.

If the data table is not an metamodels table the options key is missing.

[2014-11-18 08:01] harry-boldt opened #649 "Position of the "Back"-Link"
In Contao, the "Back"-Link is always positioned on the left side, whereas in MetaModels, it is placed on the right side. This is confusing. In order to be Contao conform, the "Back"-Link should always be the first link.

[2014-11-18 17:00] Wagnerwagner opened #651 "Picker Popup Auswahl wird nicht gespeichert"
Ich habe ein Attribut "Mehrfachauswahl". In den Einstellungen der Backend-Eingabemaske habe ich diesem Attribut die Anzeigeoption "Als Checkbox-Wizard anzeigen" -> "Display as picker popup" zugewiesen.
Wenn ich nun in der Eingabemaske auf den Button "Auswahl ändern" klicken, erscheint die Lightbox bzw. das simple-modal-overlay mit der Auflistung aller Einträge. Dort aktiviere ich eine oder mehrere

[2014-11-18 17:36] Wagnerwagner opened #652 "Mehrfachauswahl Bezeichnung/Name und translated-Attribute"
Model1 hat ein translated_text-Attribut mit der Bezeichnung "Name". Im Model2 ist ein Mehrfachauswahl-Attribut angelegt. Dort wähle ich als Datenbanktabelle die Tabelle von Model1 aus. Im Dropdown von "Tabellenspalte für Bezeichnung/Name" erscheinen nun alle Attribute von Model1, außer die translated-Attribute, also auch nicht das Attribut "Name". Dieses wäre aber nötig um in der Backend-Eingabema

[2014-11-26 09:14] zonky2 opened #657 "Alias oder Kombiniertes Feld bei Varianten mit Inhalt vom "Parent-Eintrag" - kein Übernahme des Wertes von Parent bei den Childs"
Hallo,

ich habe in einer MM-Tabelle die Varianten aktiviert und Attribut A, B und C.

A und B sind Textfelder, C ein Kombifeld aus A+B (%s - %s)

In den Variaten ändere ich nur B; C wird mit angezeigt - A ist als Variante nicht aktiviert.

Erstelle ich eine Variante neu, fehlt in C die Ersetzung von Feld A (weil der Wert aus der gleichen "Zeile" gezogen wird statt vom Haupt-Eintrag)

Gruss

[2014-12-03 21:12] tniebergall opened #662 "Mehrsprachige Einträge werden nicht gespeichert"
Ich habe in der aktuellen MM TNG Version unter Contao 3.3 und 3.4 den Fehler, dass bei einem mehrsprachigem MM die Übersetzungen den Standardwert überschreiben.

Beispiel:

Ich habe ein MM in deutsch und englisch. Pflege ich nun bei einem mehrsprachigem Text-Attribut z.B. den Wert "Auto" speichere das ganze, passt es.
Möchte ich nun die englische Übersetzung pflegen (Oben recht Englisch gewählt un

[2014-12-04 21:00] hansen-pansen opened #664 "Documentation: #404-Error after clicking Detail-Link"
I just came across a thing in the documentation I'd like to request to be added to the "Beispiele".

In the very last step, when you register the modules on the pages, there is no information about the fact, that the detailpage needs to be a direct childpage of the listpage. Otherwise you will always get a "404" error.
It took me quite some time to figure out where the source of the problem was la

[2014-12-05 10:56] reneaye opened #665 "Filter SingleSelections mit Tags"
Nach einem Update im Composer (weil Aliase jetzt ja wieder gehen)  habe ich nun ein Problem bei den Filtern. Wenn ich dort einen Single Selection erstelle und dann ein Tags Attribut auswähle kommt folgender Fehler:

Fatal error: Uncaught exception Exception with message Query error: Unknown column 'tag' in 'field list' (SELECT tag FROM mm_assets GROUP BY tag) thrown in system/modules/core/library/

[2014-12-11 07:25] psren opened #667 "TNG: Baumansicht im Backend klappt falsch auf"
Wenn man das oberste Element in der Baumansicht ausklappt kommt das Dropdown nicht an der dafür vorgesehenen Stelle.

![bug_tagsystem](https://cloud.githubusercontent.com/assets/1016798/5390638/35e46744-810f-11e4-98d3-dcd9edecb26e.jpg)

[2014-12-11 07:29] psren opened #668 "TNG: Baumansicht lässt sich nicht sortieren"
Die Pfeile sind zwar da, aber es lässt sich nicht sortieren.
Ist das ein Problem des DC_Generals?

[2014-12-11 10:24] tniebergall opened #669 "Metamodel List - Listen-Offset"
Ich habe 2 Metamodel-List-Elemente untereinander plaziert. Diese sind beide gleich konfiguriert, bis auf das beim ersten ein Limit von 3 eingestellt ist und bei dem zweiten ein offset von 3.

Im ersten Element werden die ersten 3 Einträge ausgegeben, das zweite Element sagt jedoch "Keine Einträge vorhanden"

Kann das jemand bestätigen oder habe ich einen Fehler in der Konfiguration?

Danke

[2014-12-13 10:19] cboelter opened #675 "[TNG] Clear cache on changes (WAS: Globaler Hinweis das der Cache aktiviert ist)."
Ich hatte das Problem, das Änderungen an den DCA-Combinations nicht übernommen werden. Nach etwas suchen, bin ich darüber gestolpert, das diese Daten jetzt gecached werden.

Eine gute sache, aber es wäre gut einen Hinweis zu haben das dieser Cache aktiviert ist. Ist ja ein neues Feature und bestimmt nicht jedem bekannt.

[2014-12-14 15:05] cboelter opened #676 "[TNG] Template not found im Backend"
Ich habe bei einer Testinstallation (Basierend auf der Movie-Database) das Problem, das ich immer folgende Fehlermeldung erhalte:

[code]

Der fehler entsteht dadurch, das hier https://github.com/MetaModels/core/blob/93ef0b9748d7eb89a79bdbebe8a8a6b06f4ceaf7/src/MetaModels/DcGeneral/Events/MetaModel/RenderItem.php#L139 nur Text-Templates geladen werden. Das oben genannte Template ist jedoch nur in

[2014-12-16 08:14] bizon1 opened #680 "[TNG]Filterreset funktioniert nicht mehr"
Das Filterreset funktioniert nach Update von heute Morgen via Composer nicht mehr. Weder als Elementtyp 'Zurücksetzen' noch als Modul eingebunden.
$this->href wird nicht zurückgesetzt.

[2014-12-16 11:27] kein-nickname opened #681 "Fatal error: Uncaught exception RuntimeException with message Condition of type conditionpropertyvalueis could not be transformed to an instance. thrown in composer/vendor/metamodels/core/src/MetaModels/BackendIntegration/InputScreen/InputScreen.php on line 256"
Nach dem neusten Update:

[code]

[2014-12-17 11:39] Wagnerwagner opened #683 "MM und Composer: Extrem lange Verzeichnispfade"
Mir ist aufgefallen, dass die Verzeichnispfade bei einer MM-Installation mit Composer im Composer-Verzeichnis extrem lang sind.
z.B.
composer/vendor/metamodels/attribute_translatedcombinedvalues/src/system/modules/metamodelsattribute_translatedcombinedvalues/MetaModels/Attribute/TranslatedCombinedValues/TranslatedCombinedValues.php

Wenn man auf einem Windows-System mit NTFS arbeitet liegt die max

[2014-12-17 11:59] Wagnerwagner opened #684 "Backend-Integration: Sortierung in der Backend-Navigation"
Wenn ich eine Eingabemaske für ein MetaModel anlege und diese in das Backend integriere, wird die Backend-Navigation umsortiert.

Als Integrationstyp habe ich "Unabhängig" eingestellt und die Backend-Hilfetexte eingetragen.
Wenn man als Backend-Bereich "Inhalte" wählt, fällt das nicht weiter auf. Wählt man aber als Backendbereich z.B. "System" rutscht in der Backendnavigation die komplette Navigat

[2014-12-18 07:27] bibib opened #686 "Fehler bei der BE-Eingabemaske-Erfassung bei fehlendem Sorting"
MacKP hat um die Eröffnung eines Tickets gebeten.
Wenn in der Eingabemaske für die BE-Erfassung kein "Sorting and grouping" angegeben ist, kommt eine Fehlermeldung:

[code]

Vorschlag von MacKP: wenn kein Sorting angegeben, sollte wenigstens ein Default greifen (z.B. nach ID), damit der Fehler nicht mehr auftaucht.

Mehr Details [hier im Forum] (https://community.contao.org/de/showthread.php?54512

[2014-12-18 08:47] MrTool opened #687 "Broken jumpTo link"
In the new TNG the jumpTo generation is broken if you are using a non multilang MetaModels and enables the feature "add language to url".

Here is an example:
[code]

It could be that this issue is in any way related to my PR #679
If i got some time I could dive into it

[2014-12-20 17:10] cboelter opened #690 "[TNG] FilterSetting-Subscriber Fehlermeldung"
Ich kriege auf meinem aktuellen TNG folgende Fehlermeldung:

[code]
Diese Meldung entsteht daraus, das hier das ```$GLOBALS['METAMODELS']['filters']```durchlaufen werden soll. Dieses existiert jedoch in einem TNG ohne zusätzliche Filter-Pakete nicht. Es müss hier noch eine Abfrage rein, ob das ganze existiert oder nicht.

[code]

Ich mache dazu am Montag einen entsprechenden PR.

[2014-12-26 11:46] cboelter opened #692 "[TNG] Condition funktionieren nicht mit den Tags"
Ich versuche gerade die Conditions mit dem Tags-Attribute zu verwenden, leider klappt das nicht. Das SubmitOnChange habe ich bei mir lokal ergänzt, aber trotzdem werden die Conditions nicht ausgeführt.

[2014-12-27 12:39] cboelter opened #693 "[TNG] Verschachtelte MetaModels sehr unübersichtlich"
Ich habe folgende Konstellation ...

MM: Person
   - MM: Interview-Basis-Daten
    - MM: Interview Fragen / Antworten

im moment ist es für den User nicht wirklich erkennbar, auf welcher ebene er aktuell ist, weil es im Sortinmode nur so aussieht:

![bildschirmfoto 2014-12-27 um 13 38 54](https://cloud.githubusercontent.com/assets/550207/5561287/bba12532-8dcd-11e4-93e4-e06a896f5fed.png)

Hier bräu

[2014-12-31 13:38] septentrio opened #694 "What are the tech specs to use Metamodels nightly ?"
Hello,

I'm trying to install manually Metamodels (Metamodels 2.X nightly build) on a contao 3.2.9 installation but i've got several error messages although i instelled it correctly.

Am I using the right version ?

Which version of php , json are required ?

My website is hosted by 1and1

[2015-01-01 09:04] dws0709 commented on #625
Langsame Abfragen:
- Contao 3.3.7
- Nightly vom 26.12.2014

Abfrage:
![image](https://cloud.githubusercontent.com/assets/6051771/5591920/f24cc51e-919c-11e4-87e3-4f0a96f44830.png)
Die mm_standorte hat 109 Datensätze

Verwendete Attribute:
- checkbox
- text
- select (mehrere Felder mit Daten aus unterschiedlichen Tabellen)
    z.B.
![image](https://cloud.githubusercontent.com/assets/6051771/5591883/

[2015-01-01 16:12] cboelter commented on #694
Can you post the error messages?

[2015-01-02 12:19] septentrio commented on #694
This is the message i get when i click on the "define input/output combination for metamodel ID1" :

Fatal error: Call to a member function hasErrors() on a non-object in /homepages/31/d351005431/htdocs/clients/archeopole/system/modules/generalDriver/templates/dcbe_general_field.html5 on line 17

[2015-01-02 12:31] septentrio commented on #694
Sorry that was because i had an outdated version of Metamodels remaining. everything seems to be fine right now

[2015-01-02 15:34] #694 closed

[2015-01-04 17:10] cboelter opened #695 "[TNG] Parented Listenansicht wird falsch dargestellt bei fixem sorting"
Ich habe ein MetaModel angelegt und dem DCA-Setting folgende Sorting-Konfiguration zugewiesen.
![bildschirmfoto 2015-01-04 um 18 06 36](https://cloud.githubusercontent.com/assets/550207/5606730/bde92270-943c-11e4-9a8d-92fa17500894.png)

Die Listenansicht sieht dann wie folgt aus.

![bildschirmfoto 2015-01-04 um 18 09 25](https://cloud.githubusercontent.com/assets/550207/5606731/d89f5896-943c-11e4-

[2015-01-05 13:37] tognit opened #696 "Fehlermeldung beim Installieren von MM"
Ich erhalte nachfolgende Fehlermeldung bei einer MM-Installation über Composer in einer Contao 3.2.16 Version

[code]

[2015-01-05 16:28] discordier commented on #696
this is a dupe of #690 and has been fixed with #691.

[2015-01-05 16:28] #696 closed

[2015-01-05 19:01] discordier commented on #692
Let's continue this in https://github.com/MetaModels/attribute_tags/issues/31

[2015-01-05 19:01] #692 closed

[2015-01-06 06:31] #462 closed

[2015-01-06 10:31] Hauge opened #697 "Fehler bei Installation"
Warning: Class 'Bit3\Contao\MetaPalettes\MetaPalettes' not found in system/modules/metapalettes/config/config.php on line 49

Neue Installation, contao 3.3.7, aktuelle nightly
[code]

[2015-01-06 13:12] design23 commented on #697
Hier ebenfalls.

[2015-01-07 21:08] MiniModel commented on #521
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@Zeromax could you please have a final look at this and tell if your issu

[2015-01-07 21:08] #521 closed

[2015-01-07 21:08] MiniModel commented on #579
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@xantippe could you please have a final look at this and tell if your iss

[2015-01-07 21:08] MiniModel commented on #662
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@tniebergall could you please have a final look at this and tell if your

[2015-01-07 21:08] #662 closed

[2015-01-07 21:08] MiniModel commented on #675
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@cboelter could you please have a final look at this and tell if your iss

[2015-01-07 21:08] MiniModel commented on #665
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@reneaye could you please have a final look at this and tell if your issu

[2015-01-07 21:08] #665 closed

[2015-01-07 21:11] discordier commented on #675
Der Cache wird da in der Tat nicht geleert.

[2015-01-07 21:38] tim-bec commented on #624
@cboelter für die Conditions auf Legenden gibts noch nichts. Und das Sammelticket brauchen wir ;-)

[2015-01-07 21:38] discordier commented on #624
@cboelter Nein, da gibt es noch nichts angefangenes.
Problematisch ist jedoch allgemein, dass dies wohl im DCG noch nicht supported wird. Du musst also alle properties einer Legende "hiden", dann wird die Legende automatisch verschwinden.
Ebenso werden die states der legends noch nicht gespeichert, sie sind also immer aufgeklappt.

[2015-01-07 21:49] tim-bec opened #698 "Rework factories and introduce them into filters"
- [X] https://github.com/MetaModels/attribute_checkbox
- [X] https://github.com/MetaModels/attribute_translatedcheckbox
- [X] https://github.com/MetaModels/filter_checkbox
- [X] https://github.com/MetaModels/filter_select
- [X] https://github.com/MetaModels/filter_fromto
- [X] https://github.com/MetaModels/filter_tags
- [X] https://github.com/MetaModels/filter_text (Thanks to @cboelter)
- [X] http

[2015-01-07 21:50] tim-bec commented on #624
Sammelticket Filter: https://github.com/MetaModels/core/issues/698

[2015-01-08 03:58] discordier opened #699 "Hunt down all occurences of \Database::getInstance()."
All of those should be replaced with the proper database from the service container.

[2015-01-08 05:29] discordier commented on #697
Da scheint die autoloading information irgendwie floeten gegangen zu sein.

Besteht das Problem noch?
Habt ihr sicher alle alten autoload informationen entfernt?

[2015-01-08 06:52] xantippe commented on #579
I´ll do was ich machen kann...

[2015-01-08 09:45] design23 commented on #697
Ich habe nochmal alles MM-relevante gelöscht und neu installiert – gleiches Ergebnis.

Was genau meinst Du mit "autoload informationen entfernt"?

[2015-01-08 11:22] ways2web commented on #684
gibt es schon was neues zu dieser problematik mit der Backend-Menü Sortierung?

[2015-01-08 11:58] discordier commented on #687
Where is this `xx` originating from? Could you elaborate some more?

[2015-01-08 12:12] MrTool commented on #687
The only thing i figured out was that if i create an metamodel render setting and directly fill out the redirect part (link url / filter)(non multilang mm) and save the item, exactly this values got lost and i had to fill it out again.

Also the xx stands in the serialized array in the database after an successful 2nd save.

[2015-01-08 12:15] discordier commented on #684
Bitte mit 1310b43 probieren.

[2015-01-08 12:23] discordier commented on #687
Ok, found the problem.

[2015-01-08 19:09] ways2web commented on #684
funktioniert :+1:

[2015-01-08 19:34] discordier commented on #697
See https://github.com/bit3/contao-meta-palettes/issues/32

[2015-01-08 19:34] #697 closed

[2015-01-08 19:48] discordier commented on #645
The method `getFieldDefinition()`should be phased out.
The retrieval of options at build time is way too expensive as all entries are being retrieved and held in memory.
The methods should be replaced with proper registration of:
* `MetaModels\DcGeneral\Events\MetaModel\PopulateAttributeEvent`
* `ContaoCommunityAlliance\DcGeneral\Contao\View\Contao2BackendView\Event\GetPropertyOptionsEvent`
* `Con

[2015-01-08 19:54] #684 closed

[2015-01-09 12:39] MrTool opened #700 "Fatal error during backend search for attribute"
Contao:    3.2.7
MMCore:  dev-tng (30374f79) via composer

In the backend of MetaModels it is possible to search the items for an defined attribute, currently when i try to do this i got following fatal error:

[code]

[2015-01-09 12:55] Hauge commented on #697
Ähm, ich versteh das nicht sorry,
habe jetzt die neueste nightly auf einem jungräulichen 3.3.7 installiert.
[code]
Gleich beim einloggen erhalte ich den Fehler:
[code]
Die Fehlermeldung auf https://github.com/bit3/contao-meta-palettes/issues/32
lautet:
Class 'ContaoCommunityAlliance\DcGeneral\Contao\Dca\Builder\Legacy\DcaReadingDataDefinitionBuilder' not found

[2015-01-09 13:06] MrTool commented on #700
Here again the var_dump from the operation array:

[code]

[2015-01-09 14:03] discordier commented on #700
Please test.

[2015-01-09 14:07] MrTool commented on #700
purrs like a kitten

[2015-01-09 14:07] #700 closed

[2015-01-09 14:16] discordier commented on #697
Genau, das haengt zusammen.
Das Problem liegt bei MetaPalettes und ist daher hier bei MetaModels falsch.
Deshalb habe ich es hier geschlossen und es geht im MetaPalettes ticket weiter.

[2015-01-09 15:08] Hauge commented on #697
Thanx

[2015-01-10 02:57] discordier commented on #690
Fixed with #691.

[2015-01-10 02:57] #690 closed

[2015-01-10 06:15] discordier commented on #625
@dws0709
11371 Queries??????? WTF!
Kannst du mir da bitte einen Zugang (BE und SFTP) deiner Testinstallation zukommen lassen?
Dann kann ich mal nachsehen was da kaputt rennt.

Vorher aber bitte nochmal mit der aktuellsten Version testen, habe noch einiges am Query optimizer geschraubt.

[2015-01-10 11:43] tognit opened #701 "[TNG] Fehlermeldung "PHP Warning: Invalid argument supplied for foreach()""
Beim anlegen eines Attributes erhalte ich nachfolgende Fehlermeldung
[code]

MM = dev-tng vom 09.01.2014
Contao = 3.2.16

[2015-01-10 11:48] tognit commented on #500
Auch bei mir eine Fehlermeldung:
[code]
MM = dev-tng vom 09.01.2014
Contao = 3.2.16

[2015-01-10 12:58] cboelter commented on #698
I'm working on filter_text.

[2015-01-10 20:19] xantippe commented on #500
dito
MM = dev-tng vom 08.01.2014
Contao = 3.3.7

[2015-01-11 10:00] dws0709 commented on #625
Die Seiten laufen bei uns im Betrieb als Intranet. Vor dem Update auf die aktuelle nightly-tng (11.01) habe ich alle alten Verzeichnisse und den cache gelöscht, bekomme aber nun folgende Meldungen wenn ich die install.php für das DB-Update aufrufe:

<pre>
Warning: Class 'Bit3\Contao\MetaPalettes\MetaPalettes' not found in C:\xampp\htdocs\web_intern\system\modules\metapalettes\config\config.php on

[2015-01-11 13:01] MiniModel commented on #687
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@MrTool could you please have a final look at this and tell if your issue

[2015-01-11 13:01] #687 closed

[2015-01-13 00:48] #701 closed

[2015-01-13 00:51] tim-bec commented on #693
https://github.com/MetaModels/core/issues/184

[2015-01-13 02:21] discordier commented on #625
Da bist du nun in den Bug von MetaPalettes reingerannt.
Das hat @tristanlins aber mit Release 1.9.1 behoben.

[2015-01-13 07:31] exatre opened #703 "[TNG] Filter bearbeiten (Unparsable encoded id value: '')"
Beim bearbeiten der Filtereinstellungen erscheint folgende Fehlermeldung.

[code]

Die Meldung erscheint erst, nachdem beim Filter ein Feld mit Mehrfachauswahl hinzugefügt wurde.

(Mit dc-generatel Beta und Dev probiert)

[2015-01-13 11:40] fritzmg opened #704 "PHP minimum requirement in composer.json"
Line 117 in BackendModuleBuilder.php and line 181 in ViewCombinations.php require the `json_encode` option JSON_PRETTY_PRINT, which is only available in PHP 5.4 and onwards. However, the composer.json still lists php >=5.3 as the minimum requirement.

[2015-01-13 12:19] cboelter commented on #652
@tim-bec wie ist denn hier der aktuelle stand? hänge gerade an dem Problem.

[2015-01-13 12:29] tim-bec commented on #652
@cboelter wenn ich mich recht entsinne lösen wir doch genau das problem mit dem umbau auf factories bei metamodel eigenen attributen. translated_text scheint aber noch nicht umgebaut zu sein? cc @discordier

[2015-01-13 14:07] discordier commented on #652
Du meinst mit dem umbau der Tags und Select auf MetaModels aware.
Habe das Setup bei mir am Laufen, ich hab tags auf translated MetaModels und kann dort den translated title als select/tag value nehmen.
Was genau klappt nicht?

[2015-01-13 14:09] discordier commented on #704
Thanks for notifying us, will be fixed.
The option is only added for cosmetics and we might drop the json encoding altogether as doctrine-cache does encode just fine on it's own.

[2015-01-13 14:22] cboelter commented on #652
Also ich habe jetzt konkret ein MetaModel (translated) Kategorien (Translated Text und Translated Alias) und ein MetaModel (translated) Referenzen. Und innerhalb des MetaModels Referenzen habe ich ein AttributeTranslated-Tags wo ich dann auf das übersetzte MM referenziere. Das erzeugt bei mir folgende Meldung:

```Fatal error: Uncaught exception Exception with message Query error: Unknown column '

[2015-01-13 18:05] dws0709 commented on #625
Hallo,

habe nun die aktuelle nightly-tng installiert. Die Antwortzeiten sind nun wieder
im "normalen" Bereich.

Hier die Daten bei der Abfrage der mm_standorte:

Execution time: 3.483 ms (vorher 108.000 ms)
Memory usage: 15,5 MiB
Database queries: 368
Rows: 3944 returned, 1 affected (vorher 193.000)
Registered models: 49

Vielen Dank für die schnelle Hilfe!!

Gruß Dirk

[2015-01-14 07:37] Hauge commented on #697
https://community.contao.org/de/showthread.php?54932-Aktueller-Nightly-funktioniert-nicht&p=354645#post354645

[2015-01-14 14:16] poutvie opened #705 "Select für Sprache wird nicht angezeigt - Mehrsprachiges MM"
Contao 3.2.14 und 3.2.16
metamodels/core dev-tng (584c886d)
metamodels/bundle_all 1.0.1
contao-community-alliance/dc-general 	dev-develop (c3b7ee2d)

Nach MM Update sehe ich den Selectinput für die Sprache nicht mehr. Kann also beim Anlegen eines neuen Datensatzes die Sprache nicht mehr wechseln.
Cache habe ich diesmal geleert.
(nur zur Info: Nach Update auf Contao 3.4 (Konflikt gekennzeichnet) ge

[2015-01-14 16:32] discordier commented on #705
Eben weil der filepicker nicht geht wurde der conflict gekennzeichnet. :)
Das ist eben das issue im 3.4.0 welcher mit 3.4.1 behoben wird.

[2015-01-14 16:33] discordier commented on #705
Dev TODO: Checken warum der DCG nicht im mehrsprachigen Modus konfiguriert wird.

[2015-01-15 00:39] discordier commented on #330
We have the service container now which renders this issue obsolete.
Closing in favor of #699.

[2015-01-15 00:39] #330 closed

[2015-01-15 00:40] #625 closed

[2015-01-15 01:04] discordier opened #706 "Move contents of database.sql to dca files."
As we are Contao3+ now, we can move the contents of database.sql to the dca files and get rid of the database.sql file.

# List of repositories to apply above tasks to:
- [x] metamodels/core
- [x] metamodels/attribute_alias => https://github.com/MetaModels/attribute_alias/pull/24
- [x] metamodels/attribute_checkbox => https://github.com/MetaModels/attribute_checkbox/pull/20
- [x] metamodels/attrib

[2015-01-15 01:18] discordier commented on #681
Fixed in 5bbe920de1d62fdb9d47431f799718d67864dd38.

@Hauge did the problem reoccur? If so, please open a new ticket as it appears to be unrelated to this issue.

[2015-01-15 01:18] #681 closed

[2015-01-15 01:19] discordier commented on #680
@tim-bec kannst du das bitte nachstellen?

[2015-01-15 01:21] discordier commented on #676
@MetaModels/team @MetaModels/contributors Wie verfahren wir hier?

[2015-01-15 01:23] discordier commented on #664
No feedback, closing therefore.

[2015-01-15 01:23] #664 closed

[2015-01-15 01:55] discordier commented on #652
Da darfst du nun keine translated tags mehr verwenden sondern musst "normale" tags verwenden.
Die translated tags wollen ja pro Sprache eigene Datensaetze referenzieren.
Du willst aber ja nicht in deutsch eine andere Kategorie haben als auf Englisch.

Abgesehen davon ist es dennoch wohl noch ein bug, dass er da den fallback auf ein SQL query macht.

[2015-01-15 07:57] cboelter commented on #652
Ok, mein Fehler :( ... mit dem nontranslated tags funktioniert es einwandfrei. Besten Dank!

[2015-01-15 08:28] cboelter opened #707 "[TNG] Mode4 Ablage buttons werden falsch dargestellt"
Ich seit neuestem das Problem, das mir wenn ich bei den FilterSetting-Attribute etwas über das Plus im Datensatz einfügen möchte, mir die Buttons für Ablage leeren etc. falsch dargestellt werden.

![bildschirmfoto 2015-01-15 um 09 26 25](https://cloud.githubusercontent.com/assets/550207/5754418/c73eaf52-9c98-11e4-8fad-640858ec3014.png)

[2015-01-15 08:46] MacKP commented on #676
Ich glaub da wäre es dann einfacher zu verstehen, wenn als Default das html5 Template (also das vorhandene Custom Template) genommen wird. Ist dann zwar erst mal nicht schön, aber da erkennt man dann wenigstens einen Zusammenhang. Wenn ein komplett anderes Template genommen wird, dann muss man das erst mal wissen (also in den Code gucken) warum da was ganz anderes raus kommt. Und das finde ich dan

[2015-01-15 08:55] discordier commented on #707
aeh, was treibt denn der "Neu" Button da unten?

Evtl. CSS Problem durchs neue clipboard? @tristanlins, hast du eine Idee?

[2015-01-15 11:22] HellPat opened #708 "PageID was not mounted"
Siehe auch: https://community.contao.org/de/showthread.php?54989-Metamodels-was-not-mounted

Ich habe ein Problem mit Benutzerkonten die keine Admins sind.
Bei bearbeiten eines Eintrags in der Metamodels-Tabelle bekomme ich mit dem eingeschränkten Nutzer folgende Meldung:

[code]

Und wieso steht da "Page ID"?

Hat jemand eine Ahnung woran das liegen kann?

(Der Benutzer ist der Gruppe auch zugeor

[2015-01-15 11:25] tim-bec commented on #708
Ist dein MetaModel ein Kind von tl_page ?

[2015-01-15 13:20] MrTool opened #709 "Publish Icon does not work"
After updating the dc-general to achieve a working filter rule (couldn't be created) the publish icon ajax call of an item fails with following error:

[code]

[2015-01-15 13:29] cboelter commented on #676
Da es an der Stelle ja eigentlich um unformatierte Werte für den GroupHeader geht, wäre es nicht sinnvoll man greift dort auf RAW-Werte des Attributes zu, ganz ohne Templates? Dann hätten wir das Problem nicht.

[2015-01-15 13:34] MrTool commented on #676
Die Idee mit den RAW Werten klingt für mich auch sinnvoller da es in diesem context doch auch zu Problemen kommen könnte wenn man dort html5 Templates parsed oder?

[2015-01-15 14:02] MacKP commented on #676
Ja, gefällt mir bisher auch am besten. War erst mal nur ein Schnellschuss von mir, da mir die alternativen bisher noch gar nicht zugesagt haben ;-)

[2015-01-15 14:46] tristanlins commented on #707
Mh, das HTML wäre Interessant, ich vermute eher dass das kaputt ist und weniger an ein CSS Problem (ausschließen kann ich es aber nicht).

[2015-01-15 16:43] dmolineus commented on #704
Run into that issue today as well. For a fallback the constants value is `128`. If you want to set it for PHP < 5.4

[2015-01-15 16:45] cboelter commented on #707
Nicht schön aber selten ... https://gist.github.com/c4631157288417ec0d4e.git

[2015-01-15 16:48] psren commented on #708
Nein, hat aber eine Verknüpfung zu Page mittels einen Select-Felds (Select Attribut).
Also quasi eine normale Seite (weil die Seiten komplizierter sind als ich es mit einer normalen Detailseite hinbekommen hätte)

![bildschirmfoto 2015-01-15 um 17 46 49](https://cloud.githubusercontent.com/assets/1016798/5761867/97930afa-9cde-11e4-9688-bea129efa219.png)

[2015-01-15 17:39] tristanlins commented on #707
Mh, der "Neu" Button hängt wirklich in dem Clipboard Container ... stammt der Auszug das aus dem Source oder den Entwicklertools?

[2015-01-15 20:44] discordier commented on #708
Aaaaaaaaaah

[2015-01-15 20:52] discordier commented on #676
Raw geht nicht, da bei select und Tags usw da ein Array drin steht Deshalb gibt es Text als Format,  welches diese als plaintext rendert

[2015-01-15 20:59] cboelter commented on #676
@discordier könnte man das nicht abfangen und per implode() einen String draus machen?

[2015-01-15 21:16] discordier commented on #676
Klar, aber ich bezweifle dass saß was bringen wird die Datenzeile imploded zu haben.

[2015-01-16 07:41] cboelter commented on #676
Naja ich wollte ja nicht die ganze Zeile sondern nur das Array mit den Werten des Attributes zusammenfügen, was anderes machen die Templates für die Tags ja auch nicht.

[2015-01-16 12:11] #530 closed

[2015-01-16 13:59] discordier commented on #709
Fix has been merged.

[2015-01-16 13:59] #709 closed

[2015-01-16 14:11] psren commented on #708
Aaaaaaaaaah?
Bin ich zu doof?
Fieser Bug?
Kann ich irgendwie weiter helfen?

[2015-01-16 20:04] cboelter commented on #707
Das war aus Firebug. Soll ich nochmal den Firefox Source kopieren?

[2015-01-16 20:16] discordier commented on #707
Waere super.

[2015-01-17 13:28] cboelter commented on #707
Habe euch einmal den kompletten output eingefügt: https://gist.github.com/cboelter/20c6cbe282b83e82eea6#file-dcg_clipboard_source-html

[2015-01-17 20:01] AgentCT opened #710 "Bei jedem Filter lässt sich nur eine Filterregel anlegen"
Jeder Filter lässt sich nur noch mit einer Filterregel anlegen, bei jeder weiteren erscheint sofort eine Fehlermeldung.

<code> Fatal error: Class 'ContaoCommunityAlliance\DcGeneral\Clipboard\Filter' not found in /www/htdocs/wxxxxxx/xxxxxxxxx.de/composer/vendor/metamodels/core/src/MetaModels/DcGeneral/Events/Table/FilterSetting/Subscriber.php on line 158</code>

Metamodel-Version: dev-tng (69a6d3d

[2015-01-17 21:05] cboelter commented on #710
Welche version vom DcGeneral hast du installiert?

[2015-01-18 11:36] AgentCT commented on #710
Das Update von DC 1.6.1. auf DC 1.7.0 hat die Lage noch verschlimmert, jetzt erhalte ich noch mehr Fehlermeldungen.

[2015-01-18 11:38] cboelter commented on #710
äääh DcGeneral 1.X? Der TNG nutzt DcGeneral 2.X bzw. den dev-develop.

[2015-01-18 11:39] AgentCT commented on #710
Ich meinte dc-general 2.0.0-beta21

[2015-01-18 11:42] cboelter commented on #710
Ok, wechsel doch mal auf den dev-develop, der funktioniert bei mir ohne Probleme.

[2015-01-18 11:51] AgentCT commented on #710
Der Wechsel hilft leider auch nicht, ich habe weiter die gleichen Probleme. Außerdem bekomme ich noch folgende Meldung:
<code>
Warning: array_merge(): Argument #2 is not an array in composer/vendor/contao-community-alliance/dependency-container/src/DependencyInjection/Container/ContainerInitializer.php on line 289
#0 [internal function]: __error(2, 'array_merge(): ...', '/www/htdocs/w01...', 289,

[2015-01-18 11:56] cboelter commented on #710
Das ganze ist über composer installiert? Ist das ein upgrade vin dev-contao3 auf dev-tng?

[2015-01-18 11:57] AgentCT commented on #710
Die Installation läuft von Anfang auf Contao 3 mit Composer. Vielleicht wird das Problem ja durch ein Upsate eines anderen Fehlers beseitigt. Ich warte einfach mal ein paar Tage.

[2015-01-18 12:07] cboelter commented on #710
ja aber hast irgendwann zwischendurch mal vom dev-contao3 branch auf dev-tng / 2.0 aktualisiert?

[2015-01-18 17:52] tim-bec commented on #710
Selbiges Problem hier, ein Filter Attribut lässt sich anlegen, ein weiteres nicht mehr und bestehende lassen sich auch nicht bearbeiten, sobald man einmal versucht hat ein weiteres zu erstellen.

[code]

[2015-01-18 17:55] tim-bec commented on #710
Keine Probleme jedoch mit DC-General "dev-develop"

[2015-01-19 09:12] psren commented on #708
@tim-bec wenn du das mit Kind meintest dann ist es eines. Aber halt nicht über pid.

[2015-01-19 09:13] tim-bec commented on #708
Hat der eingeschränkte Nutzer den Zugriff auf tl_page ? Wenn nicht... setz dort an, denn wenn Du ein MetaModels irgendwo anders dranhängst müssen auch dort rechte vorhanden sein.

[2015-01-19 10:52] psren commented on #708
Mhhh, also der Benutzer hat folgende Berechtigungen auf tl_page.

In den Pagemounts ist der Root ausgewählt, daran kann es also nicht liegen.
Und dann ist noch das hier ausgewählt.

![bildschirmfoto 2015-01-19 um 11 26 36](https://cloud.githubusercontent.com/assets/1016798/5799063/443b68f0-9fce-11e4-8e58-da44d6c577fe.png)
![bildschirmfoto 2015-01-19 um 11 26 58](https://cloud.githubusercontent.com

[2015-01-19 13:05] JT-007 opened #711 "Status Inaktive bei Sichtbarkeitseinstellung der Backend Eingabefeldern greift nicht bei Checkboxen"
Hallo zusammen,

wenn man bei den Sichtbarkeitseinstellungen eines Backend Eingeabefeldes als Attribut eine Checkbox angibt und beim Wert "Aktive" verwendet greift die Sichbarkeitseinstellung. Stellt man den Wert auf "Inaktive" funktioniert die Abfrage jedoch nicht.

Ich habe es nun vorübergehend mit NOT gelöst aber der Wert "Inaktive" sollte auch funktionieren.

MM Core: dev-tng (69a6d3d3)
Contao

[2015-01-19 13:48] JT-007 opened #712 "submitOnChange bei Checkbox verursacht Fehler bei Datei mit Mehrfachauswahl"
Hallo Zusammen,

ich habe bei einer MM Backend Eingabemaske verschiedenste Felder und unter anderem eine Checkbox (mit der Option submitOnChange) und ein Dateifeld (mit den Optionen Pflichtfeld, Passen Sie den Dateibaum an, Gültige Dateitypen, Nur Dateien erlauben und Mehrfachauswahl),

Wenn ich nun Bilder beim Dateifeld auswähle werden diese problemlos gespeichert. Wenn man den MM Eintrag bearbei

[2015-01-19 14:10] discordier commented on #708
Bug im Contao Core.
Habe mit @leofeyer daryber gesprochen. Ich werde versuchen einen Patch zu basteln, jedoch ist noch unklar wo der dann yberall rein kommt.

Als Workaround kann man leider momentan nur einen user als admin setzen, da den DCA Dateien des Core egal ist welchen page mount man hat, da die id des aktuellen Datensatzes (in diesem Falle: `mm_references::5`) in den dca Dateien des Core a

[2015-01-19 14:13] discordier commented on #711
Das ist mir auch schon aufgefallen. Das Problem liegt daran, dass hier der Vergleich auf `string (0) "" == string(1) "0"` v orgenommen wird. Da muss man im building der condition checken ob das value numeric ist.

[2015-01-19 18:52] tim-bec commented on #708
Fuuuh. Da renn ich nun auch rein :(

[2015-01-20 13:24] dmolineus opened #714 "Fehler beim Bearbeiten der Rendereinstellung eines Attributs"
Möchte ich die Rendereinstellung eines Attributs bearbeiten, erhalte ich folgenden Fehler:

[code]

Installiert ist `metamodels/core a9276d2f` und tritt sowohl mit dem der dc-general in von `dev-develop` sowie `beta21` auf.

[2015-01-20 13:36] dmolineus commented on #714
Guess it's caused by https://github.com/MetaModels/core/commit/b717e66ab8c895682fe947b84b4336f1e9dcd3df. Forcing an commit before these changes, everything works fine.

[2015-01-20 15:47] Olli opened #715 "[TNG] HybridFilterBlock.php wirft Fehler"
nämlich folgenden
 PHP Fatal error:  Call to a member function getServiceContainer() on a non-object in /www/*/composer/vendor/metamodels/core/src/MetaModels/FrontendIntegration/HybridFilterBlock.php on line 102
Welche Infos werden noch gebraucht?
Version dev-tng (c134bccc)

[2015-01-20 16:32] discordier commented on #714
Argh. bracket missing I guess... :(

[2015-01-20 17:27] Olli commented on #715
Geht wieder. Thx.

[2015-01-20 17:27] #715 closed

[2015-01-20 17:28] dmolineus commented on #714
Das hilft leider nicht weiter. Hab auf die aktuelle Version installiert.

Die PaletteCollection beinhaltet bei mir weiterhin drei Paletten "default", "tabletext" und "file" (Tabletext und File sind als Attributstypen in den Rendersettings vorhanden).

[2015-01-20 18:14] dmolineus commented on #714
Ich habe nochmal einen näheren Blick drauf geworfen, wenn ich mir die Condition anschaue, die für das TableText Attribut gebaut wird, ist meines Erachtens die `OR_CONJUNCTION` fehl am Platz, es sollte von der Logik her ein `AND` sein.

Hier die Condition als Export:

[code]

Zuständig dafür ist
https://github.com/MetaModels/core/blob/tng/src/MetaModels/DcGeneral/Events/Table/RenderSetting/Subscrib

[2015-01-20 19:48] discordier commented on #710
Neues tag im dcg folgt diese Woche.

[2015-01-20 20:00] discordier commented on #714
Bitte nochmal testen.

[2015-01-21 10:26] psren commented on #708
Hast du dazu auch ein Ticket aufgemacht im Contao Core und hast eine Referenz dazu, dass wir das beobachten können?

[2015-01-21 10:35] MrTool commented on #714
Bei mir hats funktioniert

[2015-01-21 12:32] poutvie commented on #705
Mit dev-tng (9f78f80f) funktioniert die Sprachauswahl unter Contao 3.2.16 wieder. Danke!

[2015-01-21 13:55] dmolineus commented on #714
Diesmal passt's.

[2015-01-22 02:12] #714 closed

[2015-01-22 02:30] #705 closed

[2015-01-22 15:00] cboelter commented on #184
@discordier kannst du mir hier vllt. einen Schubser in die richtung geben, wo man das einbauen müsste?
Wir brauchen dieses Feature relativ dringend für ein Projekt.

[2015-01-22 15:09] discordier commented on #184
Implement an listener for `ContaoCommunityAlliance\DcGeneral\Contao\View\Contao2BackendView\Event\GetParentHeaderEvent`.
https://github.com/contao-community-alliance/dc-general/blob/develop/src/ContaoCommunityAlliance/DcGeneral/Contao/View/Contao2BackendView/Event/GetParentHeaderEvent.php#L43

[2015-01-22 15:46] cboelter commented on #184
thanks, I will have a look on it.

[2015-01-24 09:38] markknochen1 opened #718 "Bug Paste-Button bei Einträgen in einem MeteModel"
ich kann nach dem letzten Nighly keine Einträge für ein MM mehr erstellen.
Erst bekam ich die schon erstellten Einträge zu sehen und wollte ein vorhandenes kopieren (was auch schon funktionierte). Danach bekam ich eine Seite mit der Fehlermeldung:

Fatal error: Uncaught exception RuntimeException with message Paste multiple is not supported at the moment, sorry. thrown in system/modules/metamodels

[2015-01-24 10:43] cboelter opened #719 "[TNG] Moving item to first Position does not work"
I think there is a bug in the new sorting. If move an Item to the first position it does not work. The second position works fine, but not the first.

[2015-01-24 10:46] cboelter opened #720 "[TNG] Using the blue arrows for sorting throws an error"
If I want to use the blue arrows I get the message, that paste multiple is currently not supported. But if I want to go back, I get the message again because this is stored in the session. I think the best way is to remove the arrows  for the moment.

[2015-01-24 13:58] markknochen1 opened #721 "Deprecated notice: bei den Filtereinstellungen"
Deprecated notice: The Symfony\Component\EventDispatcher\Event::getDispatcher method is deprecated since version 2.4 and will be removed in 3.0. The event dispatcher instance can be received in the listener call instead. in system/modules/symfony-event-dispatcher/classes/Symfony/Component/EventDispatcher/Event.php on line 100

Funktion ist davon nicht eingeschränkt - sieht nur so eher mittel aus.

[2015-01-24 14:03] tim-bec commented on #721
Das erscheint aber nur, wenn Du Fehlermeldungen aktiviert hast.
Wir werden die Abhängigkeit aber ändern.

[2015-01-24 14:04] tim-bec commented on #719
Same here. Thought that these error got fixed long time ago... @discordier  ?

[2015-01-24 18:51] discordier commented on #719
It was fixed... may be we reintroduced it by merging the new clipboard handling by @TristanLins?

[2015-01-25 07:37] wangaz opened #722 "[TNG] Fatal error when editing MetaModel"
After updating to Contao 3.4.1 and the current TNG via Composer, I receive the following error message when editing a MetaModel:
[code]
Any idea?

[2015-01-26 12:16] xantippe commented on #624
Hallo Tim,

wie ist der aktuelle Stand von MM 2.0....??

Gruss

[2015-01-26 13:35] psren commented on #624
Gute Frage. Kann man das mit irgendeiner Contao-Version im Moment halbwegs vernünftig nutzen und eventuell aufgeschobene Projekte schon starten?

[2015-01-26 13:40] tim-bec commented on #624
@xantippe @psren - wir nutzen den aktuellen TNG sehr stabil mit Contao 3.2 + 3.3 -

dank @cboelter und @discordier haben wir einige neue nette Features drin und einen ziemlich stabilen core. Ich geb aber zeitnah noch mal eine Zusammenfassung zu den Punkten der Roadmap.

[2015-01-26 13:41] cboelter commented on #624
Ich nutze es mittlerweile relativ problemlos mit der 3.2LTS wobei ich in der letzten Zeit einiges an Fehlern und Fehlerchen beseitigt habe. Das Problem ist nach wie vor halt die Manpower, gerade aktuell sind da viele umständliche Dinge wie zum Beispiel die Factories etc. die einfach Zeit brauchen bis diese komplett nachgezogen sind.

[2015-01-26 13:47] cboelter commented on #624
Ich glaube generell wäre es ein gutes vorgehen, wenn Ihr anfangt Projekte umzusetzen als zu warten das es die stabile 2.0 gibt.
Je mehr es testen um so mehr Fehler werden vor dem Release gefunden und beseitigt.

[2015-01-26 14:02] discordier commented on #722
Please update dc-general also to tng. Should be fixed in there.

[2015-01-26 14:32] wangaz commented on #722
Hm, I just can find the [_develop_](https://github.com/contao-community-alliance/dc-general/tree/develop) branch and have installed the latest commit (24db36b4). Where's my mistake?

[2015-01-26 14:42] xantippe commented on #624
Ich habe ein (neues) Testprojekt mit dem TNG vom 08.01.2015 - die "Grundfunktionen" wie MM und Attribute anlegen geht.
Jedoch Sachen wie Sortierung funktionieren nicht - ist in obiger Liste auch nicht abgehakt. Damit brauch ich das sicher nicht noch-noch-nochmal melden...

[2015-01-26 14:45] Messa1 commented on #624
Für mich auch die Sortierung wichtig. :+1:  Aber ich kann warten zur Not bastle ich selber etwas zusammen :) Ich glaube, dass eh viele Leute testen.

[2015-01-26 15:37] cboelter commented on #624
Was genau funktioniert denn bei der Sortierung nicht? Bei mir tut sie das ohne probleme ...

[2015-01-26 15:46] xantippe commented on #624
es geht um das BE
also bei mit (TNG 08.01. + C 3.3.7) erscheint in der Listenansicht bei "Sortierung" die Auswahl "Sorting" und "Information 2" - nach was und wie sortiert wird, eschließt sich mir nicht....

[2015-01-26 16:05] discordier commented on #624
Dann schau mal in deine Sortierungs und Gruppierungsdefinitionen.
Das ist das neue icon in den Eingabemasken (das vorletzte).

[2015-01-26 16:17] xantippe commented on #624
hmmm??
bin in "MetaModels > Alle Eingabemasken für "Speisen"

![01](https://cloud.githubusercontent.com/assets/1045318/5902969/2470db0c-a57f-11e4-8f6a-148293a47e53.jpg)

und dann in den Eigenschaften von "Name"

![02](https://cloud.githubusercontent.com/assets/1045318/5902976/32be059a-a57f-11e4-887d-f80ff1b36197.jpg)

Welches Icon?

[2015-01-26 16:40] discordier commented on #624
Das hier:
![image](https://cloud.githubusercontent.com/assets/940331/5903529/77aa1524-a582-11e4-8cb9-5044dc57345d.png)

[2015-01-26 17:48] tim-bec commented on #624
@Messa1  - nein es testen definitiv nicht genug leute, bzw. wir können ja nur "unsere" use cases testen. Wir sind wirklich auf mehr tester und Fehlerreports & Nachfragen angewiesen!

Und wir freuen uns sehr über eure Mithilfe hier: http://metamodels.readthedocs.org/en/latest/manual/first-metamodel.html#input-screens

[2015-01-26 18:31] xantippe commented on #624
Thema Manual - gibts das auch in "german"?

[2015-01-26 18:34] xantippe commented on #624
Zum Sortieren: nach Update auf TNG von "heute" (26.01.2015) funktioniert die Sortierung - zumindest ist nun das Icon da :-)

[2015-01-27 05:43] tim-bec commented on #624
@xantippe - aktuell wie du siehst noch nicht. Übersetzungen sind gerne gesehen ;-)

[2015-01-27 07:30] xantippe commented on #624
habe mich bei Transifex für MM "gemeldet"...

[2015-01-27 08:22] discordier commented on #624
Die docs sind noch nicht bei transifex. Werde ich aber baldmoeglichst aktivieren.

[2015-01-27 08:41] xantippe commented on #624
dann kann ich ja ggf. was anderes übersetzen... ;-)

[2015-01-27 08:43] cboelter commented on #624
@discordier @tim-bec evtl. wäre es ganz sinnvoll zu den docs ein Post in der Community zu machen. Mit dem Hinweis das Unterstützer gesucht werden.

[2015-01-27 08:45] cboelter commented on #144
@discordier it looks like that is fixed?!

[2015-01-27 09:21] discordier commented on #144
Is it? Have you tested?

[2015-01-27 09:24] cboelter commented on #144
This part looks as the same as my fix
https://github.com/MetaModels/core/blob/c134bccc8e936ac8379fd19ca981e2fa856414e8/src/MetaModels/FrontendIntegration/FrontendFilter.php#L305-L318

I tested it with my testing movie database for tng. There it works if I go from the homepage to the and-filter-me page.

[2015-01-27 09:44] xantippe opened #723 "[TNG] fehlende Bezeichnungen und Übersetzung bei Sortierung+Gruppierung"
in /language/nn/tl_metamodel_dca_sortgroup.php fehlen zwei Arrayeinträge mit den Bezeichnungen

m.E.
* $GLOBALS['TL_LANG']['tl_metamodel_dca_sortgroup']['rendersortattr']
* $GLOBALS['TL_LANG']['tl_metamodel_dca_sortgroup']['rendersort']

... irgendwie finde ich die ganze Datei bzw. die Übersetzung bei Transifex nicht?

[2015-01-27 10:35] discordier commented on #723
Ja, die Ybersetzungen auf transifex sind auf dem master stand, nicht auf tng.

[2015-01-27 10:39] discordier commented on #144
No, it does not look exactly the same as your fix used the global `$objPage` where the current code is still using the pqassed jumpTo page information.

[2015-01-27 10:44] xantippe commented on #723
o.k....

[2015-01-27 15:20] Munsio opened #724 "[FR] - Meta Title/Description"
Wenn man im Modul/CE die Felder Meta Title/Description auswählt werden diese nur gesetzt wenn die ausgewählten Attribute in der Rendersetting eingebunden und aktiviert wurden.

Wie im IRC mit @discordier und @MacKP besprochen wäre folgende Möglichkeit am schönsten:
- Die Felder die man im Modul/CE als Title/Description festlegt müssen weiterhin in der Rendersetting angelegt werden.
- Es gibt beim

[2015-01-27 16:22] psren commented on #624
@cboelter Danke für die Infos :+1: . Dann teste ich auch mal :-)

[2015-01-28 08:17] tim-bec commented on #724
Wieso zeigen wir in der Auswahl für Meta Title/Desc nicht einfach nur die Attribute an, die in dem Rendersetting eingebunden und aktiv sind?
Ich möchte eigentlich noch ein Auge / Option für das verfügbar machen vermeiden. cc @cogizz

[2015-01-28 08:20] MacKP commented on #724
Geht ja nicht nur um die Meta-Angaben. Ist ja oft so, das man bestimmte Werte an anderer Stelle braucht und diese nicht anzeigen möchte. Aktuell muss man dafür dann immer im Template dafür sorgen, das es nicht ausgegeben wird. Damit das ganze nicht noch ein extra Symbol hat wäre da ein dritter Zuständ für das Auge schon praktisch finde ich. Das wird sonst viel zu voll... und in der Übersicht direk

[2015-01-28 08:23] tim-bec commented on #724
Aber Du hast doch nach wie vor alles (und jetzt auch noch referenzierte Werte) in den RAW Ausgaben. Wo kommt das denn so häufig bei dir vor? Ich bin kein Fan davon "Spezialfälle" in der GUI zu lösen.

[2015-01-28 08:36] MacKP commented on #724
Hm? Wenn man in den Rendersttings ein Attribut nicht ausgeben lässt, dann hat man das aktuell doch gar nicht zur Verfügung? Oder bekommt man die Werte trotzdem in der RAW Ausgabe? Ich nutz sowas schon öfter. Ist jetzt nicht unbedingt ein Spezialfall bei mir. Sonst würde ich nicht positiv dafür stimmen ;-)

[2015-01-28 09:57] cboelter commented on #724
Aber wenn man die Werte an einer anderen Stelle nutzen möchte, muss man doch sowieso ein eigenes Template bauen. Das lässt sich doch mit dem prerendered eh nicht machen?!

Bezüglich der Meta Title/Description wäre es da nicht sinnvoller man baut die Generierung der MetaTags so um, das diese ohne Rendersetting arbeiten und direkt die RAW-Values nutzt?
Das würde uns einen weiteren Status beim Toggle

[2015-01-28 10:03] MacKP commented on #724
@cboelter das stimmt schon, das man dann eh an einem Template rum schraubt. Aber dann würde man sich das andere Template sparen, was dann dafür da ist, das es eben nicht ausgegeben wird. Sind also theoretisch 50% Templates weniger ;-)
Vor allem finde ich ein Template für das nicht Anzeigen von etwas immer etwas strange...

[2015-01-28 10:09] cboelter commented on #724
ok, das hängt natürlich stark von der arbeitsweise ab ... ich weiche da glaube ich recht stark vom normalen weg ab. Ich lasse mir im Haupttemplate immer alle Attribute in ein array rendern und positioniere die Attribute dann selbst im Template. Ohne schleife oder so.

[2015-01-28 10:14] MacKP commented on #724
@cboelter ja, das kann man auch machen. MM ist allerdings mit den einzel Templates so angelegt, das man das gar nicht mehr so machen muss (meist wird sogar empfohlen, das eben nicht so zu machen um den Aufwand bei Änderungen möglichst gering zu halten).

[2015-01-28 10:19] cboelter commented on #724
ja die einzeltemplates nutze ich auch, bei mir sieht das render template wie folgt aus:

[code]

[2015-01-28 17:44] MrTool opened #725 "editing/adding attribute in backend editing causes fatal error"
Contao: 3.3.7
MM: dev-tng (fe79d3ee)
DCG: dev-develop (ea6fdc62)

Stack Trace:
[code]

This occures if i add or edit an attribute in the backend input mask

[2015-01-29 09:57] cboelter commented on #719
Works now fine for me :)

[2015-01-29 10:42] psren opened #726 "Integration: Kindtabelle"
Ich habe ein Problem mit Kindtabellen / Eingabemasken im Backend.
Und zwar habe ich 2 Eingabemasken als Kinder von "Kunden" integriert.

Neuerdings ist die PID aber bei den Datensätzen immer ```0```.
Muss ich da inzwischen irgendwas anders einstellen oder ist das ein bug?

![bildschirmfoto 2015-01-29 um 11 40 36](https://cloud.githubusercontent.com/assets/1016798/5956229/e25e4aae-a7ab-11e4-9fe6-02

[2015-01-29 12:50] psren commented on #703
Ich bekomme die selbe Meldung wenn ich einen neuen Datensatz anlege.

[code]

[2015-01-29 13:17] psren opened #727 "Panelpicker defekt"
Beim öffnen des Panelpickers erscheint folgende Fehlermeldung

[code]

[2015-01-29 13:46] psren opened #728 "Problem beim Speichern eines neuen Attributs"
[code]

[2015-01-29 14:15] psren opened #729 "Legend hide does not work"
In my Backend form i defined legends which should be hidden by default.
However they aren't.

![bildschirmfoto 2015-01-29 um 15 12 51](https://cloud.githubusercontent.com/assets/1016798/5958877/881ede32-a7c9-11e4-8892-882d9193ad7c.png)

![bildschirmfoto 2015-01-29 um 15 12 59](https://cloud.githubusercontent.com/assets/1016798/5958881/9d6df4c6-a7c9-11e4-905c-6065b5ff30cd.png)

[2015-01-29 14:39] psren opened #730 "Sprache wird bei Weiterleitungsseite nicht angezeigt."
Bei der Einstellung für die Weiterleitung im Rendersetting ist es somit ein ziemlicher Blindflug

![bildschirmfoto 2015-01-29 um 15 35 17](https://cloud.githubusercontent.com/assets/1016798/5959249/f8471b36-a7cc-11e4-8783-d4e656ee3c30.png)
![bildschirmfoto 2015-01-29 um 15 38 36](https://cloud.githubusercontent.com/assets/1016798/5959250/f84a8488-a7cc-11e4-9805-c6550c615f4f.png)

[2015-01-29 15:24] psren opened #731 "Eintrag kopieren funktioniert nicht"
Wenn ich einen Eintrag (Mehrsprachig) kopieren will bekomme ich folgenden Fehler

[code]

[2015-01-29 17:40] ae69 opened #732 "Neu angelegte MetaModels können nicht mehr editiert werden"
Fehlermeldung:
   <b>Fatal error</b>:  Call to undefined method ContaoCommunityAlliance\DcGeneral\Data\DefaultModel::isCurrent() in <b>C:\xampp\htdocs\system\modules\dc-general\templates\dcbe_general_edit.html5</b> on line <b>13</b><br />

Vor einiger Zeit angelegte Metamodels können jedoch editiert werden

![unbenannt](https://cloud.githubusercontent.com/assets/8656733/5962662/acdd1376-a7e5-11e4-

[2015-01-29 18:01] MiniModel commented on #704
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@fritzmg could you please have a final look at this and tell if your issu

[2015-01-29 18:01] #704 closed

[2015-01-29 18:11] ae69 commented on #725
Bei mir das gleiche bei Text-Attributen und Select sogar beim blauen Info oder Detailbutton.

Aber z.B. bei Attribut Alias oder Langtext  oder Checkbox ist alles ok

[2015-01-29 18:38] fritzmg commented on #704
Uh, I only reported it because someone else on the german contao forum ran into this problem. I don't have any MM installations running on a PHP 5.3 server. Discordier's fix only regards the ViewCombinations.php . What's the BackendModuleBuilder.php part of? I can't find it in any repository.

[2015-01-29 19:29] tim-bec commented on #726
Wie sind denn deine Einstellungen? Bei mir klappt es so astrein:
![image](https://cloud.githubusercontent.com/assets/1793396/5964558/7373dd94-a7f5-11e4-9d5f-13bbf6c848d2.png)

[2015-01-29 19:29] tim-bec commented on #732
Kannst Du den kompletten Stack-Trace / Fehlermeldung ergänzen?

[2015-01-29 19:32] tim-bec commented on #730
@discordier kann es sein das die ganzen probleme mit dem alten dcg tag / alter dcg in den nighlies zusammenhängt? auf meinen installationen kann ich das bisher nämlich nicht nachvollziehen...

[2015-01-29 19:34] tim-bec commented on #727
Kann ich in Milch verifizieren.

[2015-01-29 20:03] tim-bec commented on #719
works for me 2

[2015-01-29 20:03] #719 closed

[2015-01-29 21:13] cboelter commented on #729
Same here

[2015-01-29 21:29] ae69 commented on #732
Sorry, aber da kommen sonst keine Fehlermeldungen, auch nicht im error-logfile

[2015-01-30 02:37] discordier commented on #704
You are right, has been fixed as well now.

[2015-01-30 02:40] discordier commented on #730
Oeh, also das ist mir noch nichtmal im alten unter gekommen... O.o

Was steht denn im HTML Quelltext des obigen MCW?

[2015-01-30 02:43] discordier commented on #732
Sollte im tng vom dcg eigentlich tun.

[2015-01-30 03:09] discordier commented on #729
https://github.com/contao-community-alliance/dc-general/issues/69
#550

[2015-01-30 03:15] discordier commented on #731
dcg version?

[2015-01-30 03:24] discordier commented on #703
Besteht das Problem noch im aktuellen tng (mm + dcg) @tim-bec?

[2015-01-30 07:50] cboelter commented on #606
@discordier willst du das attribute_url gleich mit machen? Ich schaffe das wohl nicht vor sonntag :(

[2015-01-30 09:01] discordier commented on #606
Ich hangel mich grad durch alle durch.
Und Marathon kann man gut sagen, hab bald alle factories und build system changes durch.

[2015-01-30 09:05] psren commented on #703
Habe erst gestern installiert, also sollte das im aktuellen tng noch so sein.

Hier meine composer.lock.
https://gist.github.com/psren/7e1c35e9e0df77acd740

[2015-01-30 09:06] psren commented on #731
~2.0

Hier meine composer.lock.
https://gist.github.com/psren/7e1c35e9e0df77acd740

[2015-01-30 09:11] psren commented on #726
Rendermode Parented gab es früher nicht glaube ich :-)
Hatte ich beim Update übersehen.

[2015-01-30 09:11] #726 closed

[2015-01-30 09:17] psren commented on #730
Zur Info hier meine Versionen:
https://gist.github.com/psren/7e1c35e9e0df77acd740

Dieses HTML kommt für die Sprachenspalte ganz links im Orignalquelltext an:
[code]

[2015-01-30 09:22] discordier commented on #730
Ich meine die Zeilen darunter, welche mit JS erzeugt werden.
Musst du mit den developer-tools inspecten.

[2015-01-30 09:50] psren commented on #727
Works for me now

[2015-01-30 09:50] #727 closed

[2015-01-30 09:58] psren commented on #730
Habe gerade ein wegen eines anderen Tickets dcg manuell auf dev gesetzt (davor wurde mir als abhängigkeit beta21 installiert).

Jetzt klappt es.

[2015-01-30 09:58] #730 closed

[2015-01-30 11:59] psren opened #733 "ItemList getServiceContainer returns NULL"
Unter gewissen Umständen gibt ```$this->getServiceContainer()``` ```NULL``` zurück (ItemList).

[code]

My Code is (and it worked before i updated composer dependencies)
[code]

Es scheint als sei der ServiceContainer nicht richtig gesetzt (hat sich vermutlich was in der API geändert, oder?) Deshalb probiere ich:
[code]

Jetzt bekomme ich einen 500-er Fehler. (Habe den beim Support angefragt, weil

[2015-01-30 12:03] tim-bec commented on #703
Im aktuellen tng + dev-develop dcg besteht das problem nicht.

[2015-01-30 12:03] #703 closed

[2015-01-30 12:09] cboelter commented on #733
Du musst den ServiceContainer bei jedem aufruf der List setzen und gleich als erste Function.
So sieht der Listenaufruf bei mir zum Beispiel aus:
[code]

[2015-01-30 12:19] psren commented on #733
Dankeschön.

[2015-01-30 12:19] #733 closed

[2015-01-30 12:37] psren commented on #703
Okay das Problem ist dass die TNG Branches den dcg in der Beta-Version auflösen.
Auf dev umgestellt und es klappt.

[2015-01-30 12:38] tim-bec commented on #703
Ja... @discordier wann ist denn mit einem neuen dcg tag zu rechnen?

[2015-01-30 16:08] design23 commented on #732
Gleiches Problem hier.
Contao 3.2.17
Nightly vom 30-01-15 14:02

Fatal error:  Call to undefined method ContaoCommunityAlliance\DcGeneral\Data\DefaultModel::isCurrent() in /Applications/MAMP/htdocs/abc/system/modules/dc-general/templates/dcbe_general_edit.html5 on line 13

[2015-01-30 16:11] design23 opened #734 "Attribute Text-Tabelle verschwunden"
Das Attribut Text-Tabelle taucht im Dropdown gar nicht mehr auf. Installiert ist die Erweiterung aber.

Contao 3.2.17
Nightly vom 30-01-15 14:02

[2015-01-30 16:19] tim-bec commented on #732
@design23 kannst Du mit Composer anstatt den nightlys arbeiten?

[2015-01-30 16:21] design23 commented on #732
@tim-bec Nachdem ich bisher 4x absolut erfolglos versucht habe, mit Composer zu arbeiten, hält sich meine Begeisterung dafür ziemlich in Grenzen. Holt der sich denn andere Files bei der Installation?

[2015-01-30 16:28] tim-bec commented on #732
Ja, das tut er, wenn man ihm das sagt. Der neue DCG ist aktuell nicht in den nightlies drin.
Wer mit MetaModels arbeitet, sollte auch auf Composer setzen. Ich kann die Probleme hier auch verstehen - wir betreiben über 20 Installationen damit weitestgehend problemlos.

Zu den Paketen: Ich weiß, das da auch viel Chaos bei uns drin ist, aber das lässt sich aktuell leider nicht vermeiden...

[2015-01-30 16:29] design23 commented on #732
Ah, okay. Gibt es denn irgendwo eine idiotensichere Anleitung für den Composer?

[2015-01-30 17:11] tim-bec commented on #732
Schau mit dem https://github.com/contao/check ob dein System Composer-Ready ist und installiere anschließend Composer über die Erweiterungsverwaltung ( composer client) der Migrationsassistent führt dich durch die Installation. Danach sollte alles erledigt sein.

[2015-01-30 18:01] MiniModel commented on #669
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@tniebergall could you please have a final look at this and tell if your

[2015-01-30 18:01] #669 closed

[2015-01-31 09:31] wangaz commented on #732
siehe auch #722

[2015-01-31 09:33] wangaz commented on #725
same here

[2015-01-31 10:51] design23 commented on #732
Okay, ich versuche das jetzt mal. Composer läuft schonmal. Aber wie läuft nun eine korrekte Installation von MM? Welche Pakete in welcher Reihenfolge?

[2015-01-31 12:08] design23 commented on #732
Absolut nicht machbar... Was soll mir denn diese Meldung überhaupt sagen? Habe dazu nichts gefunden:

Package contao/php-diff is abandoned, you should avoid using it. Use phpspec/php-diff instead.

[2015-01-31 12:25] tim-bec commented on #732
Metamodels/core + metamodels/bundle_all

Ignorier die abonded Meldung einfach vorerst.
Am 31.01.2015 13:08 schrieb "design23" <notifications@github.com>:

[2015-01-31 12:31] design23 commented on #732
Hab ich gemacht, aber weder im BE noch im Ordner system/modules taucht MM auf...

Loading composer repositories with package information
Updating dependencies
  - Installing metamodels/attribute_url (dev-tng ffd05a9)
    Cloning ffd05a9698f75dc7ccc4a88d040e0de99d7eaf09

  - created 1 links
  - Installing metamodels/attribute_numeric (dev-tng bec96de)
    Cloning bec96deb5ecea547f85bdde8501c0fd6b43

[2015-01-31 12:34] design23 commented on #732
![bildschirmfoto 2015-01-31 um 13 33 29](https://cloud.githubusercontent.com/assets/6112308/5988038/cca27552-a94d-11e4-94e7-f2d1bd1485fa.png)
![bildschirmfoto 2015-01-31 um 13 33 35](https://cloud.githubusercontent.com/assets/6112308/5988040/cef8d846-a94d-11e4-893a-eec88993a37e.png)

[2015-01-31 12:45] cboelter commented on #734
Kann ich bestätigen, gehört aber eigentlich in das entsprechende Repository.

[2015-01-31 12:57] psren commented on #731
Ich habe jetzt DCG von b21 auf dev upgedated.
Bekomme den Fehler immer noch.

[2015-01-31 12:59] psren commented on #728
Passt.

[2015-01-31 12:59] #728 closed

[2015-01-31 13:36] cyberlussi commented on #725
contao 3.2.18
contao-community-alliance/dc-general 	dev-develop (fdd43c2a)
metamodels/bundle_all 	1.0.1
metamodels/core 	dev-tng (5eaeb7d8)

Neues Alias Attribut -> Speichern+Schließen

[code]
Attribut wird aber gespeichert!

Attribut aufrufen -> Speichern+Neu:

[code]

[2015-01-31 13:43] cyberlussi commented on #732
contao/core 	3.2.18
contao-community-alliance/dc-general 	dev-develop (fdd43c2a)
metamodels/core 	dev-tng (5eaeb7d8)

Metamodels -> Edit:
Interessanterweise erscheint das bei mir in einem SELECT:

[code]

[2015-01-31 14:20] cyberlussi commented on #725
Ergänzung: Das neu angelegte Attribut *scheint* vorhanden zu sein, in der DB aber wohl nicht. Denn wenn man einen neuen Eintrag in der MM Tabelle machen will:

![2015-01-31_15_01_08_-_metamodels_-_contao_open_source_cms_3_2](https://cloud.githubusercontent.com/assets/4976687/5988278/0832a0d6-a95a-11e4-8413-38e72cd465ca.png)

![2015-01-31_15_18_31_-_gruppen_-_contao_open_source_cms_3_2](https://clo

[2015-01-31 14:21] stefanheimes commented on #732
Ich kennen den Fehler auch. Es hat hier etwas mit der Versionierung vom DCG zu tun. Dabei wird das falsche Model übergeben. Es gibt ein spezielles, was die Funktion hat, aber irgendwie wird hierbei dann das Default geladen. Die schnellste Lösung hierfür ist im Template vom DCG etwas zu ändern.

https://github.com/contao-community-alliance/dc-general/blob/develop/contao/templates/dcbe_general_edit.

[2015-01-31 14:23] EDsolution opened #735 "Language select in Backend"
Hi.
There is a CSS or HTML structure bug in IE browser. When you go to "item input mask" and if you have multilanguage in IE you can't switch language (select doesn't work) and also the select is on the left side insted on the right as in firefox and chrome.

[2015-01-31 16:03] stefanheimes commented on #732
Wir haben die Versionierung von MetaModels deaktiviert. Siehe hierzu den Commit b3f0f430baaf51cf7bd550bc93612c0c31ae3bb9 Das sollte erst einmal das Problem beheben.

[2015-01-31 16:50] cyberlussi commented on #732
Works for me +1

[2015-01-31 17:03] ae69 commented on #732
@tim-bec

Ich bin begeistert !!!

Habe mir die Anregung zur Verwendung des Composers zu Herzen genommen und es scheint, als würde alles wieder funktionieren :smiley:
Herzlichen Dank und Grüße aus Wien!

Contao 3.4.2

[2015-02-01 10:07] wangaz commented on #732
simple and effective solution +1, thanks

[2015-02-01 11:31] stefanheimes commented on #735
Hi,

this bug should be solved with this commit https://github.com/contao-community-alliance/dc-general/commit/9b9bfe45e79d295ccf74362bb7416d8d1a2a5a33

Can you pleas test it again.

[2015-02-01 11:34] stefanheimes commented on #725
Hi,

yesterday I update some attributes and remove the "flag" and "sortable" field form the DCA. Can you please update the system and try again.

[2015-02-01 13:04] cyberlussi commented on #725
Bei mir das gleiche Verhalten [heute TNG aktualisiert] wie gestern in https://github.com/MetaModels/core/issues/725#issuecomment-72318001 von mir gemeldet.

contao/core 	3.2.18
contao-community-alliance/dc-general 	dev-develop (fdd43c2a)
metamodels/bundle_all 1.0.1
metamodels/core 	dev-tng (b257c40b)

![mm725](https://cloud.githubusercontent.com/assets/4976687/5992130/67ef914e-aa1a-11e4-8047-5038b

[2015-02-01 13:06] design23 commented on #732
Nachdem ich den Composer und alles was dazugehört mit dem Vorschlaghammer aus dem System geprügelt und ihn anschließend neu installiert habe, scheint nun alles zu funktionieren. Keine Ahnung was initial schiefgelaufen ist...
Trotzdem danke für den Tip und den Commit.

[2015-02-01 13:09] design23 opened #736 "Kein neuer Eintrag in MM wenn Varianten aktiviert"
Szenario:
- Contao 3.2.18
- MM -> metamodels/core + metamodels/bundle_all via composer frisch installiert
- Neues MM angelegt (nur 3 Felder - Text, Alias, Bild), Varianten aktiviert

Klick auf "Create new item" ergibt folgenden Fehler:

[code]

[2015-02-01 14:20] design23 commented on #736
So sieht das ganze aus, wenn man einen Eintrag machen möchte. Es erscheint sofort nur das Icon, das eigentlich für die Platzierung zuständig ist...
Beim Klick auf "Create new item" kommt die oben genannte Fehlermeldung.

![bildschirmfoto 2015-02-01 um 15 17 38](https://cloud.githubusercontent.com/assets/6112308/5992335/8834623a-aa25-11e4-82a6-98e9f9aeca20.png)

Und das kommt, wenn man eine neue Va

[2015-02-01 15:07] stefanheimes commented on #725
Ich glaube wir haben hier 2 Fehler. Der eine Fehler im DCA Settings das andere beim Erstellen der Attribute. @MrTool Wie sieht es bei dir aus ?

[2015-02-01 16:03] MrTool commented on #725
Hab von zuhause leider keine Möglichkeit mir das anzusehen. Ich werds morgen vormittag gleich mal ausprobieren.

[2015-02-01 16:33] ae69 commented on #725
Wie schon in #732 berichtet:
Nach Installieren des Composers und update aller Dateien funktioniert sowohl #732 als auch #725 vollkommen ok
Contao 3.4.3 und MM 2.0
PHP 5.4.7

[2015-02-01 17:45] cyberlussi commented on #725
@ae69 ... habe eigentlich gerade eine neue 3.2.18 Installation mit MM gemacht, als erstes Composer installiert und dann alle Pakete ... Vielleicht installiere ich nochmal neu - nicht dass da "Updateleichen" rumliegen.

[2015-02-01 18:12] cyberlussi commented on #725
Auch nach einer per Composer MM kompletten Löschung und Neuinstallation ... ich mache was anders und da sitzt dann der Fehler: ich füge ein neues Attribut per schnellem "paste new" ein. Wenn ich über "Neues Attribut" + "Einfügen nach"  mache - dann funktioniert alles!

Bug bezieht sich also nur auf "das schnelle (+)" ohne die Ablage zu benutzen.

![mm725-2](https://cloud.githubusercontent.com/asse

[2015-02-02 11:07] tim-bec commented on #734
fixed with https://github.com/MetaModels/attribute_tabletext/commit/212e4c32d8efc252eb7b605c684192446a5f43f8

[2015-02-02 11:07] #734 closed

[2015-02-02 16:40] psren opened #737 "No sorting property defined"
Beim generieren eines neuen Items bekomme ich folgende Fehlermeldung.
Woran kann das liegen, ich habe nichts anders gemacht als sonst (hoffe ich).

[code]

[2015-02-02 16:43] psren opened #738 "Spalten werden in Tabelle nicht angelegt"
Bei mir werden die Spalten des Metamodels nicht ordentlich in der Datenbank angelegt.
Dadurch ensteht der folgende Fehler
[code]

Ich habe die Attribute in einem sehr einfachen Metamodel ganz normal übers Backend angelegt.
Ich vermute dass es mit der Contao-Version zusammenhängt.

Contao: 3.4.3
MM Core: b257c40b
DCG: fdd43c2a

[2015-02-02 17:24] MrTool commented on #725
Bei uns funktionierts nach nem update von MM dev-tng und dcGeneral auf Beta 22

[2015-02-02 17:28] MrTool opened #739 "Speichern von Mehrsprachigen Items"
Contao: 3.3.7
MM: dev-tng (b257c40b)
DCG: 2.0.0-beta22

Wenn Ich in einem Multilang MetaModels ein neues Item anlege und dann einen Translatedtext speichern möchte wird das Input Feld wieder leer und es ist nichts gespeichert.

[2015-02-02 22:53] psren commented on #738
Duplicate of #738

[2015-02-02 22:53] #738 closed

[2015-02-02 22:53] psren commented on #725
Hat vorhin bei mir auch nicht funktioniert:

Contao: 3.4.3
MM Core: b257c40
DCG: fdd43c2a

[2015-02-02 22:55] psren commented on #738
Uuups, falsche Referenz.
Das hier war es #725

[2015-02-03 11:42] design23 opened #740 "Manuelles Sortieren führt zu Datenverlust bei translatedfile"
Contao 3.2.18
metamodels/core -> dev-tng (b257c40b) → 2.0.x-dev
metamodels/bundle_all -> dev-master (f5892747)

Sobald im BE per Drag & Drop ein MM verschoben wird (Sortierung der Reihenfolge), verliert das MM seine eingetragenen Werte im Attribut translatedfile.

[2015-02-03 14:19] #732 closed

[2015-02-03 15:47] discordier commented on #740
@tim-bec Kannst du das verifizieren/nachbauen?

[2015-02-04 08:50] MrTool commented on #739
Ich hab herausgefunden das dieses Problem nur auftritt sollte die Sprache auf zum Beispiel.: "Deutsch (Österreich)" gestellt worden sein.

Wenn man als Sprache nur Deutsch/English verwendet werden die Values wieder richtig gespeichert.

Kann es sein das hier der dcg das erweiterte Sprachenflag nicht versteht?

[2015-02-04 10:00] tim-bec commented on #739
Ja, das ist aktuell leider so.

[2015-02-04 10:38] emkayy opened #741 "Eingabemaske: Fatal error DcGeneral 'is not editable' EditMask.php on line 160"
Nach einem Update heute bekomme ich unten stehende Fehlermeldung sobald ich die Daten eines MM bearbeiten möchte (Eingabemaske). Auflisten der Daten klappt noch und auch alle Einstellungen des MM lassen sich bearbeiten.
[code]

[2015-02-04 12:01] MiniModel commented on #735
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@EDsolution could you please have a final look at this and tell if your i

[2015-02-04 12:01] #735 closed

[2015-02-04 16:03] discordier commented on #741
In den Einstellungen der Eingabemaske die Haken bei Edit, Create und Delete gesetzt?

[2015-02-04 16:50] emkayy commented on #741
Da wird doch glatt der Hund in der Pfanne verrückt! Hier hat sich ein neues Feature eingeschlichen ;)
Wäre nur schön, wenn dann kein Fatal Error käme sondern eine kleine Meldung: Sorry, editing not erlaubt.

Das würde nervigen Bugreports wie den meinigen vorbeugen.

Danke auf jeden Fall!

[2015-02-04 17:14] discordier commented on #741
Da hast du recht.

[2015-02-04 19:03] cyberlussi opened #742 "[TNG] error_unknown_attribute / error_unknown_id / error_unknown_column bei gelöschten Attributen"
Hi,

wenn ich ein Attribut lösche, dann bleibt in den Rendereinstellungen und Eingabemasken ein "error" stehen (Filter habe ich nicht geprüft). Sollten bei einem Löschen von Attributen nicht eher alle Abhängigkeiten (Rendereinstellung, Filter, etc) gelöscht werden?

![2015-02-04_19_59_59_-_metamodels_-_contao_open_source_cms_3_2](https://cloud.githubusercontent.com/assets/4976687/6047213/92922660-

[2015-02-04 20:07] discordier commented on #742
Sollten schon, ist aber noch nicht implementiert.

[2015-02-05 09:55] cboelter opened #743 "Copy does not work"
If I want to copy an item I get the following screen and nothing happens:

![bildschirmfoto 2015-02-05 um 10 55 15](https://cloud.githubusercontent.com/assets/550207/6058201/7f34c0b4-ad25-11e4-80d8-b4ecac9f9fa3.png)

[2015-02-05 14:13] discordier commented on #743
It seems to be a plain MetaModel without variants and tree mode?

Could you shed some light on the configuration?

[2015-02-05 14:17] cboelter commented on #743
Yes it is a plain metamodels with nothing special like variants or treemode.

![bildschirmfoto 2015-02-05 um 15 16 28](https://cloud.githubusercontent.com/assets/550207/6061696/06143122-ad4a-11e4-93a3-71c3c7c415a1.png)
![bildschirmfoto 2015-02-05 um 15 15 58](https://cloud.githubusercontent.com/assets/550207/6061697/061873b8-ad4a-11e4-9748-f6b3a81a3fa3.png)

Do you need more Information. MetaModel

[2015-02-05 14:36] psren commented on #743
Maybe related to contao-community-alliance/dc-general#84

I am sure that i had this issue, too. I didn't write a ticket for some reason and now i cannot reproduce it.

[2015-02-05 15:14] cboelter commented on #743
@discordier If you want, I can send login data for the project.

[2015-02-06 02:58] discordier commented on #128
Aktueller Stand: https://github.com/MetaModels/core/compare/6a793d0...2b38b7e

[2015-02-06 08:44] MrTool opened #744 "Pagination on MMItem - List not working"
MM: dev-tng (ab17f59)

Cause of the last commit where the Pagination was moved to an explicit helper file the pagination is not working anymore

[2015-02-06 08:46] johannes-bittner commented on #744
+1

[2015-02-06 09:47] MrTool opened #746 "BE Eingabe - Alle hinzufügen - attribute werden nicht angezeigt"
Contao: 3.3.7
MM: dev-tng (6a793d02)
DCG: 2.0.0-beta22

Wenn man eine neue Eingabemaske definiert und man über [Alle hinzufügen] die Attribute anlegen lässt und danach per Auge aktiviert wird beim erstellen eines neuem Items kein Attribut angezeigt.

Wenn Ich dann jedoch ein Attribut editiere und aus [Speichern] klicke sind plötzlich alle Attribute bei der Item eingabe vorhanden.

Getestet mit Mul

[2015-02-06 09:50] MrTool commented on #746
Das gleiche passiert auch wenn Ich eine Legende anlege und in der BE-Ansicht dann mit dem Auge aktiviere - man muss dann immer wieder ein bereits aktives Attribut bearbeiten und speichern

[2015-02-06 13:27] tim-bec opened #747 "FR: Bei Einzelbild Bildgröße und Cropmode in Eingabemaske auswählen"
Wie im IRC kurz angerissen, wäre es gut bei Datei-Attributen ohne Multi-Select je Eintrag die Bildgröße und den Crop-Mode bestimmen zu können.
Bei Implementierung sollte die Änderungen aus 3.4 berücksichtigt werden.

[2015-02-06 18:01] tniebergall opened #748 "Fehlermeldung nach Update: call_user_func() expects parameter 1 to be a valid callback"
Folgende Meldung erhalte ich im Front- und Backend seit dem Update auf die letzte TNG Version. Im Einsatz ist Contao 3.4.2.

Danke

[code]

[2015-02-07 12:44] discordier commented on #746
Stimmt,  der Cache wird hierbei noch nicht geleert.

[2015-02-07 13:26] cyberlussi commented on #737
Den Fehler erhalte ich auch, wenn ich in einem MM freies Sortieren aktiviert habe (alles auf TNG von heute) und die Einträge per "Burger" Symbol drag und drop verschiebe. Allerdings nur sichtbar als XHR Antwort:

[code]

Zudem steht in der Datenbank unter "sorting" immer 0.

![mm737-xhr](https://cloud.githubusercontent.com/assets/4976687/6092221/28ce8316-aed5-11e4-9234-27457b460461.png)

[2015-02-07 16:56] design23 commented on #744
Agree

[2015-02-07 19:51] sebuck opened #749 "Fatal error: InvalidArgumentException bei cleaner Installation (TNG, nightly)"
Hallo zusammen,

ich habe eben mal eine frische Contao (3.2.18) mit der neusten Nightly aufgesetzt und kriege leider schon beim Anlegen des ersten Attributes einen Fehler:

[code]

Ich konnte problemlos den Typ "Text" auswählen und dann die notwendigen Felder füllen --> Speichern & Schließen wirft obigen Fehler aus. Nach Neuladen ist er weg, das Feld wurde angelegt. "Nur" Speichern, wirft den selb

[2015-02-07 19:54] sebuck commented on #749
#### Weitere Erkenntnis:

Anscheinend tritt dieser Fehler nur beim ersten Attribut auf, das ich hinzufüge. Beim zweiten, dritten, xten... klappt es ohne Fehlermeldung.

[2015-02-07 20:07] sebuck commented on #749
#### Noch ein Fehler

Vermutlich steht dieser im Zusammenhang, daher im selben Thema:
Die anderen Einstellungen für dieses MetaModel klappen alle. Sobald ich dann über die erzeugte BE-Eingabemaske ein neuen Datensatz anlegen möchte, kommt diese Fehlermeldung:

[code]

Habe dann versucht, von den zwei angelegten Attributen, nur das andere "feld_nachname" in der Eingabemaske zu haben, um zu gucken,

[2015-02-08 13:11] MacKP commented on #747
Warum nicht auch bei Mehrfachauswahl? Ist da ja im Grunde genau wie bei Galerien von Contao? (Es sei denn man will Dateien.. aber das ist ja bei Einzelauswahl auch genau so).

[2015-02-10 08:14] Olli commented on #744
+1

[2015-02-10 08:22] poutvie commented on #740
Contao 3.2.16
DC-General (d36a7925)
metamodels/core dev-tng (6a793d02)

Könnte zusammen hängen: Habe eine MM Liste im BE mit manueller Sortierung. Nach Sortierung und Seitenrefresh hat der verschobene Eintrag den Wert des Attributs mit id=1.

1.) Sortierung ändern
2.) Seite refreshen
3.) verschobenes Element erhält Wert des Elements mit id=1
übersetzte Werte und die, die nicht in der Liste stehen

[2015-02-10 09:31] psren opened #751 "Speichern mehrsprachigen Items klappt nicht"
Ich habe ein Mehrsprachiges MetaModel
Aktuell nur die Sprache "Deutsch" (also das richtige Deutsch) angelegt.
(Später werden es mehrere werden)

Hier habe ich ein Attribut welches per Picker eine Seite wählbar macht.

Das Auswählen funktioniert.
![bildschirmfoto 2015-02-10 um 10 25 19](https://cloud.githubusercontent.com/assets/1016798/6124693/e4b5b68a-b10f-11e4-853b-a589c8557c85.png)

Wenn ich je

[2015-02-10 09:32] psren commented on #751
Eventuell Bezug zu #739

[2015-02-10 09:40] fabian-ibr commented on #744
+1

[2015-02-10 12:02] poutvie opened #752 "Tabellenspalte für Bezeichnung/Name für Mehrfachauswahl ist kombinierter Eintrag => nur ein Datensatz für Auswahl"
Contao 3.2.16
metamodels/core 	dev-tng (6a793d02)

Wenn ich in einer Mehrfachauswahl einen kombinierten Eintrag für "Tabellenspalte für Bezeichnung/Name" verwende, wird nur ein Datensatz zur Auswahl gegeben. Ändere ich die Bezeichnung/Name auf ein numerisches Feld oder Textfeld => normale Funktion.

[2015-02-10 20:00] uagga commented on #749
dito genau gleiches Problem...

[2015-02-11 11:23] psren commented on #737
Ups, habe mich ausversehen wieder gedoppelt.
contao-community-alliance/dc-general/issues/93

[2015-02-11 11:25] psren commented on #624
Mhhh, gibt es hier schon vom Timing her was neues?
Ich habe fleißig getesten und Tickets geschrieben, so richtig stabil wirkt das noch nicht (tng branch)

[2015-02-11 11:52] psren opened #753 "Tabelle wird nicht richtig angelegt"
Beim Speichern eines neuen Attributs kommt es zu diesem Fehler:

[code]

Die Datenbank wird nicht richtig aktualisiert. Daher kommt es beim Anlegen eines neuen Items zu diesem Fehler:

[code]

[2015-02-11 14:32] cboelter commented on #624
Ich glaube das Problem am Timing ist aktuell nach wie vor die ManPower, was man ja durchaus an den Commits sieht. So lange das nicht auf einer soliden Basis steht, wird es wohl mit einem verbindlichen Timing schwer :(

[2015-02-12 07:17] rittler opened #754 "Filter Mehrfachauswahl"
Bei der Verwendung eines Mehrfachauswahl erhalte ich eine Fehlermeldung. MM Version ist aktuell.

[code]

Fehlerfrei mit Klammern:
[code]

[2015-02-12 10:38] Zeromax opened #755 "langcode SQL field to short"
There is a bug in some language attributes:

![lancode](https://cloud.githubusercontent.com/assets/1867177/6165854/6901778e-b2ab-11e4-8b1b-4e61e7c7f408.PNG)

The field is to short:

[code]

Fine for `de` but not `de_DE`
Should have a length of 5 min.

[code]

[2015-02-12 13:45] Zeromax opened #756 "Language var Problem"
There is a Problem with the Language for loations like `de-AT` or `de-CH`.

MM sets everywhere a underscore like `de_DE`

Contao allows in the root page only the "Norm" `de-DE`.

So in the var `$GLOBALS['TL_LANGUAGE']` you finde `de-DE` and not `de_DE`

See:
https://github.com/MetaModels/core/blob/fe79d3ee9d349f1a0fdb834e06f450e6c3e57864/src/MetaModels/MetaModel.php#L596

Not sure whats the right

[2015-02-12 18:50] Zeromax commented on #756
Close for #757

[2015-02-12 18:50] #756 closed

[2015-02-12 20:02] Zeromax commented on #755
So finished all attributes. Would be cool to have the as soon as possible in the tng branch ;)

With this fix it is possible to use location based language codes

[2015-02-13 16:40] discordier commented on #755
Have you read #420?
Especially the part about the language fallback.

[2015-02-13 18:01] Zeromax commented on #755
Puh. That's a lot of stuff ;)
I only now the function in the front end. With my PR's this is given. I have no idea if it works in the CMS... Will test it later next week if I do not Forget it...

[2015-02-13 21:28] discordier commented on #755
That's the point of mentioned issue. The Frontend.  With your fix, there is no fallback from de-de to de. Or the other way around.
Therefore we labeled it future but as you already are at it, you might want to finish it up. :)

[2015-02-15 13:13] Zeromax commented on #755
I see the Problem. I can have allok into it. Maybe ist already there. I have seen some methods which get the language for one Metamodel.

Maybe I can have a closer look next week.

[2015-02-16 13:46] Zeromax commented on #735
@stefanheimes check ;) Works on Win 8.1 IE 11

[2015-02-17 07:30] psren opened #758 "Could not retrieve MetaModel"
[code]

https://github.com/contao-community-alliance/dc-general/issues/94#issuecomment-74594954

[2015-02-17 08:58] psren opened #759 "LoadDataContainerEvent not found"
Bein Aufruf von MetaModels im Backend:

[code]

[2015-02-17 18:17] discordier commented on #759
This class is part of https://github.com/contao-community-alliance/events-contao-bindings.
Is it installed? If not, I wonder where the dependency got lost.

[2015-02-17 21:15] discordier commented on #606
All done!

[2015-02-17 21:15] #606 closed

[2015-02-18 09:41] sevenfour66 opened #760 "Weiße Seite nach Update"
MM-Installation mit dem aktuellen nightly build upgedated.

Wenn man jetzt ein MM bearbeiten bearbeiten/ erstellen will, bekommt man eine weiße Seite. Offensichtlich wird beim Update die "events-contao-bindings" und "backports-initialize-system" entfernt, was zu diesem Fehler führt. Installiert man über den Composer die "events-contao-bindings" händisch nach dem Update wieder, geht auch MM wieder.

[2015-02-19 08:55] psren commented on #759
Hat sich inzwischen erledigt.
Da muss es irgendwas mit den Abhängigkeiten verkackt haben beim letzten Update.
Obwohl keine Fehlermeldung kam...

Jetzt geht es wieder

[code]

[2015-02-19 08:55] #759 closed

[2015-02-19 14:07] memikeandi commented on #758
This happens to my every time I try to add an attribute. Any leads on how to fix it or is there some older version where this does not happen? Kind of makes it impossible to use without beeing able to add attributes :)
I tested a lot of times and sometimes the error doesn´t occurs. If you for example create a new metamodel and starts by adding a file attribute. Then you can add other attributes wi

[2015-02-19 14:29] dtomasi commented on #758
@memikeandi I tried what you told about first add a attribute_file. In my case the error occurs also. Which version of metamodels/core and contao/core did you use?

[2015-02-19 15:22] memikeandi commented on #758
Contao 3.4.4 and metamodels/core dev-tng @ 6a793d.

It has to be a completely new metamodel. If you create at new metamodel and add for example a text attribute and the error occurs. You need to delete the whole metamodel.

But if you create a new metamodel and the first attribute you add is a file attribtue. Then I can start add other attributes without problem. I can even delete the file attribu

[2015-02-19 17:32] psren commented on #758
I got the same versions ad @memikeandi
The error seems to occur before updating the database with the newly created attribute.

If a add the column to the table manually everything works fine from then.

[2015-02-20 07:27] basisbyte opened #761 "Multiple selections in checkbox menu"
So this is not a bug (i think), it's a question or feature request.
When I create a checkbox select menu in the frontend,
![2015-02-20_08h19_40](https://cloud.githubusercontent.com/assets/3695269/6282693/3dab00a8-b8d9-11e4-8fbf-07c1259b520e.png)
 i can select one item and it works as expected,
![2015-02-20_08h20_28](https://cloud.githubusercontent.com/assets/3695269/6282698/5c18d8bc-b8d9-11e4-98fc

[2015-02-20 08:13] tim-bec commented on #761
So you are creating a checkbox-filter on a select attribute?
Instead you can create a multiselect on a tag attribute, this should work - also with multiselect.

[2015-02-20 18:50] Schnubl opened #762 "Ausblenden von Attributen über Auge funktioniert nicht"
Das Ausblenden von Attributen funktioniert nicht aufgrund vom Caching.
Wenn man anschliessend das Komplette Metamodel öffnet und nochmal Speichert wird event. Cache geleert und somit ie änderung übernommen.

[2015-02-21 02:01] MiniModel commented on #754
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@rittler could you please have a final look at this and tell if your issu

[2015-02-21 02:01] #754 closed

[2015-02-21 13:01] MiniModel commented on #760
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@sevenfour66 could you please have a final look at this and tell if your

[2015-02-21 13:01] #760 closed

[2015-02-21 19:19] Schnubl commented on #743
Have the same issues!

Contao 3.3.5
MM Latest Nightly dev-tng
DC-General 2.0.0-beta22

[2015-02-23 07:12] valentin- commented on #754
Thanks the problem does not occur anymore

[2015-02-23 10:31] Olli commented on #744
This issue should get closed because in tng it's fixed.

[2015-02-23 10:34] tim-bec commented on #744
thx for the hin.

[2015-02-23 14:45] sevenfour66 commented on #760
Issue resolved. Thanks.

[2015-02-25 12:48] psren commented on #758
Do you have a plan when to fix this? This bug is really annoying and prevents me from testing further.

[2015-02-25 12:54] psren commented on #758
Or is there any Contao/MM-Combination that is working properly?

[2015-02-25 13:08] psren opened #763 "Variants do not work"
At the moment the variants seem to be defect (or not yet implemented?)
I have an attribute which overrides the attribute of the base item.

But nothing happens if i click on the magic variants icon.

![bildschirmfoto 2015-02-25 um 14 07 31](https://cloud.githubusercontent.com/assets/1016798/6371035/b19e1f0a-bcf7-11e4-8d15-8b5546e46232.png)

[2015-02-26 11:55] Munsio opened #764 "BE - Checkbox filter not working"
If i define that a checkbox is filterable in the backend list, the filter process is not working for non-active filtering cause non-active is represented by an empty value and filtering for an empty value doesn't work so it is not possible i.e. to filter for non published items

[2015-02-26 19:11] discordier commented on #708
As discussed in contao/core#7585 this will be implemented in Contao 3.5 and therefore in the next LTS of Contao.
We will think if we can implement a 60% working workaround that deactivates the checkPermission hooks from within DC_General.

[2015-02-27 08:24] Hauge opened #765 "Backend-Icons in Listenansicht verschwunden"
contao 3.4.4
In der Backend-Ansicht sind "Über Nacht" ohne Update die Icons in der Listenansicht verschwunden.
![be-icons](https://cloud.githubusercontent.com/assets/1571133/6409329/5a299468-be62-11e4-92bb-b63f50469063.JPG)

Hatte die MM's gestern angelegt und es wurde alles korrekt angezeigt.
Bin mir nicht sicher, ob es hiermit: https://github.com/MetaModels/core/issues/559  einen Zusammenhang gi

[2015-02-27 17:11] Zeromax commented on #765
@discordier need a cash label ;)

[2015-03-01 14:02] design23 commented on #744
Still got the problem.

[2015-03-02 09:31] xantippe commented on #624
@tim-bec: Hallo Tim, wie aktuell ist die obere Liste? pflegst Du die noch..??

Gruss & Dank!

[2015-03-02 12:47] psren commented on #758
[code]

```$information['pid']``` der Key existiert nicht.

[2015-03-02 13:22] cboelter commented on #758
same here. i will have a look on it to fix it

[2015-03-02 13:42] cboelter commented on #736
Bei mir passiert das gleiche. Es scheint so, als wird das Event für die Action hinter dem Event nicht ausgeführt.

[2015-03-02 15:32] memikeandi commented on #758
Donwloaded the latest nightly, and the problem seems to be gone? However I can not add the Tags attribute. When you add a Tags attribute I don´t get any error messages but no database table is created... Don´t now if this is the same issue or a separate one

[2015-03-02 17:53] cboelter commented on #736
Ich habe jetzt angefangen das ganze wieder lauffähig zu machen, werde morgen einen entsprechenden PR machen.

[2015-03-03 08:55] psren opened #766 "Unknown column 'alias'"
I got a translatable alias attribute an a filter which uses it.
I'm getting the following error

[code]

[2015-03-03 09:00] cboelter commented on #766
I fixed this error a few days ago, but I have to create a pull request for that.

[2015-03-03 09:13] cboelter commented on #758
@discordier I provided a PullRequest could check this as soon as possible?

[2015-03-03 09:15] cboelter commented on #766
@psren i can send you the fixed file and you can check it?

[2015-03-03 11:27] discordier commented on #744
@design23 Can you shed some light on your configuration and which combination of settings is producing what (undesired) result.

[2015-03-03 11:29] discordier commented on #765
Oh fsck.... how can we circumvent this.... :(
We are creating the icons once and pushing the whole config to the MetaModels cache then.
Now Contao has the cache expire time which kills our icons but not our cache file... and we go "white".

[2015-03-03 11:32] discordier commented on #765
We should put our cached copies into an own images sub directory within the cached assets files which are not getting cleaned by Contao.

[2015-03-03 11:45] design23 commented on #744
A few days ago I saw this: https://github.com/MetaModels/core/commit/ad5f102ed8fd194dcf26812f79bc808cdd943240

So I added the new lines to that file and now it works. Before that I just had updated MM via composer, so I have no idea why that fix wasn't updated too.

[2015-03-03 11:57] discordier commented on #744
Can you check your `installed.json` what has is currently installled?

[2015-03-03 12:01] design23 commented on #744
What exactly do you need? That file has 4770 lines ^^

[2015-03-03 12:48] cboelter commented on #758
It will be fixed after composer update.

[2015-03-03 13:12] denunv commented on #758
For me it works again with normal attributes, but not with translated attributes.

[2015-03-03 13:13] memikeandi commented on #758
@cboelter great! @denunv did you get the tags attribute to work as well?

[2015-03-03 13:21] cboelter commented on #758
Is there the same error message on translated attributes, or another?

[2015-03-03 13:58] denunv commented on #758
@memikeandi @cboelter No database fields are created for tags and translated attributes. There is also no error message.

[2015-03-03 14:21] psren commented on #766
Yep i could do a pr.
You can send it to ph@wacg.de

[2015-03-03 14:23] psren commented on #763
Maybe related to #763
I will check the PR asap.

[2015-03-03 14:24] psren commented on #758
After a temporary fix on my installation translated attributes worked nice.
they wirk with the PR, too. I havn't tried tags for now.

[2015-03-03 15:38] cboelter opened #770 "Could not create a Variant-MetaModel as Child-Table"
I've tried to use a Variant-MetaModel as an Child-Table but it does not work. ListView is fine, but my added entry is not shown :(

@discordier is it currently not possible to use it in this usecase?

[2015-03-03 16:05] psren commented on #763
Yes, with the patch it works again.

[2015-03-03 16:05] #763 closed

[2015-03-03 16:21] psren opened #771 "Variante zeigt im Titel nichts an wenn ein Select-Feld das Variantenfeld ist."
Problem:
![bildschirmfoto 2015-03-03 um 17 18 27](https://cloud.githubusercontent.com/assets/1016798/6466639/6c2b27d4-c1c9-11e4-8bf3-83a4dc614227.png)

Variantenattribute:
![bildschirmfoto 2015-03-03 um 17 19 26](https://cloud.githubusercontent.com/assets/1016798/6466650/80a6867c-c1c9-11e4-95a4-bd581851f254.png)

Rendersetting:
![bildschirmfoto 2015-03-03 um 17 20 10](https://cloud.githubuserconte

[2015-03-03 16:29] denunv commented on #758
@psren Which Contao version are you using? I need a Contao/MM-Combination where "translated attributes" are working. I have 3.4.4 installed.

[2015-03-03 17:21] discordier commented on #758
@denunv Please ensure that you have *deleted* the problematic attribute an *recreated* it.
The fix will not scan the Table for missing columns.

[2015-03-03 17:27] discordier commented on #770
Apparently not completely, I thought the Builder would now correctly created a parented tree view.
Might also a bug in dcg when filtering the tree collection (from level 2 on as level 1 is the variant base elements).

What type of entry exactly is not shown? The base or only the variant?

[2015-03-03 17:43] cboelter commented on #770
Nothing is shown not the base not the variant. Only a blank ListView.
Is it possible to fix it quickly or is it a complex bug?

[2015-03-03 17:43] cboelter commented on #770
@discordier If you want, I can send you login data for the project, so you can have a closer look on it.

[2015-03-03 19:33] psren commented on #758
I use Contao 3.2.19 and 3.4

[2015-03-03 21:52] memikeandi commented on #758
I use Contao 3.4.4. And the exact same problem as @denuv. No database fields are created for tags and translated attributes. But there are no error messages.

[2015-03-03 21:55] cboelter commented on #758
For tags and translated attributes will be no fields created because they will be stored in separate value tables.

[2015-03-04 12:25] markus151173 commented on #731
Den Fehler und noch weitere habe ich auch mit Mehrsprachigkeit und Varianten beim Kopieren.

Zum Einsatz kommt Contao 3.2.18 unter WIN 7 Pro, XAMPP 1.8.2, PHP: 5.4.16.
MM habe ich mir von der Seite metamodel.me MetaModels 2.x als ZIP gezogen.

Mich würde mal interessieren welche Version ich nun einsetzen soll?

@discordier
Kannst du hierzu sagen welche Version für den produktiven Einsatz verwendet

[2015-03-04 13:00] cboelter commented on #731
Die nightly-tng ist der aktuelle Stand von Github. Also der aktuelle Entwicklungsstand.

[2015-03-04 13:04] markus151173 commented on #739
So ein Problem habe ich eben auch mit der Auswahl Deutsch (Deutschland) den den Sprachen für die Übersetzung bei einem MetaModels gehabt.
Nach dem ich nur „Deutsch“ aus der Sprachauswahl verwendet habe, konnte ich auch Werte in den Übersetzen Feldern spreichern.

Eigentlich wurden die nur nicht wieder nach dem Speichern angezeigt. In der DB stehen die in der tl_metamodel_translatedtext Tabelle dri

[2015-03-04 13:20] markus151173 commented on #731
@cboelter
Kannst du mir hier bitte sagen welche Quelle ich für einen produktiven Liveeinsatz verwenden kann.
Am besten einen Link oder Info.

Ich installiere MM ohne composer direkt in /modules/ was bei allen meiner MM Projekten immer gut funktioniert.
Dazu habe ich immer die ZIP’s von der offiziellen Seite verwendet.
Jetzt steh ich auf’m schlauch!

[2015-03-04 13:26] cboelter commented on #731
Die Frage ist garnicht so leicht zu beantworten, eine zu 100% stabile Version gibt es aktuell nicht für Contao 3. Ich selbst nutze den TNG, den du auch installiert hast. Dieser funktioniert insgesamt schon ganz gut und wird mit der Zeit immer stabiler. Jedoch kann es sein das es hier und da noch etwas hapert.

Diese Fehler müssen dann halt hier in Github dokumentiert werden und kritische Fehler we

[2015-03-04 13:56] markus151173 commented on #771
![mm-variante](https://cloud.githubusercontent.com/assets/5483797/6484686/3d5a8e80-c27e-11e4-9ca1-2e22ac11cb3b.jpg)

Ich habe leider auch das gleiche Problem mit der Version von metamodel.me (nightly-builds ZIP).

Zum Einsatz kommt Contao 3.2.18 unter WIN 7 Pro, XAMPP 1.8.2, PHP: 5.4.16.
MM habe ich mir von der Seite metamodel.me MetaModels 2.x als ZIP gezogen.

[2015-03-04 16:02] cboelter commented on #770
I had a closer look on it, the problem is in this lines: https://github.com/MetaModels/core/blob/e750d21b26bf9a05f46c9d4e70fb3902a7fe8473/src/MetaModels/DcGeneral/Dca/Builder/Builder.php#L735-L741

There is the RootCondition called, which is not checking for a given PID. So it sets the pid condition every time to 0. If I override the array there, the child table works fine.

@discordier Any idea w

[2015-03-05 07:49] psren commented on #737
Arg. It was away for a few days and not it's there again

[2015-03-05 12:29] cboelter commented on #771
Bei mir geht es auch mit einem Select im Titel.

[2015-03-06 12:10] 360fusionBen opened #773 "Can't create input screen or view"
I have installed the nightly today (06-03-2015) on a Contao 3.2.16 set up and built my metamodel. However when I try to set up a view so I can add items to it I can't.

there are groups for users and members and I have also set up the render settings and input screens but none o these are available for selection. Not even the Administrator is showing as an option.

![screenshot_1](https://cloud.gi

[2015-03-08 21:29] stefanheimes commented on #773
I test it with a contao 3.2.16, too. But i have no problems. I have all Groups for FE/BE and the settings from MetaModels. I test it with the core version e750d21b and the DCG version 2.0.0-beta 22 and the version 5db9787e.

Maybe you have a problem with the cache?

[2015-03-10 07:38] inred-froehlich commented on #703
Habe den selben Fehler mit aktuellen Contao und Metamodels.
Wie genau kann man auf dev umstellen?

[2015-03-10 07:55] dazzle89 opened #775 "Fehler bei Attributen (Listenansicht)"
Hallo,
mir ist in der Listenansicht der Attribute ein kleiner Fehler aufgefallen: Wenn man mit der Maus über das Plus-Icon fährt, steht dort "pastenew.1"

Außerdem:
Wenn ich bei einem Attribut auf das Plus klicke, muss ich auswählen, an welcher Stelle ich das neue Attribut einfügen möchte. Dabei müsste es, wie es in Contao typisch ist, automatisch hinter dem geklickten Attribut eingefügt werden, a

[2015-03-11 09:06] MoppieMop commented on #748
Habe die gleiche Meldung mit Contao 3.2.19 und dem letzten TNG.

[2015-03-11 10:36] cboelter opened #776 "Sorting in the backend is not working"
I have configured a sorting in the backend configuration, but in the listview it is not applied.
![bildschirmfoto 2015-03-11 um 11 33 27](https://cloud.githubusercontent.com/assets/550207/6594532/7779ec14-c7e2-11e4-8b6e-e1c06e333b16.png)
![bildschirmfoto-2015-03-11-um-11 34 21](https://cloud.githubusercontent.com/assets/550207/6594566/c0f7d5b8-c7e2-11e4-8584-fec3998d6120.gif)
As you can see it is

[2015-03-11 11:07] dmolineus opened #777 "Gruppen für das Rendering"
MetaModels ermöglicht durch die Auswahl bestimmter Templates für einzelne Attribute ja ein sehr flexibles Rendering der Ausgabe. Allerdings komme ich bei keinem Projekt, wo ich MetaModels einsetze darum das Listen-Template anzupassen, um bestimmte Attribute innerhalb einer HTML-Syntax zu gruppieren.

Oftmals handelt es sich hierbei um Komponenten, die immer mal wieder gebraucht werden, z.B. Bild m

[2015-03-11 14:15] psren commented on #771
Scheint inzwischen zu gehen. Ich weiß nicht woran das lag.
Wie sieht es bei dir aus @markus151173 ?

[2015-03-12 12:46] discordier commented on #776
Can you provide me with logins, xdebug etc? I could have a look.

[2015-03-12 13:39] cboelter commented on #776
@discordier You've got mail :)

[2015-03-12 22:06] design23 commented on #740
Nachtrag:
Habe eben festgestellt, dass der Effekt zusätzlich auftritt, wenn das MM manuell sortierbar ist und man einfach nur einen neuen Eintrag erstellt. Dieser wird an die erste Stelle gesetzt und sofort verlieren alle bereits existierenden Einträge ihre gespeicherten Werte bei den Mehrfachauswahlen (translatedtags).

[2015-03-12 22:31] design23 commented on #740
Nachtrag zum Nachtrag:
Der Effekt beschränkt sich interessanterweise auf die Fallback-Sprache. Bei den zusätzlichen Sprachversionen der Einträge sind die gespeicherten Werte noch vorhanden.

[2015-03-13 15:48] MacKP commented on #777
Ich finde das klingt ziemlich spannend. Könnte die Arbeit zum Teil wirklich stark vereinfachen.
+1 von mir ;-)

[2015-03-13 15:53] tim-bec commented on #777
+1 finde das ne schöne Idee. Auch wenn ich meine Templates in 99% der Fälle händisch zusammenbaue könnte ich mir vorstellen das mit wiederverwendbaren Kombinationen nicht mehr an allen Stellen zu tun.

[2015-03-13 15:59] septentrio opened #778 "FE breadcrumb shows wrong path"
Hello,

Here's a little issue.

I have set a MM catalog with two FE views. The first is a grid view of several items, and when you click on "show more details" it shows a detailed view.

The fact is that my breadcrumb doesn't show the name of the item when i am on detailed view

Recherche archéologique >  Les chantiers archéologiques >  item1

Is it possible to do ?

Thanks

[2015-03-13 16:15] xantippe commented on #777
+1
...ich arbeite ähnlich wie Tim - oder die Meisten ;-) - mit einem eigenen Ausgabetemplate, wobei auch hier oft gleiche Blöcke eingesetzt werden...

[2015-03-13 20:00] cptshit opened #780 "Fehler bei Varianten-Erstellung"
Hallo,
von bestehenden Datensätzen kann ich problemlos Varianten erzeugen. Alles gut so weit.

Wenn ich aber einen neuen Datensatz erzeugen will (es steht nur das Zwischenablagen-Logo zur Verfügung, siehe Grafik ![schnellsuche 2 mymusic - contao open source cms 3](https://cloud.githubusercontent.com/assets/4488060/6646265/82c2fce0-c9c3-11e4-8359-25399e243ea2.png)), erhalte ich folgende Fehlermeldu

[2015-03-13 20:20] pagestyles commented on #777
+1
Klingt wirklich sehr spannend

[2015-03-16 09:23] cboelter commented on #776
@discordier any news?

[2015-03-16 14:14] chaela commented on #748
Ich hab ebenfalls den selben Fehler mit Contao 3.2.16 und dem neusten TNG (16.3.15 @ 14.28)

[2015-03-16 21:28] cptshit commented on #780
Ticket https://github.com/MetaModels/core/issues/736 scheint das gleiche Problem zu beschreiben.

Wird an dem Ticket noch gearbeitet?

Henrik

[2015-03-17 09:31] dazzle89 opened #781 "MetaModels werden nicht gelöscht"
Hallo,

mir ist folgendes aufgefallen:

Wenn ich meine MetaModels lösche, bleiben die erstellten Metamodels in der Navigation unter "Inhalte", wo ich sie eingeordnet hatte, bestehen. Wenn ich sie anklicke, bekomme ich natürlich eine Fehlermeldung, weil die MetaModels an sich gelöscht werden, bloß die Menüpunkte nicht.

Sie verschwinden erst, wenn ich in der Systemwartung den entsprechenden Job dur

[2015-03-17 09:52] tim-bec commented on #781
Bitte leere mal den Contao Cache.

[2015-03-17 11:49] tim-bec commented on #773
cleanup. please reopen if problem still occure.

[2015-03-17 11:49] #773 closed

[2015-03-17 11:49] #766 closed

[2015-03-17 12:15] mrs4ndm4n opened #782 "Darstellungsprobleme in Eingabemaske (Contao 3.4.4)"
Felder laufen zu breit, bei Feldern mit Tiny fällt es auf.

![venues_-_contao_open_source_cms_3_4](https://cloud.githubusercontent.com/assets/3496645/6687080/a34641fc-cca7-11e4-8916-273028788e1a.png)

[2015-03-18 12:23] poutvie commented on #731
Bekomme die Fehlermeldung auch beim Anlegen eines neuen Datensatzes eines mehrsprachigen MMs. Aber nicht bei allen. Eines macht Probleme andere MM funktionieren. Werde nach Unterschieden suchen, die den Ausschlag geben.

contao 3.2.16
contao-community-alliance/dc-general 	dev-develop (a7b84c37)
metamodels/core 	dev-tng (d374dba4)

[2015-03-18 12:37] Messa1 commented on #624
Gibt es schon etwas neues? Wirk wie eingeschlafen? :) Bei den Factories Filters https://github.com/MetaModels/core/issues/698 wurde seit Jänner nichts mehr eingetragen.
Möchte wie immer keinen Druck machen aber ein paar Infos zum momentanen Stand wären schön :+1:

[2015-03-18 13:22] poutvie commented on #731
Ich habe übersetzte MM mit Listenansichten mit dem grünen Plus zur Erstellung neuer Datensätze. Hier kann ich neue Datensätze erstellen, aber nicht kopieren. Beim kopieren wird kein Einfügesymbol angezeigt, aber keine Fehlermeldung.
![liste](https://cloud.githubusercontent.com/assets/8960545/6709384/423d1eb2-cd79-11e4-8709-c3501b21103d.PNG)
Und dann habe ich ein übersetztes MM mit einer Listenansi

[2015-03-18 13:50] poutvie commented on #731
Das Symbol im Listenkopf hat mit dem Render Mode in der Eingabemaske zu tun.
Vielleicht habe ich die Produkte Liste zum Testen auf "Hirachical" eingestellt und dann einen neuen Datensatz eingefügen wollen, den Vorgang aber nicht abgeschlossen und wieder auf "Flat" umgestellt. Keine mehr Ahnung ob es so war, aber die Liste sieht so aus als hinge sie in diesem Status. Klemmbrett für oberste Ebene wi

[2015-03-18 15:59] basisbyte commented on #761
Sorry for my late answer but was ill and then had to work on another project.
Just wanted say thanks, 'cause it worked.

[2015-03-18 16:00] #761 closed

[2015-03-19 00:05] tim-bec commented on #748
Bitte probiert mal den DCG dev-develop aus.

[2015-03-19 00:56] tim-bec commented on #144
is it fixed, or not?

[2015-03-19 01:20] tim-bec commented on #753
Kannst Du das bitte mal mit dem DCG dev-develop testen?

[2015-03-19 01:27] tim-bec commented on #749
Kannst Du uns einen vollständigen Stack-Trace dazu liefern (das was noch unter der Fehlermeldung kommt)?

[2015-03-19 01:30] #741 closed

[2015-03-19 01:31] tim-bec commented on #740
@design23 welche version des dcg nutzt du?

[2015-03-19 01:33] tim-bec commented on #739
https://github.com/MetaModels/core/issues/755

[2015-03-19 01:34] tim-bec commented on #739
https://github.com/MetaModels/core/issues/420

[2015-03-19 01:34] tim-bec commented on #736
should be fixed

[2015-03-19 01:34] #736 closed

[2015-03-19 01:35] tim-bec commented on #780
should be fixed with https://github.com/MetaModels/core/pull/768

[2015-03-19 01:35] #780 closed

[2015-03-19 01:38] #725 closed

[2015-03-19 01:40] tim-bec commented on #722
please try dcg dev-develop

[2015-03-19 01:44] discordier commented on #776
Still waiting for .htaccess login data...

[2015-03-19 01:50] cboelter commented on #776
I have sent it to you 4 minutes after I received the information from you :( ...

No problem I have sent it again now. Please check your mails.

[2015-03-19 01:56] tim-bec commented on #312
@stefanheimes ist das noch valid?

[2015-03-19 01:57] tim-bec commented on #318
merged.

[2015-03-19 01:57] #318 closed

[2015-03-19 02:00] tim-bec commented on #392
@cboelter ich hoffe es auch, schließe das hier vorerst - wenn uns noch was begegnet, machen wir tickets auf, okay?

[2015-03-19 02:00] #392 closed

[2015-03-19 02:02] tim-bec commented on #501
@discordier dürfte das nicht mittlerweile erledigt sein?

[2015-03-19 02:04] #552 closed

[2015-03-19 02:16] tim-bec commented on #624
Sorry für meine lange Abwesenheit. Ich war beruflich so stark in anderen Projekten ohne MetaModels eingebunden das das Projekt bei mir ruhen musste.
Wir haben nun wieder mehrere neue Projekte mit MetaModels laufen und ich bin wieder aktiv mit dabei.

Kurz zur Lage der Nation:
- Ich habe in der letzten Woche drei MetaModels Installationen auf 3.4.4 mit TNG und DCG DEV-Develop erstellt und fahre bei

[2015-03-19 05:47] wangaz commented on #722
Thanks, it works!

[2015-03-19 05:47] #722 closed

[2015-03-19 08:39] sebuck commented on #749
Ich leider nicht, habe diese Version wieder gelöscht und seither kein MM mehr genutzt. Wird aber in nächster Zeit wieder kommen und wenn der Fehler noch auftritt würde ich hier posten.

[2015-03-19 08:43] design23 commented on #740
@tim-bec Gute Frage. Wo genau steht denn die Info? Habe alles über Composer installiert. Beim dcg steht nur ">=3.2,<3.5". MM core ist dev-tng (d374dba4)

[2015-03-19 09:03] #749 closed

[2015-03-19 09:10] tim-bec commented on #740
schau mal bei 	contao-community-alliance/dc-general und stell den dort manuell auf dev-develop oder 2.0.x-dev und teste das problem bitte noch mal damit.

[2015-03-19 09:13] design23 commented on #740
Ah, vorhin glatt übersehen. contao-community-alliance/dc-general ist aktuell auf dev-develop (a7b84c37)

[2015-03-19 09:14] tim-bec commented on #740
okay, dann bitte noch mal folgendes schauen: passiert das nur wenn du elemente auf die erste position oder von der ersten position umsortierst?

[2015-03-19 09:17] design23 commented on #740
Nein, passiert auch auf anderen Positionen.

[2015-03-19 10:16] psren commented on #624
Mit der Contao 3.2.x habe ich eine Installation mit den Varianten am laufen und soweit läuft das alles ganz gut.
Baum kann ich allerdings nichts sagen.
Was insgesamt gesagt werden muss ist dass von Dezember bis jetzt extrem viel passiert ist
und sich Metamodels inzwischen ziemlich stabil einsetzen lässt.
:+1:  * :100:
Lob :-D

[2015-03-19 11:18] poutvie commented on #731
Ich habe eine neue Eingabemaske erstellt. nun habe ich das Problem in  #768 beschrieben.

[2015-03-19 12:17] design23 commented on #744
After update via composer the pagination seems to work fine.

[2015-03-19 18:48] cptshit commented on #780
`
dfgb
`

[2015-03-20 07:01] cboelter commented on #776
@discordier Did you received my email?

[2015-03-20 16:03] tim-bec commented on #579
@cboelter bist du hier noch an einem WIP dran, sonst schauen wir uns das mal an.

[2015-03-20 16:08] cboelter commented on #579
@tim-bec nope, könntet Ihr gerne übernehmen :)

[2015-03-20 18:42] discordier commented on #776
Yeah, received it. In the original mail the credentials were merged into the "On XXX ... wrote" line of your reply and therefore I simply missed it. :(

My bad, working on it right now.

[2015-03-20 18:59] discordier commented on #776
Ok, I found the root cause.
The sorting is not being applied at all when no grouping is defined.
Interesting fact is, the grouping appears to be still applied when "do not group" is selected.

I have temporarily activated the grouping in your MetaModel and deactivated it later on for the other one again. Sorting still works as expected.

This is an issue in dc-general and one in MM core, which see

[2015-03-20 19:05] cboelter commented on #776
@discordier Thanks for having a look on it. What do you think about the costs for fixing it in MM and dc-general. If it is not too mich, I can sponsor it.

[2015-03-20 19:17] discordier commented on #776
The fix in MM is trivial as I simply have to add the checks if grouping is defined and ignore the settings for grouping then.

The sorting/grouping fix in dc-general will be definately more, hard to guess as I have not found out yet why the sorting is not applied there. Will have to dig into that one further but I suspect that it has to do with the changes from the rework-sorting applied several w

[2015-03-20 19:23] discordier commented on #741
@tim-bec Wir sollten mal eine Liste machen welche Fehlermeldungen wir praesentieren wollen.
Weiterhin sollten wir etliche eigene exception typen definieren.

[2015-03-20 19:46] discordier commented on #740
@tim-bec bitte mal nachbauen... irgendwie kommt mir das arg spanisch vor.
Betrifft das wirklich nur file attribute oder auch andere?
Wenn 1. dann muss man im file attribut suchen, wenn 2. dann eher dc-g.

[2015-03-20 20:01] discordier commented on #778
You have two way of solving this.
First is editing your breadcrumb template and set the value accordingly when on the "reader page".
This is pretty easy and suggested.

The second solution is to implement a `$GLOBALS['TL_HOOKS']['generateBreadcrumb']` for this and alter the title of the last element in there.

As MetaModels does not have a "detail page" there is no way to determine what exactly sh

[2015-03-20 21:59] discordier commented on #501
Weiss ich nicht mehr, aber bei @cboelter haben wir zumindest noch ein Problem im dcg hinsichtlich Sortierung ohne Gruppierung.

[2015-03-20 22:02] discordier commented on #782
anscheinend hast du dem veroeffentlicht ein w50 gegeben, dem Name jedoch nicht?
Probier mal dem namen ein clr zu verpassen, dann sollte alles wieder klappen.

[2015-03-20 22:02] discordier commented on #781
MetaModels cache problem.
Es fehlt die Behandlung des delete event vom DCG.

[2015-03-20 23:51] discordier commented on #712
This is a blocker bug partially addressed with 99a988a3a46ac3fa45bbeac8c860c3ba65580d86 but really evil.

[2015-03-21 04:24] tim-bec commented on #740
@discordier ich will den exporter ;-) - versuche das mal nachzustellen.
@design23  kannst du deine konfiguration noch etwas näher beleuchten?

[2015-03-21 12:00] cyberlussi opened #783 "Property bild (file) did not accept the value (The values differ. Encountered type NULL expected string (Found NULL, expected ''))."
Hi,
mir ist folgendes aufgefallen: Neues MM angelegt: 1 Text als Pflichtfeld, 1 Bild (Attribut file), 1 Text. Dann neuen Eintrag anlegen. Ein leeres Bild wird nicht akzeptiert - obwohl kein Pflichtfeld.

![2015-03-21_12_51_15_-_gruppen_-_contao_open_source_cms_3_2](https://cloud.githubusercontent.com/assets/4976687/6764946/59205764-cfc9-11e4-94b5-51db159a3fab.png)
Wenn ich ein Bild angebe, kann de

[2015-03-21 12:50] discordier commented on #783
Sollte mit 8212feb behoben sein.

[2015-03-21 14:53] cyberlussi commented on #783
:8ball: Danke. behoben.

[2015-03-22 01:00] MiniModel commented on #144
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@cogizz could you please have a final look at this and tell if your issue

[2015-03-22 01:00] #144 closed

[2015-03-22 01:00] MiniModel commented on #748
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@tniebergall could you please have a final look at this and tell if your

[2015-03-22 01:00] #748 closed

[2015-03-22 02:01] MiniModel commented on #771
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@psren could you please have a final look at this and tell if your issue

[2015-03-22 02:01] #771 closed

[2015-03-22 09:13] psren commented on #771
Testing positive

[2015-03-22 13:00] MiniModel commented on #744
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@MrTool could you please have a final look at this and tell if your issue

[2015-03-22 13:00] #744 closed

[2015-03-22 13:36] cyberlussi commented on #783
Hm,
ja nein, geht doch nicht so ganz .... kein Bild auswählen: geht. Wenn ich aber ein Bild hinzufüge - speichern - geht - dann Eintrag bearbeiten - anderes Bild auswählen:

[code]

[2015-03-22 15:13] psren commented on #783
Related to: https://github.com/MetaModels/attribute_file/issues/45

[2015-03-22 18:24] Hauge opened #784 "InvalidArgumentException with message Invalid file array"
Beim anlegen eines Kinddatensatzes:
![1](https://cloud.githubusercontent.com/assets/1571133/6770681/f2240ef2-d0c7-11e4-9565-25c32166ec25.JPG)
erhalte ich:
[code]
Der Datensatz wird aber dennoch angelegt. Wenn ich auf "zurück" klicke sieht es so aus:
![2](https://cloud.githubusercontent.com/assets/1571133/6770694/49c14ae4-d0c8-11e4-88c6-55225cade780.JPG)
Soweit so gut.
Sobald ich in diesem Datensat

[2015-03-22 18:28] Hauge commented on #784
Nachtrag:
Ich kann den Datensatz auch nicht aus dem Zwischenspeicher schmeißen:
![3](https://cloud.githubusercontent.com/assets/1571133/6770725/9a06ee5e-d0c9-11e4-9927-76a28333c1f6.JPG)
Dazu muss ich den Cache in der Benutzerverwaltung leeren.

[2015-03-23 01:19] discordier commented on #784
Wie genau ist dein File Attribut konfiguriert? Ich muss da was ybersehen haben.

[2015-03-23 05:04] Hauge commented on #784
Guten Morgen,
hier das Attribut:
![5](https://cloud.githubusercontent.com/assets/1571133/6774483/93795182-d121-11e4-84a9-c3e92d702e0f.JPG)
Hier die Konfiguration der Eingabemaske:
![6](https://cloud.githubusercontent.com/assets/1571133/6774529/499d09a4-d122-11e4-8eec-c76d8385af5b.JPG)
Und hier zur Sicherzeit noch das Sorting:
![7](https://cloud.githubusercontent.com/assets/1571133/6774535/5b6aa11e

[2015-03-23 11:29] cboelter commented on #783
Same here.

[2015-03-23 12:15] discordier commented on #783
Bitte in: MetaModels/attribute_file#45 weiter.

[2015-03-23 12:15] #783 closed

[2015-03-23 12:38] mrs4ndm4n commented on #782
nope, alle Felder sind ohne Backen-Klassen

[2015-03-23 12:40] mrs4ndm4n commented on #782
bzw., in dem Screenshot schon.. aber der Fehler tritt trotzdem auf, auch ohne Backend-Klassen

![image](https://cloud.githubusercontent.com/assets/3496645/6780060/22c419fe-d162-11e4-9cb9-7bc9f9ddd2a3.png)

[2015-03-23 16:10] Hauge commented on #784
Der Fehler kommt auch, wenn das mm nicht als Kindtabelle angelegt ist.

[2015-03-24 05:12] discordier commented on #784
Ref to MetaModels/attribute_file#45.

[2015-03-24 07:17] Hauge commented on #784
Thanx

[2015-03-24 07:36] cboelter commented on #784
@discordier the error is still there :( ...

```Fatal error: Uncaught exception InvalidArgumentException with message Invalid file array thrown in composer/vendor/metamodels/core/src/MetaModels/Helper/ToolboxFile.php on line 709 ```

[2015-03-24 12:56] design23 commented on #740
@tim-bec Meine Konfiguration ist mittlerweile recht umfangreich, also was genau möchtest du wissen?

- Ausgangspunkt ist ein MM "Produkte", Übersetzungen vorhanden, keine Varianten
- über 30 Attribute, davon 3x translatedfile mit aktivierter Option für Mehrfachauswahl

[2015-03-24 13:58] design23 commented on #740
So, jetzt hab ich spaßeshalber mal eine komplett neue Installation (3.2.19) aufgesetzt, MM via Composer installiert (core: dev-tng (8f3a486f), bundle-all: dev-master (f5892747)) und ein MM mit folgenden 3 Attributen erstellt:
- Text (text)
- Datei (file, Mehrfachauswahl)
- Übersetzte Datei (translatedfile, Mehrfachauswahl)

Jetzt verweigert das translatedfile in der Eingabemaske direkt den Dienst

[2015-03-24 17:37] discordier commented on #740
Sollte inzwischen behoben sein, siehe hierzu auch #784, MetaModels/attribute_file#45.

[2015-03-24 19:05] MacKP commented on #782
Hallo mrs4ndm4n,
gib uns doch mal bitte einen Backend Login zu der Install, damit man mal direkt schauen kann. Das wäre einfacher ;-)
Schicks mir einfach an die please.marc@metamodel.me

Viele Grüße

[2015-03-24 19:05] design23 commented on #740
Wurde das innerhalb der letzten 5 Stunden gefixed?

[2015-03-25 07:45] janborg opened #785 "Fatal Error: Invalid date bei Eingabe einer Uhrzeit im Attribut timestamp"
ich habe Contao 3.2.19 mit der aktuellsten nightly dev-tng von MetaModels im Einsatz.

Seit dem letzten Update erhalte ich bei Eingabe eines neuen Datensatzes und auch beim Öffnen eines bereits vorhandenen Datensatzes im Backend folgenden Fehler:

    Fatal error: Uncaught exception OutOfBoundsException with message Invalid date "20:00" thrown in system/modules/core/library/Contao/Date.php on line

[2015-03-25 08:15] janborg commented on #785
https://community.contao.org/de/showthread.php?56330-Fatal-Error-Invalid-date-bei-Eingabe-einer-Uhrzeit-im-Attribut-timestamp

[2015-03-25 09:07] haendersonfox commented on #762
das problem besteht mit dem aktuellen TNG von heute immer noch…

lg.

[2015-03-25 18:14] discordier commented on #784
siehe 0b2f1642b3703ebd4df1a77ce454b7bbc004a1c5.

[2015-03-25 20:53] padgrob opened #786 "Error: Visibility conditions for attribute"
Ich habe für ein Tags Attribut folgende Ansichteinstellungen vorgenommen (siehe Screenshot).
Sobald ich die Einstellungen vornehme erhalte ich folgenden Fehlermeldung.

Die Einstellungen können danach immer noch angepasst werden, die Fehlermeldung bleibt aber, auch erscheint ein Problem mit Umlauten im MM Breadcrumb.
In der Eingabemaske im Backend funktionieren die Einstellungen Korrekt.

Contao 3

[2015-03-26 07:19] discordier commented on #785
Habe es eingegrenzt https://github.com/contao/core/pull/7721

[2015-03-26 10:57] mrs4ndm4n commented on #782
Hallo Marc,

vielen Dank, habe am WE noch mal ein composer update gemacht. Jetzt passt's alles wieder.

[2015-03-26 10:57] #782 closed

[2015-03-26 11:28] MacKP commented on #782
Na, wunderbar :)

[2015-03-26 11:37] poutvie opened #787 "kein RTE bei Textfeldern"
contao 3.2.19
metamodels/core 	dev-tng (16bf9e24)
contao-community-alliance/dc-general 	dev-develop (1ecd6180)
metamodels/bundle_all 	1.0.1

RTE bei Textfeldern wird nicht mehr geladen. Translated und nicht übersetzte.

[2015-03-26 11:40] poutvie commented on #740
Verschieben funktioniert bei mir jetzt. Danke!

[2015-03-26 13:01] poutvie opened #788 "Alle (auch nicht filterbare) Attribute werden als Filter gezeigt, sobald "Filter" im Panellayout angegeben ist"
contao 3.2.19
metamodels/core dev-tng (16bf9e2)
contao-community-alliance/dc-general dev-develop (1ecd6180)
metamodels/bundle_all 1.0.1

unabhängig davon, ob unter Eingabemasken bei einem Attribut "filterbar" angehakt ist oder nicht, wird es als Filter im BE angeboten (also alle Attribute), sobald "Filter" im Panellayout angegeben ist.

[2015-03-26 14:38] bizon1 commented on #787
Contao 3.4.4
Metamodels heute über Composer aktuallisiert

Kann ich bestätigen, habe bei den Longtext-Feldern auch keinen tinyMCE mehr, obwohl für die Eingabemaske aktiviert.

[2015-03-26 17:12] haendersonfox commented on #787
betrifft ebenfalls die einstellung "Leere Option einfügen"...

[2015-03-26 20:49] discordier commented on #786
Das wurde doch in bc1acfec074e41bfb85074605c0570c8c1de1ad1 schon gefixt?

[2015-03-27 07:30] haendersonfox commented on #787
funktioniert auf anhieb. vielen dank.

[2015-03-27 12:59] design23 commented on #740
Nach Update tut sich beim Auswählen von Dateien gar nichts mehr...
![bildschirmfoto 2015-03-27 um 13 57 06](https://cloud.githubusercontent.com/assets/6112308/6868140/33d8e90c-d489-11e4-96a9-234fa89c3ab7.png)

Mehr passiert nicht.

metamodels/core: dev-tng (435456af) → 2.0.x-dev
metamodels/bundle_all: dev-master (f5892747)
contao-community-alliance/dc-general: dev-develop (02c33c05)

[2015-03-27 19:02] discordier commented on #740
Schau dir bitte mit firebug mal den xhr request an und was da als response kommt.
Da sollte eine Fehlermeldung drin stehen, diese brauchen wir.

[2015-03-27 21:16] cyberlussi commented on #743
Same for me. Plain simple flat MM, no variants.

contao/core 	3.2.20
contao-community-alliance/dc-general 	dev-develop (02c33c05)
metamodels/core 	dev-tng (435456af)

[2015-03-28 14:42] #787 closed

[2015-03-29 20:01] MiniModel commented on #788
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@poutvie could you please have a final look at this and tell if your issu

[2015-03-29 20:01] #788 closed

[2015-03-30 12:25] padgrob commented on #786
OK, werde ich nochmals testen.

[2015-03-31 10:59] 4lmnts opened #790 "No widget for property jumpTo / No widget for property backendcaption"
Seit ein paar Tagen kann ich bestimmte Bereiche in der Metamodels Konfiguration (metamodels2-nightly-tng) nicht mehr erreichen.
Sprich die Rendereinstellungen und Eingabemaskeeinstellungen.

Bei den Rendereinstellungen taucht diese Fehlermeldung auf:

Fatal error: Uncaught exception ContaoCommunityAlliance\DcGeneral\Exception\DcGeneralRuntimeException with message No widget for property jumpTo thr

[2015-03-31 13:37] amenk opened #791 "Fatal Error - service Container is not passed to BaseSubscriber"
siehe hier: https://github.com/contao-community-alliance/dc-general/issues/105

[2015-04-01 05:30] 4lmnts commented on #790
Nach erneuter Installation (fullpackage Metamodels hochladen) und Systemwartung ausführen gings dann wieder.

[2015-04-01 05:30] #790 closed

[2015-04-01 08:19] poutvie commented on #788
Ja, ist behoben. Danke!

[2015-04-01 08:56] poutvie commented on #731
Hier hat sich leider nichts geändert. Ich habe den Rendermode von "flat" auf "hirachical" und zurück geändert. Kein Unterschied. Klemmbrett wird gezeigt und beim Anklicken Fehlermeldung. Wenn ich das sorting auf manuell ändere, sehe ich ausgegraute Einfüge-Klemmbretter.
![produkte](https://cloud.githubusercontent.com/assets/8960545/6937666/477def84-d85d-11e4-9439-09d432869c9e.JPG)

Ich kann aber i

[2015-04-01 09:09] poutvie commented on #731
Noch was: sorting funktioniert nur, wenn ich einen Grouping type angebe. Grouping type "Do not Group" führt zur Sortierung nach id unabhängig davon was in rendersortattr steht.

[2015-04-01 11:17] discordier commented on #791
Das Problem hat sich erledigt, es waren noch Reste eines nightly installiert.

[2015-04-01 11:17] #791 closed

[2015-04-02 15:37] discordier commented on #786
@padgrob Was ergab der Test?

[2015-04-02 15:48] discordier commented on #785
Has been fixed in [contao/core#3.2.20](https://github.com/contao/core/releases/tag/3.2.20), [contao#core/3.4.5](https://github.com/contao/core/releases/tag/3.4.5), [contao/core#3.5.0-beta1](https://github.com/contao/core/releases/tag/3.5.0-beta1)

[2015-04-02 17:35] pju- commented on #784
Using the current nightly and Contao LTS (3.2.20), I still get this error.
Same behaviour as Hauge described: entries are saved, but error message is thrown. Can't clear the new entry from the cache. Emptying the backend/metamodels cache doesn't help either.

[2015-04-02 19:27] discordier commented on #784
Can you provide details on your configuration and maybe also a screengrab of how to reproduce this?
I fixed it together with @cboelter 8 days ago and therefore we thought it would be fixed.

[2015-04-02 20:27] pju- commented on #784
Just did some further testing and it seems connected to visibility conditions.

First off, this is the exact error message:
`Fatal error: Uncaught exception InvalidArgumentException with message Invalid file array thrown in system/modules/metamodels/classes/src/MetaModels/Helper/ToolboxFile.php on line 714`

To reproduce:
3 Models:
- model 2 (slides) with image field - is child of model 1 (but I t

[2015-04-02 20:34] discordier commented on #784
Could you post the whole stack trace instead of only the top message?

[2015-04-02 20:37] pju- commented on #784
Danke für deinen Einsatz!
I just updated the post with a more general test case.

Here is the stack trace, sorry:
[code]

[2015-04-06 09:12] Messa1 opened #792 "Fatal error bei Eingabe- / Ausgabe-Optionen definieren"
Hallo.

Forum:
https://community.contao.org/de/showthread.php?56511-Fatal-error-bei-Eingabe-Ausgabe-Optionen-definieren&p=364858#post364858

Ich habe Contao 3.3.20 am laufen und gerade die heutige nightly installiert.
Davor war nie MM auf der Seite am laufen.

Jetzt bekomme ich folgenden Fehler wenn ich bei meinem MM auf "Eingabe- / Ausgabe-Optionen definieren" klicke. (Siehe Anhang)

[code]
![bil

[2015-04-07 15:04] #698 closed

[2015-04-07 16:47] design23 commented on #740
Meinst Du das hier? Ich sehe da keine Fehlermeldung.
![bildschirmfoto 2015-04-07 um 18 46 30](https://cloud.githubusercontent.com/assets/6112308/7028505/7fb8c97a-dd56-11e4-8c2b-f9726b501b65.png)

[2015-04-07 16:57] design23 commented on #740
Mal in FF mit Firebug geprüft. Als Antwort kommt das:

<br><strong>Fatal error</strong>: Uncaught exception <strong>LogicException</strong> with message <strong>Property files (translatedfile) did not accept the value (The values differ. Encountered type NULL expected array (Found NULL, expected array (
  0 => '+>äÒ,ä¡Î|­ï¥o',
))).</strong> thrown in <strong>composer/vendor/metamodels/core/src/

[2015-04-07 17:20] discordier commented on #792
Should be fixed in next nightly.

[2015-04-07 17:53] discordier commented on #740
Which contao version are you on?

[2015-04-07 18:25] design23 commented on #740
3.2.19

[2015-04-07 18:36] design23 commented on #740
Changed filenames now, because the original files had some "-" and "."
Full path now: files/testfiles/testfile_4.pdf

[2015-04-08 08:06] discordier commented on #683
Das Problem sollte sich weitestgehend erledigt haben, oder?

[2015-04-08 08:09] discordier commented on #645
This has been fixed in tags and select.

[2015-04-08 08:09] #645 closed

[2015-04-08 08:12] #602 closed

[2015-04-08 08:13] #593 closed

[2015-04-08 08:15] discordier commented on #652
Sollte alles tun.

[2015-04-08 08:15] #652 closed

[2015-04-08 08:17] discordier commented on #566
Sollte eigentlich inzwischen funktionieren, oder?

[2015-04-08 08:21] discordier commented on #498
@tim-bec isn't this working already?

[2015-04-08 08:21] discordier commented on #444
2.11 is unsupported.

[2015-04-08 08:21] #444 closed

[2015-04-08 08:28] discordier commented on #312
Er antwortet nicht, also mach ich zu.

[2015-04-08 08:30] discordier commented on #311
No feedback from @stefanheimes and @davidmaack, closing therefore as assumed to be fixed.

[2015-04-08 08:30] #311 closed

[2015-04-08 08:36] discordier commented on #189
Sollte gefixt sein.

[2015-04-08 08:36] #189 closed

[2015-04-08 08:38] #785 closed

[2015-04-08 08:46] Messa1 commented on #792
Funktioniert :+1:

[2015-04-08 09:07] poutvie commented on #731
Habe ein "&act=clear-clipboard" in die URL eingefügt. Bekam dann wieder ein "neuer Datensatz"-Symbol. Beim Anklicken kam wieder das Clipboard-Symbol und folgende Fehlermeldung beim Klick auf Clipboard-Symbol:
[code]
Sorting ist aber angelegt, funktioniert allerdings nicht mit "no Grouping". Nur wenn ich eine Gruppierung angebe, ist die Liste richtig sortiert. Beim Anlegen neuer Datensätze kommt in

[2015-04-08 16:28] #792 closed

[2015-04-10 13:25] fritzmg opened #793 "Backlink not working"
### Problem description

Assume you have two MetaModels, e.g. `mm_items` and `mm_categories` or something similar. Assume you want to create a frontend list that shows you all items of a specific category. Furthermore you have a detail page, where you show the details of a single item. Now assume you want the `jumpTo` link of that single item to point back towards the item list of the category. In

[2015-04-10 15:05] design23 commented on #740
Tested with 3.2.20, error still exists.

[2015-04-11 09:01] MiniModel commented on #430
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@LeoUnglaub could you please have a final look at this and tell if your i

[2015-04-11 09:01] #430 closed

[2015-04-11 09:01] MiniModel commented on #566
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@xantippe could you please have a final look at this and tell if your iss

[2015-04-11 09:01] #566 closed

[2015-04-11 09:01] MiniModel commented on #710
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@AgentCT could you please have a final look at this and tell if your issu

[2015-04-11 09:01] #710 closed

[2015-04-13 07:21] padgrob commented on #786
Sorry, das ich mich jetzt erst melde, war noch im Urlaub, werde es diese Woche testen.

[2015-04-13 09:23] netdrag commented on #784
I get the same error. I have a metamodel with 2 Image fields and I get this error also when I leave this fields empty.

[2015-04-13 14:56] padgrob commented on #786
Mit der bc1acfe funktionierts ohne Fehlermeldung.
Soll ich das Ticket gleich schliessen?

[2015-04-13 16:53] discordier commented on #786
Wenn es erledigt ist, dann ja. :)

[2015-04-14 07:01] #786 closed

[2015-04-14 09:47] Spelmann opened #795 "angepasste Templates werden nicht gefunden"
Hi,
in der Listenansicht der Datensätze im Backend gibt es eine Fehlermeldung, wenn das Attribut ein angepasstes Template verwendet, das nicht im root von "templates" sondern dort in einem Unterverzeichnis liegt.

Meldung: Template not found (it is maybe within a unreachable theme folder?)

Wär es nicht möglich, die Unterverzeichnisse mit zu lesen?

[2015-04-14 10:24] tim-bec commented on #795
Jaein. Siehe https://github.com/MetaModels/core/issues/579

[2015-04-14 10:24] #795 closed

[2015-04-15 02:20] discordier commented on #793
The analysis is correct. Well done @fritzmg. There should be in fact an separate `MetaModelSelect::getFilterUrlValue()`.

[2015-04-15 10:16] janborg commented on #785
Kann ich bestätigen, Fehler tritt in 3.2.20 nicht mehr auf! Danke!

[2015-04-15 18:06] discordier commented on #50
@xantippe Wohnt nun hier: https://github.com/MetaModels/core/blob/tng/src/MetaModels/DcGeneral/Events/Table/InputScreens/Subscriber.php#L308

[2015-04-16 06:07] Kreativsoehne opened #796 "Fatal error: Class 'MetaModels\DcGeneral\Events\BreadCrumb\BreadCrumbDcaCombine' not found in /bachstiftung-beta/system/modules/metamodels/classes/src/MetaModels/DcGeneral/Events/Table/DcaCombine/Subscriber.php on line 46"
Fatal error: Class 'MetaModels\DcGeneral\Events\BreadCrumb\BreadCrumbDcaCombine' not found in ../system/modules/metamodels/classes/src/MetaModels/DcGeneral/Events/Table/DcaCombine/Subscriber.php on line 46

MetaModel nightly-tng zip vom 16.04.2015

[2015-04-16 15:59] KeepFighting15 opened #797 "unique values über mehrere Attribute"
Momentan ist es nur möglich eindeutige Wert für ein Attribut festzulegen. Es wäre schön wenn unique values auch über mehrere Attribute konfigurierbar wären. Momentan geht das nur direkt über die DB mit: ALTER TABLE mm_products ADD UNIQUE KEY `product_key` (`titel`, `leistung`, `speichertyp`,`speichergroesse`,`zubehoer`)
was eine Exception "Query error: Duplicate entry" nach sich zieht. Vielleicht

[2015-04-18 06:25] discordier commented on #797
Das ist leider nicht so trivial wie auf SQL Ebene, da die Attribute ja nicht in einer Tabelle liegen und man somit "von Hand" die Werte aller Attribute holen und miteinander in Verbindung setzen muss.

[2015-04-18 06:27] discordier commented on #796
Das ist doch seit #792 durch e984590eb2bfdfb415b94802c544f705deaa53a7 gefixt?

[2015-04-18 06:28] discordier commented on #796
Feedback bitte in #792 und ggf. dort reopen, aber vorher bitte checken dass das nightly wirklich die Datei nicht beinhaltet.

[2015-04-18 06:28] #796 closed

[2015-04-20 08:27] haendersonfox opened #798 "verbleibende Tags werden nicht ausgeblendet"
trotz der Option "verbleibende Tags" in den Filtereinstellungen werden die nachfolgenden Filterergebnisse nicht angepasst, somit wird die Ausgabe von 0 Ergebnissen forciert...

[2015-04-20 08:29] haendersonfox opened #799 "Ergebnisse zählen"
bei Filtern funktioniert nicht. Es wird nur eine KlammerAufKlammerZu angezeigt…

[2015-04-20 08:33] haendersonfox commented on #799
https://github.com/MetaModels/attribute_select/issues/29

[2015-04-20 08:33] haendersonfox commented on #798
https://github.com/MetaModels/attribute_select/issues/29

[2015-04-21 05:59] xantippe commented on #624
"... lebt denn der alte Holzmichel noch...?... jaaa er lebt noch!" ;-)

Dank für das Lebenszeichen!

[2015-04-21 06:29] xantippe opened #800 "FR: Formatierungsangabe für Ein- und Ausgabe in BE und FE"
Für die Ein- und Ausgabe von Werte wäre die Möglichkeit einer Formatierungsangabe prima. Beispiel Geldwerte: als Datenbanktyp ist üblicher Weise "Double" - beim Erstellen wäre die Angabe der "Präzision" prima - also wie viele Stellen nach dem Komma/Punkt.

Zudem wären Angaben für die "Anzeige im Browser" notwendig - sowohl für das Backend als auch für das Frontend. Um die Sache "Rund" zu machen, w

[2015-04-21 06:36] xantippe commented on #777
@tim-bec: würde das Thema lt. "RoadMap 2.0" nicht eher in Milestone 2.1 passen - sprich "Verbesserungen des Handlings"?

[2015-04-21 06:39] xantippe commented on #752
@poutvie: sorry - auch nach mehrmaligem Lesen komme ich nicht recht dahinter was das Problem ist bzw. man das nachvollziehen kann

ggf. helfen auch ein paar Screenshots, um mich vom "Schlauch zu holen" ;-)

[2015-04-21 06:55] poutvie commented on #752
Kann ich verstehen. Ich weiß auch nicht mehr genau worum es da ging. Ich glaube, ich hatte in einer Mehrfachauswahl als Bezeichner einen Alias des anderen MM verwendet und dann wurde nur ein Datensatz zur Auswahl angezeigt, statt aller möglicher.
Aber es scheint sich mittlerweile erledigt zu haben. Ich kann es nicht mehr nachvollziehen. Es funktioniert mittlerweile wie gewünscht.

[2015-04-21 06:55] #752 closed

[2015-04-21 11:06] KeepFighting15 commented on #797
Die Attribute liegen doch alle in einer Tabelle?! Das dürfte programmatisch relativ einfach zu lösen sein. Eine Abfrage auf alle Attribute in einer Mehrfachauswahl. Ich würde ja selbst Hand anlegen, tue mich mit dem Contao Code aber noch ein wenig schwer.

[2015-04-22 03:46] discordier commented on #797
Die Definition der Attribute eines MetaModels liegt in einer Tabelle (Anm. am Rande diese wird wird obendrein gecached tut aber nicht gross was zur Sache).
Die DATEN hingegen sind weit verteilt und ggf. nicht einmal in einer Tabelle.
Ich habe z.B. Attribute die die Werte via API setzen und holen.
Du musst also dann bei allen Attributen nachfragen ob sie diesen einen Wert haben und wenn ja, bei wel

[2015-04-22 03:48] discordier commented on #800
Betrifft das ausser decimal yberhaupt ein anderes Attribut?

[2015-04-22 05:53] xantippe commented on #800
hmmm...?? mal überlegen:
* Integer mit Tausender-Trenner

mehr fällt mir im Moment nicht ein

[2015-04-22 10:29] pointout opened #801 "manuelle Sortierung Tags (checkbox wizard)"
Contao 3.2.19
metamodels/core 	dev-tng (85826a73)
contao-community-alliance/dc-general 	dev-develop (3aaa54f1)

Ich habe 2 Metamodels (products, lexicon)
In products hole ich mir die Einträge aus lexicon als tags und würde die gerne für die Ausgabe sortieren. Habe daher checkbox-wizard gewählt. Beim Umsortieren erhalte ich eine Fehlermeldung beim Speichern, dass der Key nicht stimmt:
![manuelle-so

[2015-04-22 10:54] Fr3d83 opened #802 "Fehler beim erstellen von neuen Datensätzen"
Hi,
ich bekomme folgende Fehlermeldung wenn ich einen neuen Datensatz erstelle:
Code:
[code]

Komisch ist nur, Bestehende Datensätze kann ich ändern und ohne Probleme abspeichern.
Auch wenn ich einen neuen Datensatz erstelle, bekomme ich die Fehlermeldung von oben, jedoch wurde der Datensatz gespeichert, wenn ich ihn jetzt bearbeite, kann ich ihn ohne Problme wieder Speichern, woran liegt das?
Hab

[2015-04-22 12:14] tim-bec commented on #802
Wenn Du mit Composer arbeitest, versuche mal bitte den DCG General dev-develop branch.

[2015-04-22 12:21] Fr3d83 commented on #802
Was heißt den genau, mit Composer arbeiten?

[2015-04-22 12:21] tim-bec commented on #802
https://c-c-a.org/ueber-composer

[2015-04-22 12:24] Fr3d83 commented on #802
Ah ok, nein, ich habe es händisch über FTP Client gemacht.

[2015-04-22 18:42] MacKP commented on #798
Hier mal der Link zu dem Forenthread https://community.contao.org/de/showthread.php?56775-verbleibende-Ergebnisse-Ergebnisse-z%E4hlen&p=366813&viewfull=1#post366813

[2015-04-23 05:58] Fr3d83 commented on #802
Soll ich jetzt den DCG General dev branch installieren?

[2015-04-23 08:12] poutvie commented on #802
dürfte das selbe sein wie:  #768

[2015-04-23 08:50] Fr3d83 commented on #802
Dafür gibts es bis jetzt ja auch noch keinen fix, oder?

[2015-04-23 10:11] poutvie commented on #802
@Fr3d83: nein

[2015-04-23 11:07] Fr3d83 commented on #802
Also heißt es jetzt auf ein neues nightly warten oder wie verfahre ich jetzt am besten?

[2015-04-23 12:39] pointout opened #803 "Tag List lässt sich nicht komplett leeren. Wenn ich auf Checkbox Menü umstelle, geht es."
Contao 3.2.19
metamodels/core 	dev-tng (85826a73)
contao-community-alliance/dc-general 	dev-develop (3aaa54f1)

Ich habe eine Mehrfachauswahl (uas anderem MM) in den Eingabemaskeneinstellungen als Tag List angelegt. So kann ich in der Eingabe nicht mehr alle Tags aus dem Feld löschen. Eines bleibt über. Sprich: Ich lösche es und nach dem Speichern ist es wieder in der Tag List.
Wenn ich auf Checkb

[2015-04-23 15:48] MacKP commented on #799
Wird daran liegen (hat Xtra gerade eben gesehen): count value ist ID der key und bei options der Alias

Muss dann 'nur' noch behoben werden ;-)

[2015-04-24 15:54] Znrl opened #804 "Manuelles Sortieren (Eingabemaske) im Backend - seltsames Verhalten"
Sortierungseinstellungen (Eingabemaske)

1. Es können mehrere Sortierungseinstellungen als "Is default" markiert werden

2. Manuelles Sortieren  KEIN default (Spalte "sorting")
Es werden nur dann Werte für sorting in die Datenbank geschrieben, wenn die Manuelle Sortierung "default" ist.
Will man Backendusern die Möglichkeit geben die Einträge nach mehreren Kriterien zu Sortieren (manuell, verschie

[2015-04-27 10:29] Creational commented on #784
Same here ...

[code]

[2015-04-28 07:18] Fr3d83 commented on #802
Gibt es schon was neues?

[2015-04-28 15:28] padgrob opened #805 "Fehler beim Anzeigen der Seitenstruktur (tl_page) mit dem Attribut "Mehrfachauswahl" und der Einstellung "Display as picker popup""
Wenn ich beim Attribut "Mehrfachauswahl" auf die tl_page verweise und dann in der BE Erfassung die Option "Display as picker popup" auswähle erhalte ich im Backend fogende Fehlermeldung.

Fehlermeldung 1: erscheint wenn ich den Datensatz bearbeiten möchte.
![error1](https://cloud.githubusercontent.com/assets/11654144/7373185/4fc0d872-edcb-11e4-8fe5-87881542b54f.PNG)

Fehlermeldung 2: erscheint wen

[2015-04-28 17:06] discordier commented on #805
Problem ist dass irgendein listener beim `ModelToLabelEvent` ein label/eine Argumentliste setzt welches nicht zur Argumentliste/zum Label passt.

@stefanheimes Wir myssen mal die listener evaluieren, welche da alle im Spiel sind.

[2015-04-30 11:38] pointout opened #806 "Filter Einzelauswahl mit Standardwert auf eine Mehrfachauswahl mit translated Alias funktioniert nur einsprachig"
contao 3.2.19
metamodels/core 	dev-tng (85826a73)
contao-community-alliance/dc-general 	dev-develop (3aaa54f1)

2 MM
in einem wird eine Mehrfachauswahl auf das zweite MM als Feld mit einem translated Alias als Alis für die Mehrfachauswahl angelegt.
![einzelauswahl-feld](https://cloud.githubusercontent.com/assets/8960545/7411831/18897888-ef3c-11e4-8e72-496dabbe1f9e.JPG)

Ein FE Filter mit Einzelaus

[2015-05-06 13:22] amenk opened #807 "MetaModels breaks automator"
Steps to reproduce:

me@myhost:~/local-workspace/example/public/system/bin$ php automator -h
- No Output.

I debugged that and found, that it is running into a redirect which does an exit.

This should not only be fixed for the automator but for all (in our case a custom) shell scripts that might run.

![screenshot_selection_005](https://cloud.githubusercontent.com/assets/1087128/7493728/8f007bda-

[2015-05-06 13:45] discordier commented on #807
I have no way to tell apart that your Backend is not the Backend but a shell script.
I could however deactivate MetaModels in PHP_SAPI cli.
This will however break the use of MetaModels from shell scripts altogether.

I again hate it that we do not have an additional TL_MODE like "automator" or "cron"... *sigh*

[2015-05-06 13:46] discordier commented on #807
sidenote: the redirect is not the fault of MetaModels but of the Contao core which redirects to the login screen and exits when trying to authenticate the user. This issue keeps biting me every few months.

[2015-05-11 09:05] Creational commented on #784
Gibt es hier schon irgendwas Neues?

Bei mir scheint der Fehler aufzutreten, wenn mehr als ein Datei-Attribut im Metamodel existiert. Bei nur einem Datei-Attribut funktioniert das Speichern des Datensatzes in allen Konstellationen (Anpassen des Dateibaums, Nur Dateien, Mehrfachauswahl) einwandfrei.

Mein Konfiguration ist:
- Contao 3.4.4
- Übersetztes Metamodel
- ca. 50 Attribute, davon 6 Datei-At

[2015-05-12 21:41] Aybee commented on #776
Sorting will not work even if grouping is selected. It only seams to work as it gets sorted ascending.

Create **one sorting asc** and **one sorting desc**. Try to switch between them with the select. Nothing happens.

Tested on:
- Contao 3.4.5
- three minor extensions (deactivated)
- Nightly from 12.05.2015
- metamodels/core                                  dev-tng @ 1f4fd6        2015-05-05 21:5

[2015-05-13 09:31] denunv commented on #803
Kann das Problem leider reproduzieren. Gibt es dazu schon einen Lösungsansatz?

[2015-05-15 11:08] JT-007 opened #808 ""Ergebnisse zählen" gibt nur leere Klammern aus"
Hallo zusammen,

ich habe das Problem, dass bei Mehrfachauswahl Filtern welche auf ein Tag Feld verweisen in der Klammer nach dem Label nichts ausgegeben wird obwohl die Option "Ergebnisse zählen" aktiv ist.

System:
Contao 3.4.5
DCG 2.0.0-beta23
metamodels/core dev-tng (1f4fd69b)
metamodels/bundle_all 1.0.1

Lg,
JT

[2015-05-15 12:51] elebar opened #809 "Fehler beim Erstellen eines Alias eines Metamodels"
MacKP bat mich ein Ticket zu erstellen. Habt Nachsicht, es ist mein erstes.
Ich habe einen neuen Stand Contao 3.2.20 mit MetaModels aufgebaut, via ftp, und dort ein MetaModel Orte angelegt. Beim Erfassen des Attributs Alias bekam ich schon beim Speichern und schließen den Fehler:
<pre><code>Fatal error: Uncaught exception ContaoCommunityAlliance\DcGeneral\Exception\DcGeneralRuntimeException with m

[2015-05-15 13:04] Aybee opened #810 "!metamodels-tng-branch config.php produces invalid HTML ID"
[code]
results in
[code]
You can use this one
[code]
*Wird !metamodels-tng-branch eigentlich hier auf github verwaltet, oder kann ich das nicht finden, weil das dynamisch erzeugt wird? Kann ich bei der manuellen Installation ohne Composer auch auf diesen Ordner verzichten?*

[2015-05-16 15:57] pju- commented on #784
Ich hab ein bisschen gegraben. Was ich herausgefunden habe, betrifft nur den Fall, den ich beschrieben habe: es gibt ein Select-Attribut, das als visibility condition für das File-Attribut fungiert:

In diesem Fall tritt der Error auf, wenn man das Auswahl-Attribut umstellt und daher das File-Attribut nicht mehr sichtbar ist.

Beim speichern wird `MetaModels\MetaModel->saveAttribute($objAttribute,

[2015-05-21 10:03] inred-froehlich commented on #784
pju hat recht, der Fehler liegt in der Datei "metamodels\attribute_file\src\MetaModels\Attribute\File" Zeile 113 in der Funktion "serializeData".

Dort einfach in der ersten Zeile der Funktion "if(is_null($mixValues)) return $mixValues;" einfügen.

[2015-05-23 10:16] AgentCT opened #811 "Rendereinstellung: Probleme beim Kopieren"
1. Problem
   Das Kopieren der Rendereinstellung ist möglich und funktioniert auch fast fehlerfrei, jedoch werden die enthaltenen Felder nicht mit kopiert. Die neue Rendereinstellung bleibt leer. Das ist suboptimal, die Kopierfunktion ist somit eigentlich nutzlos ;)
2. Verbesserungsvorschlag
   Außerdem müsste eine Bezeichnung wie "Kopie" an die neue Rendereinstellung gefügt werden, sonst sucht ma

[2015-05-23 18:30] AgentCT opened #812 "Sortierung wird bei Rendereinstellung nicht übernommen"
Sortiert man die Reihenfolge der einzelnen Attribute bei MM unter Attribute, wird die Sortierreihenfolge bei den Rendereinstellung nicht übernommen. Stattdessen werden die Felder (Attribute) der Reihenfolge nach angezeigt, wie sie ursprünglich angelegt wurden.

Könnte Ihr bitte die Sortierreihenfolge bei der Anlage der Attribute unter Rendereinstellung übernehmen.

[2015-05-26 09:02] JT-007 commented on #808
Ich habe nun raus gefunden weshalb das Ergebnisse zählen nicht korrekt funktioniert. Um beim Filtern in der URL den Alias des Eintrags zu verwenden habe ich bei der Filtereinstellung "Alias der Mehrfachauswahl" den alias genommen. Die Zuweisung der Anzahl erfolgt aber, soweit ich dies nun gesehen habe, über die ID des Eintrags. Wenn man bei "Alias der Mehrfachauswahl" die ID wählt wird der Counter

[2015-05-26 14:13] mhammerschmidt opened #813 "BE Listenansicht anpassen"
Ich möchte im Backend in der Tabelle der Metamodels die Ansicht der Einträge zweispaltig erzeugen.
Mit Typ und Name als Spaltenüberschrift.

Durch das Anpassen des entsprechenden Templates bekomme ich die Ansicht zweispaltig. Allerdings steht die Bezeichnung und der Typ jedes Eintrages immer dabei und ich bekomme die Spaltenüberschrift nicht hinein.

Wenn ich in der DefaultListingConfig.php getSho

[2015-05-26 14:15] MacKP commented on #813
Hallo @mhammerschmidt Fragen bitte im Forum klären.
(Ich würde da ja mit CSS Sachen ausblenden etc.).

Viele Grüße

[2015-05-28 07:44] mhammerschmidt commented on #813
Wäre es möglich dieses Problem in MM 2.1 auf zu nehmen?
https://community.contao.org/de/showthread.php?57312-BE-Listenansicht-anpassen

[2015-05-28 08:43] tim-bec commented on #813
Da wir aktuell selbst keine Verwendung für dieses Feature haben, setze ich das mal auf die "Feature" Liste. Wir haben leider immer noch zu viele Baustellen um mit der 2.1 überhaupt anfangen zu können.

[2015-05-28 10:07] xantippe commented on #813
@MacKP: mit CSS kommt man da nicht so richtig ran - da müsste man m.E. schon heftig mit Javascript das DOM umbauen...

@tim-bec: ich hätte für die Tabellenansicht immer eine Verwendung - im Forum gabe es dazu auch schon von verschiedener Seite Anfragen.

Bei den meisten "CRUD-Systemen" gibt es als Standard eine Tabellenansicht + "Arbeitsspalte" rechts mit Bearbeiten, Löschen usw. - auch ein variab

[2015-05-28 10:15] amenk commented on #813
Die showColumns() Geschichte gibt es ja auch schon in Contao bei normalen DCA und im DcaGeneral ist das in DefaultListingConfig ja auch schon vorgesehen.

[2015-05-28 10:18] tim-bec commented on #813
Wir nehmen Pull-Requests liebend gern an :-)

[2015-05-30 16:25] Aybee commented on #312
Ich denke ich habe hier mehr oder weniger das Gleiche. Vorab eine Frage: Welchen Wert soll **count** anzeigen, den allgemeinen (total) oder den **nach** der Filterung?

Beispiel mit **multiselect**:
- **trader A**
  - apples
  - pears
- **trader B**
  - apples
  - plums
- **not filtered**
  - apples 2
  - pears  1
  - plums  1
- **filtered by pears** (current solution)
  - apples **2**
  - pears

[2015-05-30 20:16] MacKP commented on #312
So war es und so sollte es eigentlich auch wieder sein : Es wird immer das gezählt, was NACH der Filterung raus kommt (sonst wäre es nutzlos, da ja auch Items gezählt werden würde, die nicht im Frontend ausgegeben werden sollen).

Viele Grüße

[2015-05-31 12:19] Aybee commented on #312
Hallo Marc, das ist fein, dann kann ich dem Kunden sagen, dass das irgendwann korrigiert wird.

Muss natürlich drauf geachtet werden, dass das nur bei multiselect ist (checkboxes). Bei singleselect (radios) würde bei Auswahl eines anderen radios das momentane radio ja wieder deaktiviert.

Kann jemand das Ticket dann bitte wieder öffnen?

[2015-06-03 10:00] Messa1 commented on #624
Wie sieht es mit einem Update aus? Wie weit seit ihr?

[2015-06-08 06:30] valentin- commented on #784
Der Fehler ist bei mir durch die Änderung in der File.php auch behoben.

[2015-06-10 16:59] fritzmg opened #815 "Order of MetaModels within existing backend modules"
I realize that it's probably not easily possible to truly customize the exact order where the MetaModels should appear in existing backend modules (e.g. within the content module) - however, in past versions of MetaModels, the MetaModels were inserted at the bottom of the the module (as evidenced by the old Wiki entry: http://de.contaowiki.org/images/de/1/1d/Mm_backend_erfassen.png) - now they are

[2015-06-11 07:05] xantippe commented on #815
1+

[2015-06-11 08:17] amenk commented on #813
Ja ... wir haben nicht so viel Erfahrung mit dem MetaModels Code. Für wie aufwändig haltet ihr das ganze? Evtl. würden wir auch dafür bezahlen.

[2015-06-12 16:36] amenk opened #816 "Lösch-Funktion für Sprachversion"
Es sollte einen Button geben um eine Sprachversion aus der Datenbank zu löschen.

[2015-06-15 16:38] discordier commented on #815
Problem here is, that then we would effectively kill any `dcaconfig.php` manipulations.

The problem here is, that we are merging two arrays here, the BE config and the config built by MetaModels (and most likely obtained from the cache).
Right now we are using this for every backend menu section:
[code]
If we change the parameter order, we would end up having the desired order, however we will lo

[2015-06-15 19:26] xantippe commented on #815
und was ist bei
```$GLOBALS['BE_MOD'][$section] = array_merge_recursive($GLOBALS['BE_MOD'][$section], $entries); ```
?

[2015-06-16 03:33] discordier commented on #815
As written above, we will overwrite the settings from other extensions/`dcaconfig.php` then.

[2015-06-16 03:33] discordier commented on #816
=> DCG feature request.

[2015-06-16 03:34] #816 closed

[2015-06-16 07:10] amenk commented on #816
Hast du bei DCG schon einen Feature Request gemacht oder soll ich das machen?

[2015-06-16 20:44] discordier commented on #816
Mach du bitte.

[2015-06-17 08:13] fritzmg commented on #815
Hm, I don't understand, as far as I have tested it, we cannot alter the MetaModels DCA anyway in any dcaconfig.php. Which manipulations are you referring to?

[2015-06-18 07:03] xantippe commented on #30
1+

[2015-06-19 10:04] psren commented on #737
Gibt es hierfür eine Lösung?
Wo sind denn insgesamt die Sortiereinstellungen für die Models hin??

[2015-06-19 11:11] tim-bec commented on #737
@psren https://metamodels.readthedocs.org/en/latest/manual/first-metamodel.html#grouping-and-sorting-settings

[2015-06-19 13:42] discordier commented on #784
The correct fix is given by @pju- in https://github.com/MetaModels/core/issues/784#issuecomment-102642859.
The `isset` was wrong there, see the comment in https://github.com/MetaModels/core/commit/cbbe4a1b163e1a01045a0849f4e5a81145f7c24b#diff-10016bad386a85c50b7e697ab5abdacbR445.

[2015-06-22 14:01] MiniModel commented on #784
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@Hauge could you please have a final look at this and tell if your issue

[2015-06-22 14:59] discordier commented on #815
You should still be able to alter stuff via dcaconfig.php. It just isn't the recommended way anymore as we have events now for building the data containers.

[2015-06-22 20:31] discordier commented on #551
Save & go back should be implemented with https://github.com/contao-community-alliance/dc-general/commit/581c9c76c79c742143a3d4a101239e81961c5f30
@xantippe is the other issue still present?

[2015-06-22 21:23] fritzmg commented on #815
Actually no - at least not always. If you use the metamodelsboilerplate for instance and insert something like
[code]
into your `dcaconfig.php`, then you will notice the following behavior (at least when the internal cache is disabled):

* when you log into the backend, i.e. when you are on the start page of the backend, the array will be empty
* if you click on _Articles_, the array will be fille

[2015-06-22 22:26] pju- commented on #784
Sorry, I did some testing but I'm afraid I was mistaken.

While my described solution indeed might get rid of some bugs, it doesn't solve the problem completely. In my specific case as described in https://github.com/MetaModels/core/issues/784#issuecomment-89035016, it only works if the item has been saved once before.

Else, if there is a file-attribute, but it is not visible, it will not be part

[2015-06-23 02:22] discordier commented on #784
Well your solution got rid of the root problem why the values were improperly converted to null.

I think I can follow your point about the "hidden" attribute when posting a new item. In that case, the value will be null. However, when loading from Database, the value should be properly handled by the file attribute in the `deserializeData` method (as `NULL` is the default value in the database an

[2015-06-23 08:24] MacKP opened #819 "too few parameters when empty default value in custom SQL filter."
With `'` it works -> `name=auto_item&default=''`

Error Message:
[code]

Viele Grüße

[2015-06-23 08:35] hippc opened #820 "Filter-Selectfeld für das Frontend aus Filtereinstellungen"
Ein schönes Feature könnte sein, wenn es möglich ist die Filter aus den Filtereinstellungen per Select Feld im Frontend anwenden zu können. Dann wäre es z.B. auch möglich SQL-Filter mit einem Klick auf die Frontendliste anzuwenden, und würde es u.U. manchmal ersparen den Filterparameter immer als Attribut in einem seperaten MM anlegen zu müssen.

[2015-06-24 09:03] dmolineus commented on #668
Gerade getestet. Paste top, paste into, paste after funktionieren inzwischen einwandfrei.

[2015-06-24 09:19] dmolineus commented on #496
Any solution ideas here @discordier? I would fix it, if we agree on a solid solution. I would suggest to use an dot or two underscores as separator between table and property. The huge drawback would be the backwards compatibility.

[2015-06-25 09:18] jgrotstabel commented on #128
Hallo zusammen,
gibt es eine ungefähre Ansage, wann mit der Integration der MetaModels Ergebnissseiten in den Contao-Suchindex zu rechnen ist?
Da oben sind ja alle Punkte unter Workflow und Umsetzung abgehakt.
Kurze Info wäre sehr Hilfreich, wir hegen den Gedanken Euer tolles Tool für ein Projekt einzusetzen und daran auch mal ausgiebig zu testen. Die Suche wäre dafür extrem von Vorteil ;-)
Viele

[2015-06-25 10:00] tim-bec commented on #128
Das pinge ich mal in Richtung @stefanheimes :-)

[2015-06-25 15:41] amenk commented on #813
Habs schonmal geschafft die Header ausgeschrieben anzuzeigen.
https://github.com/contao-community-alliance/dc-general/pull/130

Sind aber noch zu viele. Felder wie "sorting" sind auch dabei.

Und ich muss noch rausfinden, wie ich \ContaoCommunityAlliance\DcGeneral\DataDefinition\Definition\View\DefaultListingConfig::getShowColumns beeinflussen kann. Momentan hab ich da return true; reingeschrieben

[2015-06-25 15:52] amenk commented on #813
Noch einer: https://github.com/contao-community-alliance/dc-general/pull/131

[2015-06-25 21:01] MiniModel commented on #551
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@xantippe could you please have a final look at this and tell if your iss

[2015-06-25 21:01] #551 closed

[2015-06-25 23:01] MiniModel commented on #743
This issue has been labeled with "testing" but got no feedback.

We are reliant on feedback to prove a ticket fixed as we can not tell if the ticket has been
resolved if we receive no feedback.
I will close this ticket now, as I assume it has been resolved.
If the ticket should still be valid, please feel free to reopen it.

@cboelter could you please have a final look at this and tell if your iss

[2015-06-26 04:39] xantippe commented on #551
ich sehe zu, das so schnell wie möglich zu testen...

[2015-06-26 16:17] tim-bec commented on #624
Ein Lebenszeichen:

@netzmacht arbeitet seit dieser Woche mit an MetaModels und hat schon einige Bugs beseitigt und lang vermisste Features ( copy & paste!) implementiert. Da das ganze im DCG und MetaModels hängt wird das zusammenfügen noch etwas dauern. Nach dem ausmerzen steht noch die große Runde Version-Tagging und Branch renaming an. Dann haben wir aber eine 2.x - bleibt neugierig :-)

[2015-06-26 16:33] xantippe commented on #624
Wow! ick freu mir...

[2015-06-26 18:37] pagestyles commented on #624
made my day!

[2015-06-26 19:04] discordier commented on #624
@xantippe MM 2.X ist bislang nur bis 3.4 freigegeben, du kannst aber gerne einen nightly in eine 3.5 ziehen und Bugs reporten. Geplant ist es, dass wir uns fyr 3.5 oeffnen, aber bis wir alle dependencies soweit haben, das schleicht.

Je mehr PRs usw. wir auch bei den CCA Projekten bekommen, desto schneller geht es.

[2015-06-26 19:38] discordier commented on #815
I guess you are mixing things up here a little.

I was referring to manipulating the dcas via dca_config (like changing input fields etc.) and not modifying the backend menu after MetaModels has been injected.

This is a race condition here, as if we would load the dca_config after building our menu, you will not be able to create a new backend section via dca_config (like in the boilerplate) to h

[2015-06-26 19:39] discordier commented on #819
default value should default to `null` when key `default` is present but no value given.

[2015-06-26 19:44] discordier commented on #496
@dmolineus Swap:
[code]
with
[code]
And we should be all set, sorry that I totally forgot about this issue.

[2015-06-26 20:28] cyberlussi commented on #743
Hi,
Great a fix for that issue! Unfortunately the fix does only works for "manual sorting", once you sort by a field e.g. date, no paste button appears.

[2015-06-26 22:01] xantippe commented on #624
o.k. - wollte nur mal wissen, ob 3.5 in Planung oder aussen vor...

[2015-06-27 04:49] discordier commented on #743
@dmolineus Can you have a furthe look into this?

[2015-06-27 05:19] discordier commented on #810
1. Is this still valid? If so, can you explain in more detail what the problem is? Is the backend menu broken?
2. How to reproduce? For me it renders just fine in the backend.
3. The module `!metamodels-tng-branch` is generated by the nightly build job via https://github.com/cyberspectrum/nightly-builder and therefore has no custom repository on it's own.

[2015-06-27 14:01] Aybee commented on #810
Do you have this ID in BE? "Nightly builds"? This is an invalid ID.

Seems that the ID gets build from this key `$GLOBALS['BE_MOD']['Nightly builds']`. That's why I proposed to rename this key to `$GLOBALS['BE_MOD']['nightlyBuilds']`.

I can not reproduce why and in which situation I stumbled upon this invalid ID.

[2015-06-29 08:44] dmolineus commented on #743
@discordier I'm working on it.

[2015-06-29 11:16] dmolineus commented on #496
I applied the changes in https://github.com/MetaModels/core/issues/823. It's not merged into tng yet. Would be nice if someone with this issue would conform this fixes the bug because I couldn't reproduce it (propably missed something of the special configuration where it occurs).

[2015-06-29 16:57] discordier commented on #810
You are right, there is no language key defined.
See https://github.com/cyberspectrum/nightly-builder/blob/dd1cf6f55cb446ce501f97a181c2ccce4295f43a/src/CyberSpectrum/Command/BuildCommand.php#L803
https://github.com/cyberspectrum/nightly-builder/blob/dd1cf6f55cb446ce501f97a181c2ccce4295f43a/src/CyberSpectrum/Command/BuildCommand.php#L917